In [35]:
import pandas as pd
import numpy as np

### Error in CLeaned for analysis all data found. Need to address before further progress can be made. Na's and out of orders show up in our new columns. This appears to come from the process of making Cleaned_For_Analysis_All_Data.csv

In [36]:
df = pd.read_csv('../Created CSVs/Cleaned_For_Analysis_All_Data.csv')

In [37]:
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis =1)

In [38]:
df.head()

,Date,Time,Weather & Air Temp:,Water Temp:,Tide Times,Tide is moving,DO,pH,Salinity,Turbidity,...,"Other info (Gender, Length, Dead/Alive, other physical description)",NOTES FROM SEINEING SEASON:,Corrected pH,Corrected Water Temp:,Corrected Salinity,Corrected DO,Corrected Quantity,Corrected # Hauls,Grouped Corrected Common Name,Corrected Common Name
0,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,tunicates,sea squirt
1,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,shrimp,shore shrimp
2,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,shrimp,mantis shrimp
3,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,shrimp,sand shrimp
4,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,hermit crab,unidentified hermit crab

In [39]:
grouped_df = df.groupby('Date')

In [62]:
",".join(list(grouped_df.get_group('2011-07-12')['Grouped Corrected Common Name']))

'blue crab,comb jelly,spider crab,jellyfish,tunicates,sea snail,atlantic silverside'

In [41]:
for col in grouped_df.get_group('2011-07-12').columns:
    print col

Date
Time
Weather & Air Temp:
Water Temp:
Tide Times
Tide is moving
DO
pH
Salinity
Turbidity
# student seiners (CLASSES ONLY)
# of visitors (Public Seine ONLY)
Instructors/ Seine Staff:
# Hauls
Scientific Name
Common Name
Quantity
# Brought to Ed Center
Other info (Gender, Length, Dead/Alive, other physical description)
NOTES FROM SEINEING SEASON:
Corrected pH
Corrected Water Temp:
Corrected Salinity
Corrected DO
Corrected Quantity
Corrected # Hauls
Grouped Corrected Common Name
Corrected Common Name

In [42]:
from collections import defaultdict

In [43]:
dict_df = defaultdict(list)

In [44]:

for date in grouped_df.groups:
    for col in grouped_df.get_group(date).columns:
        if col in ['Grouped Corrected Common Name','Corrected Common Name','Corrected Quantity', 'Common Name', 'Quantity']:
            dict_df[col].append(",".join([str(x) for x in list(grouped_df.get_group(date)[col])]))
        else:
            dict_df[col].append(list(grouped_df.get_group(date)[col])[0])

In [52]:
combined_df =  pd.DataFrame(dict_df)

In [53]:
combined_df.columns

Index([u'# Brought to Ed Center', u'# Hauls',
       u'# of visitors (Public Seine ONLY)',
       u'# student seiners (CLASSES ONLY)', u'Common Name',
       u'Corrected # Hauls', u'Corrected Common Name', u'Corrected DO',
       u'Corrected Quantity', u'Corrected Salinity', u'Corrected Water Temp:',
       u'Corrected pH', u'DO', u'Date', u'Grouped Corrected Common Name',
       u'Instructors/ Seine Staff:', u'NOTES FROM SEINEING SEASON:',
       u'Other info (Gender, Length, Dead/Alive, other physical description)',
       u'Quantity', u'Salinity', u'Scientific Name', u'Tide Times',
       u'Tide is moving', u'Time', u'Turbidity', u'Water Temp:',
       u'Weather & Air Temp:', u'pH'],
      dtype='object')

In [57]:
combined__df[['Date','Time','Weather & Air Temp:','Water Temp:','Corrected Water Temp:','pH','Corrected pH','DO',
              'Corrected DO','Turbidity','Salinity',
              'Corrected Salinity','Tide is moving','Tide Times','Common Name', 'Corrected Common Name', 
              'Grouped Corrected Common Name', 'Quantity', 'Corrected Quantity']]

,Date,Time,Weather & Air Temp:,Water Temp:,Corrected Water Temp:,pH,Corrected pH,DO,Corrected DO,Turbidity,Salinity,Corrected Salinity,Tide is moving,Tide Times,Common Name,Corrected Common Name,Grouped Corrected Common Name,Quantity,Corrected Quantity
0,2011-07-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlantic Silverside,blue crab,comb jellies,dec...","blue crab,comb jelly,spider crab,moon jelly,se...","blue crab,comb jelly,spider crab,jellyfish,tun...","5,2,40,1,5,10,10","5,2,40,1,5,10,10"
1,2011-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlantic Silverside,bay anchove,comb jellies,s...","bay anchovy,comb jelly,unidentified shrimp,uni...","bay anchovy,comb jelly,shrimp,sea snail,white ...","3,2,20,1,1,1","3,2,20,1,1,1"
2,2011-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"anchovy,Atlantic Silverside,comb jellies,green...","atlantic silverside,comb jelly,green crab,hydr...","atlantic silverside,comb jelly,green crab,hydr...","5,18,60,1,1,30,1,15,10,4,1,1","5,18,60,1,1,30,1,15,10,4,1,1"
3,2011-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlantic Silverside,blue crab,comb jellies,hog...","blue crab,comb jelly,hogchoker,atlantic silver...","blue crab,comb jelly,flatfish,atlantic silverside","5,1,20,1","5,1,20,1"
4,2010-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"silversides,oyster toad fish,anemone,comb jell...","oyster toadfish,anemone,comb jelly,asian shore...","oyster toadfish,anemone,comb jelly,asian shore...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1"
5,2010-06-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Comb jellies (ctenophores),true jellies,atlant...","jelly fish,atlantic silverside,northern pipefi...","jellyfish,atlantic silverside,northern pipefis...","nan,nan,nan,nan,nan","1,1,1,1,1"
6,2009-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Lion's mane Jellyfish (Cyanea capillata),Green...","green crab,atlantic silverside,seahorse,northe...","green crab,atlantic silverside,northern seahor...","nan,nan,nan,nan,nan","1,1,1,1,1"
7,2015-07-13,1:17 PM,Not taken,Not taken,NaN,not taken,NaN,Not taken,NaN,NaN,not taken,NaN,NaN,NaN,"Blue crab,asian shore crab,Atlantic Herring,At...","atlantic herring,atlantic silverside,atlantic ...","herring,atlantic silverside,atlantic silversid...","1,3,3,10","1,3,3,10"
8,2015-07-10,10:45 AM,84F,26 C,78.8,7,7.00,DO 4,4.0,NaN,36,36.0,NaN,NaN,"Summer Flounder,Atlantic Silverside,Winter flo...","winter flounder,blue crab,box crab,northern pi...","flatfish,blue crab,box crab,northern pipefish,...","1,23,1,1,1,1,1,9,1","1,23,1,1,1,1,1,9,1"
9,2015-07-11,NaN,Not taken,Not taken,NaN,7,7.00,DO 4,4.0,NaN,1,1.0,NaN,NaN,"lady crabs,Blue crabs,Striped Bass (6-8''),Atl...","striped bass,atlantic herring,unidentified her...","striped bass,herring,hermit crab,atlantic silv...","2,2,5,1,2,12,2,1,nan,4,1,1,2","2,2,5,1,2,12,2,1,1,4,1,1,2"
10,2017-06-09,3:30 PM- 5:00 PM,"90 F @ 3PM, 81 F @ 5 PM","66 F @ 3 PM, 63 F @ 5PM",66.0,"7, 7 (two tests by students)",7.00,"4, 0 (two tests by students)",4.0,Did not perform,"23, 22 ppt",23.0,IN,"High Tide: 9:44 PM, Low Tide: 3:23 PM","YOY Blueback Herring *,Comb Jelly,Striped Bass...","sand shrimp,asian shore crab,glass shrimp,mud ...","shrimp,asian shore crab,shrimp,sea snail,herri...","38,20,1,1,2,16,1,1,2","38,20,1,1,2,16,1,1,2"
11,2012-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlantic Silverside,Blue Back,Blue Fish,Comb J...","blueback herring,bluefish,comb jelly,northern ...","herring,bluefish,comb jelly,puffer,tunicates,b...","50+,1,1,25+,1,3","50,1,1,25,1,3"
12,2017-06-03,10:00 AM- 11:30 AM,"68 F @ 9:45 AM, Cloudy","59 F @ 9 AM, 62 F @ 10 AM",59.0,did not perform,NaN,9,9.0,"20.4 cm, 40 NTU",22 ppt (w/ hydrometer and refractometer),22.0,OUT,"High Tide: 4:53 AM, Low Tide: 10:54 AM","Comb Jelly,Atlantic Menhaden,YOY Blueback Herr...","shore shrimp,mud snail,oyster drill snail,blue...","shrimp,sea snail,sea snail,blue crab,asian sho...","TMTC,1,14,1,1,2,3,1,1,2,unknown","30,1,14,1,1,2,3,1,1,2,1"
13,2015-09-12,2-3:30 PM,78 F Sunny,Not Taken,NaN,pH 7,7.00,DO 5,5.0,NaN,Not Taken,NaN,NaN,NaN,"Porgy,Atlantic Silverside,Northern Pipefish,Bl...","northern pipefish,blue crab,shore shrimp,winte...","northern pipefish,blue crab,shrimp,flatfish,bl...","23,201,2,1,1,2,1,2,2","23,201,2,1,1,2,1,2,2"
14,2011-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"anchovy,blue crab,comb jellies,herring,shrimp ...","blue crab,comb jelly,unidentified herring,unid...","blue crab,comb jelly,herring,shrimp,striped ba...","73,1,2,3,1,1","73,1,2,3,1,1"
15,2014-06-21,10 am - 11:30 pm,"Sunny, upper 70's",Not taken,NaN,Not taken,NaN,Not taken,NaN,NaN,Not taken,NaN,NaN,NaN,"Atlantic Silverside,Atlantic Tomcod,Shore shri...","shore shrimp,unidentified flatfish,comb jelly,...","shrimp,flatfish,comb jelly,atlantic menhaden,h...","1,2,3,2,Numerous","1,2,3,2,30"
16,2010-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlantic silverslide,Comb jellies","comb jelly,sand shrimp","comb jelly,shrimp","nan,nan","1,1"
17,2011-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"anchovy,Atlantic Silverside,blue crab,comb jel...","atlantic silverside,blue crab,comb jelly,green...","atlantic silverside,blue crab,comb jelly,green...","6,10,3,25,2,1,2,1,4,1,1,0,12","6,10,3,25,2,1,2,1,4,1,1,0,12"
18,2010-06-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlantic silverside,Atlantic tomcod,blue crab,...","atlantic tomcod,blue crab,bluefish,comb jelly,...","atlantic tomcod,blue crab,bluefish,comb jelly,...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1"
19,2010-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"sand shrimp,shore shrimp,winter flounder,strip...","shore shrimp,winter flounder,striped bass,nort...","shrimp,flatfish,striped bass,northern pipefish...","nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1"
20,2010-07-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"sand shrimp,striped bass,the cutest northern p...","striped bass,northern puffer,northern pipefish...","striped bass,puffer,northern pipefish,lady cra...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1,1,1"
21,2011-09-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"anchovy,Atlantic Silverside,blue crab,comb jel...","atlantic silverside,blue crab,comb jelly,unide...","atlantic silverside,blue crab,comb jelly,flatf...","2,5,2,20,2,2,2,15,1,1,2,50,50,4","2,5,2,20,2,2,2,15,1,1,2,50,50,4"
22,2017-10-07,Start: 3:00 PM End: 4:30 PM,84.5 F,72 F,72.0,NaN,NaN,6,6.0,0 JTU,20 ppt,20.0,Out,Low Tide 4:42 PM,"Comb Jelly,Asian Shore Crab,Oyster Drill,Mud S...","nan,nan,nan,nan","nan,nan,nan,nan","TMTC,14,4,9","30,14,4,9"
23,2010-09-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"silversides,pipefish,sand worm,anemone,shrimp,...","northern pipefish,sandworm,anemone,unidentifie...","northern pipefish,polychaete worm,anemone,shri...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1"
24,2016-09-25,10:00AM - 11:40AM,64 F,65 F,65.0,7,7.00,4,4.0,NaN,?,NaN,NaN,NaN,"Mud Snail,Cunner,Comb Jelly,Bay Anchovy,Silver...","blue mussel,asian shore crab,mud crab,blue cra...","mussel,asian shore crab,mud crab,blue crab,fla...","4,1,Too Many To Count,1,10,2,2,1,1,1","4,1,30,1,10,2,2,1,1,1"
25,2014-09-20,1:00-2:30,Partly Cloudy 71,22c,71.6,ph=7,7.00,do =4,4.0,NaN,s=22,22.0,NaN,NaN,"Silver Side,Comb Jelly,Porgy,Striped Bass,Asia...","porgy,striped bass,asian shore crab,winter flo...","porgy,striped bass,asian shore crab,flatfish,a...","10,4,3,23,3,1","10,4,3,23,3,1"
26,2017-06-10,9:30 AM- 11:30 PM,75 F,73 F,73.0,8,8.00,0,0.0,Did not perform,21 ppt,21.0,OUT,"High Tide: 5:55 AM, Low Tide: 11:45 AM","Blueback Herring *,Pipefish,Blue Crab,Asian Sh...","sand shrimp,mud snail,oyster drill snail,unide...","shrimp,sea snail,sea snail,mussel,jellyfish,co...","5,1,2,3,2,7,6,7,2,1,TMTC,TMTC,1","5,1,2,3,2,7,6,7,2,1,30,30,1"
27,2013-06-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Blueback herring,Bay anchovy,Summer flounder,g...","summer flounder,sand shrimp,asian shore crab,c...","flatfish,shrimp,asian shore crab,comb jelly,tu...","1,1,1,1,1,15,1 clump,1","1,1,1,1,1,15,1,1"
28,2017-06-18,9:30 AM- 11:00 AM,77 F/ Sunny,70 F,70.0,7,7.00,4,4.0,Did not perform,27,27.0,OUT/IN,"High Tide: 3:05 AM, Low Tide: 10:04 AM","Comb Jelly,Blueback Herring,mud snail,Lady Cra...","asian shore crab,sand shrimp,moon jelly,sand s...","asian shore crab,shrimp,jellyfish,shrimp,flatf...","20 +,23,2,1,1,2,1,1","20,23,2,1,1,2,1,1"
29,2017-08-20,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,75.0,7.31,7.31,4,4.0,24,21,21.0,OUT,Low Tide: 2:00 PM,"Tautog,Striped Bass,Atlantic Menhaden,Atlantic...","winter flounder,unidentified herring,sand shri...","flatfish,herring,shrimp,shrimp,mud crab,hermit...","1,8,1,16,6,1,10,2,1,3,1,4,2,5,2,7,1","1,8,1,16,6,1,10,2,1,3,1,4,2,5,2,7,1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,2016-07-01,12:00PM - 1:00PM,84 F,73 F,73.0,7,7.00,4,4.0,NaN,22 ppt,22.0,NaN,NaN,"Lady Crab,Asian Shore Crab,Comb jelly","atlantic menhaden,shore shrimp,sand shrimp","atlantic menhaden,shrimp,shrimp","1,1,10","1,1,10"
82,2015-05-30,11:35-12:45pm,77 F,68 F,68.0,7,7.00,4,4.0,NaN,22,22.0,NaN,NaN,"Striped Bass,Atlantic Silverside,Sea Snail,Gho...","unidentified sea snail,glass shrimp,striped ba...","sea snail,shrimp,striped bass,tunicates","1,1,2,3","1,1,2,3"
83,2012-10-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"American Eel,Atlantic Silverside,Blue Fish,Com...","atlantic silverside,bluefish,comb jelly,uniden...","atlantic silverside,bluefish,comb jelly,sea sn...","1,1,1,1,8,1","1,1,1,1,8,1"
84,2017-08-02,Start: 10:00 AM End: 2:30 PM,84 F Partly Cloudy,75F,75.0,7.7,7.70,6,6.0,37 cm,22 ppt,22.0,OUT,High tide: 6:13 PM Low Tide: 11:25 AM,"Blue Crab,Striped Bass,Silverside,Comb Jelly,M...","tautog,cunner,winter flounder,blueback herring...","tautog,cunner,flatfish,herring,herring","1,9,2,TMTC,12","1,9,2,30,12"
85,2016-06-14,11AM - 12PM,82 F,67 F,67.0,7,7.00,4,4.0,NaN,22 ppt,22.0,NaN,NaN,"Atlantic Tomcod,Comb Jelly,Asian Shore Crab","northern pipefish,sand shrimp,comb jelly","northern pipefish,shrimp,comb jelly","1,75,4","1,75,4"
86,2016-06-15,9:00AM - 1:00PM,75 F,63 F,63.0,?,NaN,?,NaN,NaN,29 ppt,29.0,NaN,NaN,"Silverside,Striped Bass,pipefish,Glass Shrimp,...","asian shore crab,lady crab,asian shore crab,co...","asian shore crab,lady crab,asian shore crab,co...","1,1,2,1,200,1","1,1,2,1,200,1"
87,2012-05-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Anchovy,Atlantic Tomcod,Green Crab (European),...","atlantic tomcod,green crab,sea squirt,unidenti...","atlantic tomcod,green crab,tunicates,shrimp,sh...","7,4,1,50,1,7,6,2,1","7,4,1,50,1,7,6,2,1"
88,2010-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Silverside,red bearded sponge,blue muscle,asia...","comb jelly,blue mussel,asian shore crab,uniden...","comb jelly,mussel,asian shore crab,jellyfish,a...","nan,nan,nan,nan,nan","1,1,1,1,1"
89,2012-05-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Anchovy,Green Crab (European),Shrimp (Shore an...","green crab,unidentified shrimp,seven spine shr...","green crab,shrimp,shrimp,atlantic silverside","15,1,2,7","15,1,2,7"
90,2018-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,comb jelly,red beard sponge,sponge,nan,1
91,2016-07-13,1:00PM-2:30PM,83 F,74 F,74.0,?,NaN,?,NaN,NaN,27 ppt,27.0,NaN,NaN,"Comb jelly,Blue Crab,Atlantic Menhaden","unidentified hermit crab,summer flounder,windo...","hermit crab,flatfish,flatfish","6,1,28","6,1,28"
92,2015-10-15,4-6 PM,64 F,66 F,66.0,7,7.00,4,4.0,NaN,30,30.0,NaN,NaN,"Winter Flounder (right+eye),Blackfish/ Tautog,...","striped bass,comb jelly,shore shrimp,sheepshea...","striped bass,comb jelly,shrimp,porgy,mussel,co...","3,1,1,6,1,1,8","3,1,1,6,1,1,8"
93,2015-08-09,10:15 AM - 12,81 F Sunny,25 C,77.0,NaN,NaN,DO 4,4.0,NaN,31,31.0,NaN,NaN,"Atlantic Silverside,Striped Bass,Hermit crab,T...","unidentified hermit crab,tautog,asian shore cr...","hermit crab,tautog,asian shore crab,bluefish,b...","140,12,2,2,4,1,2,20,1","140,12,2,2,4,1,2,20,1"
94,2010-08-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Blue crabs,puffer,hermit crab,sand shrimp,shor...","northern puffer,unidentified hermit crab,sand ...","puffer,hermit crab,shrimp,shrimp,asian shore c...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1"
95,2016-07-16,12:00PM - 1:30PM,87 F,72 F,72.0,7,7.00,4,4.0,NaN,29 ppt,29.0,NaN,NaN,"Shore Shrimp,Sand Shrimp,Hermit Crab,Summer Fl...","asian shore crab,blue crab,sea robin,atlantic ...","asian shore crab,blue crab,sea robin,atlantic ...","1,1,1,1,1,1,1,1","1,1,1,1,1,1,1,1"
96,2012-10-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlantic Silverside,Blue Crab,Comb Jelly,Green...","blue crab,comb jelly,green crab,unidentified s...","blue crab,comb jelly,green crab,sea snail,whit...","1,3,2,1,1,1,1,1,1,1","1,3,2,1,1,1,1,1,1,1"
97,2014-08-23,1:00-2:30,sunny 72,Not taken,NaN,ph=7,7.00,do=4,4.0,NaN,s=21,21.0,NaN,NaN,"Atlantic Silverside,Oyster toadfish,Striped Ba...","striped bass,comb jelly,striped bass,atlantic ...","striped bass,comb jelly,striped bass,atlantic ...","nan,nan,nan,nan","1,1,1,1"
98,2016-06-04,2:00PM- 3:30PM,73 F,79 F,79.0,7,7.00,4,4.0,NaN,22 ppt,22.0,NaN,NaN,"Silverside,comb jelly,Atlantic Tomcod,Striped ...","green crab,asian shore crab,sandworm,northern ...","green crab,asian shore crab,polychaete worm,no...","72,80,1,11,2,5,7,1,2,4 clusters,1,8,11,2","72,80,1,11,2,5,7,1,2,4,1,8,11,2"
99,2016-06-01,10:00AM- 12:00PM,77 F,70 F,70.0,7,7.00,4,4.0,NaN,24 ppt,24.0,NaN,NaN,"Silverside,Atlantic Tomcod,pipefish,Asian Shor...","northern pipefish,asian shore crab,blue crab,m...","northern pipefish,asian shore crab,blue crab,m...","2,1,1,5,1,2,25,1,2,1,1,1","2,1,1,5,1,2,25,1,2,1,1,1"
100,2017-06-25,4:00 PM- 5:00 PM,80 F/ Sun with clouds,Did not perform,NaN,did not perform,NaN,did not perform,NaN,did not perform,did not perform,NaN,OUT,"High Tide: 10:35 PM, Low Tide: 4:12 PM","sand shrimp,winter flounder,comb jelly,mud cra...","unidentified herring,comb jelly,oyster toadfis...","herring,comb jelly,oyster toadfish,tautog,herr...","25,2,5,1,1,1","25,2,5,1,1,1"
101,2010-07-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"blue crabs,amphipods,clam worm (probably Nerei...","amphipod,clam worm probably nereis spp,unident...","amphipod,polychaete worm,hermit crab,shrimp,sh...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...","1,1,1,1,1,1,1,1,1,1,1,1,1"
102,2010-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlantic Silversides,Blue Crab,Sand Shrimp,Cte...","blue crab,sand shrimp,comb jelly,shore shrimp,...","blue crab,shrimp,comb jelly,shrimp,jellyfish,c...","nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1"
103,2010-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlantic silverside,blue crab,comb jellies,tru...","blue crab,comb jelly,jelly fish,lions mane jel...","blue crab,comb jelly,jellyfish,jellyfish,shrim...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...","1,1,1,1,1,1,1,1,1,1,1,1,1"
104,2010-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"northern kingfish,winter flounder,northern puf...","winter flounder,northern puffer,northern pipef...","flatfish,puffer,northern pipefish,striped bass...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1,1,1"
105,2016-07-28,?,87 F,74 F,74.0,?,NaN,4,4.0,NaN,28 ppt,28.0,NaN,NaN,"Silverside,Sea Bass,Comb Jelly,Blue Crab,Lady ...","winter flounder,mud snail,blue crab,mud crab,a...","flatfish,sea snail,blue crab,mud crab,asian sh...","6,1,45,1,1,2,1","6,1,45,1,1,2,1"
106,2016-07-29,10:30AM - 1:00PM,85 F,75 F,75.0,?,NaN,?,NaN,NaN,28,28.0,NaN,NaN,"Blue Crab,Mud Crab,Asian Shore Crab,Green crab...","western mosquito fish,amphipod,mud snail,comb ...","western mosquito fish,amphipod,sea snail,comb ...","2,1,1,1,2,2,10+,1,20+","2,1,1,1,2,2,10,1,20"
107,2009-06-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"bay anchovy,northern pipefish,striped bass,sho...","bay anchovy,northern pipefish,striped bass,sho...","bay anchovy,northern pipefish,striped bass,shr...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan","1,1,1,1,1,1,1,1,1,1,1,1"
108,2013-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1 oyster toadfish (caught in traffic cone),1 b...","ctenophore,oyster drill snail,asian shore crab...","comb jelly,sea snail,asian shore crab,comb jel...","1,1,20,1,5","1,1,20,1,5"
109,2013-06-21,10 am - 1 pm,"Sunny, 80s",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"American eel,Comb jellies,asian shore crab,Her...","asian shore crab,unidentified hermit crab,unid...","asian shore crab,hermit crab,sea snail,shrimp,...","2,20,2,1,1,4","2,20,2,1,1,4"
110,2015-09-25,10:00-1:00 PM,70 F Sunny,Not taken,NaN,7,7.00,4 PPM,4.0,NaN,22,22.0,NaN,NaN,"Atlantic Silverside,Blue Crab,Comb Jelly,Blue ...","comb jelly,bluefish,tautog,asian shore crab,oy...","comb jelly,bluefish,tautog,asian shore crab,se...","73,1,2,1,1,8,1,5","73,1,2,1,1,8,1,5"