In [1]:
import pandas as pd
import numpy as np

### Error in CLeaned for analysis all data found. Need to address before further progress can be made. Na's and out of orders show up in our new columns. This appears to come from the process of making Cleaned_For_Analysis_All_Data.csv

In [5]:
df = pd.read_csv('../Created CSVs/Cleaned_For_Analysis_All_Data.csv')

In [6]:
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1', 'index'], axis =1)

In [7]:
df.head()

,Date,Time,Weather & Air Temp:,Water Temp:,Tide Times,Tide is moving,DO,pH,Salinity,Turbidity,...,"Other info (Gender, Length, Dead/Alive, other physical description)",NOTES FROM SEINEING SEASON:,Corrected pH,Corrected Water Temp:,Corrected Salinity,Corrected DO,Corrected Quantity,Corrected # Hauls,Grouped Corrected Common Name,Corrected Common Name
0,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,tunicates,sea squirt
1,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,shrimp,shore shrimp
2,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,shrimp,mantis shrimp
3,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,shrimp,sand shrimp
4,2008-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,hermit crab,unidentified hermit crab

In [8]:
grouped_df = df.groupby('Date')

In [62]:
",".join(list(grouped_df.get_group('2011-07-12')['Grouped Corrected Common Name']))

'blue crab,comb jelly,spider crab,jellyfish,tunicates,sea snail,atlantic silverside'

In [41]:
for col in grouped_df.get_group('2011-07-12').columns:
    print col

Date
Time
Weather & Air Temp:
Water Temp:
Tide Times
Tide is moving
DO
pH
Salinity
Turbidity
# student seiners (CLASSES ONLY)
# of visitors (Public Seine ONLY)
Instructors/ Seine Staff:
# Hauls
Scientific Name
Common Name
Quantity
# Brought to Ed Center
Other info (Gender, Length, Dead/Alive, other physical description)
NOTES FROM SEINEING SEASON:
Corrected pH
Corrected Water Temp:
Corrected Salinity
Corrected DO
Corrected Quantity
Corrected # Hauls
Grouped Corrected Common Name
Corrected Common Name

In [9]:
from collections import defaultdict

In [10]:
dict_df = defaultdict(list)

In [11]:

for date in grouped_df.groups:
    for col in grouped_df.get_group(date).columns:
        if col in ['Grouped Corrected Common Name','Corrected Common Name','Corrected Quantity', 'Common Name', 'Quantity']:
            dict_df[col].append(",".join([str(x) for x in list(grouped_df.get_group(date)[col])]))
        else:
            dict_df[col].append(list(grouped_df.get_group(date)[col])[0])

In [13]:
combined_df =  pd.DataFrame(dict_df)

In [24]:
len(combined_df.columns)

28

In [27]:
combined_df = combined_df[['Date','Time','Weather & Air Temp:','Water Temp:','Corrected Water Temp:','pH','Corrected pH','DO',
              'Corrected DO','Turbidity','Salinity',
              'Corrected Salinity','Tide is moving','Tide Times','# Hauls','Corrected # Hauls','Common Name', 'Corrected Common Name', 
              'Grouped Corrected Common Name', 'Quantity', 
             'Corrected Quantity', 'Scientific Name',
            'Instructors/ Seine Staff:','# student seiners (CLASSES ONLY)',
             '# of visitors (Public Seine ONLY)', '# Brought to Ed Center',
            'NOTES FROM SEINEING SEASON:']].sort_values(by = 'Date').reset_index().drop('index', axis=1)

In [29]:
combined_df.to_csv('../Created CSVs/Cleaned_For_Analysis_Compressed_By_Day.csv')