# Plan: Reformat to include Date, Time, Weathe & Air Temp, Water Temp, Tide Times, Tide is Moving, DO, PH, Salinity, Turbidity, # of Student Seiners, # of visitors, Instructors/ Seine Staff, Hauls, Common Name, Quantity,  # Brought to Ed Center, Other Info, Notes from seining season,

## Matching to the 2017 version. No other season has all of these columns.

In [382]:
import pandas as pd
import numpy as np
from datetime import datetime

In [383]:
def reformat_recent(df):
    init_list = df.columns.values[:14]
    curr_vals = df.loc[0][:14]
    for i, row in df.iterrows():
        if pd.isnull(df.loc[i,'Date']):
            df.loc[i] = list(curr_vals) + list(df.loc[i][14:])
        else:
            curr_vals = df.loc[i][:14]
    return df

In [384]:
def add_columns(curr_df, match_df):
    for col in match_df.columns.values:
        if col not in curr_df:
            curr_df[col] = ""
    return curr_df[match_df.columns.values]

In [385]:
csv_2008 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=737788186&format=csv'
csv_2009 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1188626592&format=csv'
csv_2010 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1492092969&format=csv'
csv_2011 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1154911519&format=csv'
csv_2012 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1815364461&format=csv'
csv_2013 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1417342758&format=csv'
csv_2014 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1605738199&format=csv'
csv_2015 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=0&format=csv'
csv_2016 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1068275557&format=csv'
csv_2017 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=126889157&format=csv'

In [386]:
combined_df = reformat_recent(pd.read_csv(csv_2017))

combined_df['Scientific Name'] = ''

In [387]:
combined_df =  combined_df[list(combined_df.columns.values[:14])+list(combined_df.columns.values[-1:]) + list(combined_df.columns.values[14:-1])]

In [388]:
df_2016 =  pd.read_csv(csv_2016)
df_2016.rename(columns={"Weather (exact air temp):": 'Weather & Air Temp:', "# student seiners (12+)": '# student seiners (CLASSES ONLY)',"# of visitors (Public Seine)":'# of visitors (Public Seine ONLY)'}, inplace=True)
df_2016 = add_columns(df_2016, combined_df)
df_2016 = reformat_recent(df_2016)
combined_df = pd.concat([df_2016,combined_df], axis=0)

In [389]:
df_2015 =  pd.read_csv(csv_2015)
df_2015.rename(columns={"Weather (exact air temp):": 'Weather & Air Temp:', "#of Participants":'# of visitors (Public Seine ONLY)', "Instructors/Staff:":"Instructors/ Seine Staff:", "Other info (Dead/Alive)":"Other info (Gender, Length, Dead/Alive, other physical description)"}, inplace=True)
df_2015 = add_columns(df_2015, combined_df)
df_2015 = reformat_recent(df_2015)
combined_df = pd.concat([df_2015,combined_df], axis=0)

In [390]:
df_2014 =  pd.read_csv(csv_2014)

df_2014.rename(columns={"Weather (exact air temp):": 'Weather & Air Temp:', "#of Participants":'# of visitors (Public Seine ONLY)', "Instructors/Staff:":"Instructors/ Seine Staff:", "Other info (Dead/Alive)":"Other info (Gender, Length, Dead/Alive, other physical description)"}, inplace=True)
df_2014 = add_columns(df_2014, combined_df)

df_2014 = reformat_recent(df_2014)

combined_df = pd.concat([df_2014,combined_df], axis=0)

In [391]:
df_2013 =  pd.read_csv(csv_2013)
df_2013.columns = list(df_2013.loc[0])
df_2013 = df_2013[1:]

weatherAndTemp = []
for i,val in enumerate(list(df_2013['Weather:'])):
    temp_val = list(df_2013["Air Temp:"])[i]
    if temp_val == temp_val:
        weatherAndTemp.append(val + " " + temp_val)
    else:
        weatherAndTemp.append(val)


df_2013['Weather & Air Temp:'] =  weatherAndTemp

df_2013.rename(columns={ "Instructors":"Instructors/ Seine Staff:"}, inplace=True)
df_2013 = df_2013.reset_index()
df_2013 = add_columns(df_2013, combined_df)


df_2013 = reformat_recent(df_2013)
combined_df = pd.concat([df_2013,combined_df], axis=0)

In [392]:
def reformat_2012():

    df_2012 = pd.read_csv(csv_2012)
    columns = df_2012.columns.values
    #Find columns with 2 // as with dates 03/30/15
    date_columns = [date for date in columns if date.count('/') == 2 ]
    df_list = []
    
    # for every date make a separate dataframe
    for date_col_name in date_columns:
        #get all species names and all values for that day
        abridged_df = df_2012[['Name of Species', date_col_name]].head(50)
        abridged_df['Date']  = date_col_name
        #remove all rows where nothing was caught
        abridged_df = abridged_df.dropna()
        abridged_df.rename(columns={date_col_name: 'Quantity', 'Name of Species': 'Common Name'}, inplace=True)
        df_list.append(abridged_df)
    #combine all the dataframes into one big one
    sein_df_2012 = pd.concat(df_list)
    return sein_df_2012

In [393]:
df_2012 = reformat_2012()

df_2012 = add_columns(df_2012, combined_df)

combined_df = pd.concat([df_2012,combined_df], axis=0)

In [394]:
def reformat_2011():
    df_2011 = pd.read_csv(csv_2011)            
    #set proper column indexes and remove junk rows
    df_2011.columns = df_2011.iloc[1]
    df_2011.reindex(df_2011.index.drop(1))
    df_2011 = df_2011.drop([0,1,36])
    #renaming columns to substitute for blank values '######' with approximations
    df_2011.columns = ['Name of Species', '5/10/2011', '5/14/2011', '5/20/2011', '5/28/2011',
           'Total Number May', '6/11/2011', '6/14/2011', '6/26/2011',
           'Total Number June', '7/10/2011', '7/11/2011', '7/12/2011',
           '7/13/2011', 'Total Number July', '8/02/2011', '8/9/2011',
           '8/10/2011', 'Total Number August', '9/10/2011', '9/20/2011', '9/26/2011',
           'Total Number Sept', 'Total Number October']
    #remove columns that are just sums of past columns
    selected_columns = [col for col in df_2011 if "Total" not in col]
    df_2011 = df_2011[selected_columns]
    df_2011.head()
    df_list_2011 = []
    for col in df_2011.columns.values:
        if col == 'Name of Species':
            continue
        abridged_df = df_2011[['Name of Species', col]]
        abridged_df['Date'] = col#datetime.strptime(col, '%m/%d/%Y' )
        abridged_df = abridged_df.dropna()
        abridged_df.rename(columns={col: 'Quantity', 'Name of Species': 'Common Name'}, inplace=True)
        df_list_2011.append(abridged_df)

    sein_df_2011 = pd.concat(df_list_2011)
    return sein_df_2011

In [395]:
df_2011 = reformat_2011()

df_2011 = add_columns(df_2011, combined_df)

combined_df = pd.concat([df_2011,combined_df], axis=0)

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [396]:
def reformat_2010():
    df_2010 = pd.read_csv(csv_2010)
    df_2010 = df_2010.drop([0])
    curr_date = df_2010.loc[1]
    for i, date in df_2010.iterrows():
        if pd.isnull(df_2010.loc[i, 'Unnamed: 0']):
            df_2010.loc[i, 'Unnamed: 0'] = curr_date
        else:
            curr_date = df_2010.loc[i, 'Unnamed: 0']
    df_2010 = df_2010.drop([1])
    #rename columns
    df_2010.rename(columns={"Unnamed: 0": "Date", "Seining catch 2010": "Common Name", "Unnamed: 2":"Other info (Gender, Length, Dead/Alive, other physical description)"}, inplace=True)
    df_2010 = df_2010.dropna(subset=['Common Name'])
    return df_2010

In [397]:
df_2010 = reformat_2010()

df_2010 =  add_columns(df_2010, combined_df)

combined_df = pd.concat([df_2010,combined_df], axis=0)

In [398]:
def reformat_2009(): 
    df_2009 = pd.read_csv(csv_2009)
    df_2009 = df_2009.drop([0,1,16])
    curr_date = df_2009.loc[2]

    for i, date in df_2009.iterrows():
        if pd.isnull(df_2009.loc[i, 'Unnamed: 0']):
            df_2009.loc[i, 'Unnamed: 0'] = curr_date
        else:
            curr_date = df_2009.loc[i, 'Unnamed: 0']

    df_2009 = df_2009[['Unnamed: 0', 'Seining catch 2009']]
    df_2009 = df_2009.dropna()
    #rename columns
    df_2009.rename(columns={"Unnamed: 0": "Date", "Seining catch 2009": "Common Name"}, inplace=True)
    #datetime_object = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')
    return df_2009

In [399]:
df_2009 = reformat_2009()

df_2009 =  add_columns(df_2009, combined_df)

df_2009 = df_2009.drop([2])

combined_df = pd.concat([df_2009,combined_df], axis=0)

In [400]:
def reformat_2008():
    df_2008 = pd.read_csv(csv_2008)
    df_2008 = df_2008.drop([0,1])
    curr_date = df_2008.loc[2]

    for i, date in df_2008.iterrows():
            if pd.isnull(df_2008.loc[i, 'Unnamed: 0']):
                df_2008.loc[i, 'Unnamed: 0'] = curr_date
            else:
                curr_date = df_2008.loc[i, 'Unnamed: 0']

    df_2008 = df_2008.drop([2])

    df_2008 = df_2008[['Unnamed: 0', 'Seining catch 2008']]
    df_2008 = df_2008.dropna()
    #rename columns
    df_2008.rename(columns={"Unnamed: 0": "Date", "Seining catch 2008": "Common Name"}, inplace=True)
    return df_2008

In [401]:
df_2008 =  reformat_2008()

In [402]:
df_2008 =  add_columns(df_2008, combined_df)
combined_df = pd.concat([df_2008,combined_df], axis=0)

In [404]:
combined_df

,Date,Time,Weather & Air Temp:,Water Temp:,Tide Times,Tide is moving,DO,pH,Salinity,Turbidity,# student seiners (CLASSES ONLY),# of visitors (Public Seine ONLY),Instructors/ Seine Staff:,# Hauls,Scientific Name,Common Name,Quantity,# Brought to Ed Center,"Other info (Gender, Length, Dead/Alive, other physical description)",NOTES FROM SEINEING SEASON:
3,"Saturday, September 13, 2008",,,,,,,,,,,,,,,sea squirt,,,,
4,"Saturday, September 13, 2008",,,,,,,,,,,,,,,shore shrimp,,,,
5,"Saturday, September 13, 2008",,,,,,,,,,,,,,,mantis shrimp,,,,
6,"Saturday, September 13, 2008",,,,,,,,,,,,,,,sand shrimp,,,,
7,"Saturday, September 13, 2008",,,,,,,,,,,,,,,hermit crab,,,,
8,"Saturday, September 13, 2008",,,,,,,,,,,,,,,oyster toadfish,,,,
9,"Saturday, September 13, 2008",,,,,,,,,,,,,,,striped bass,,,,
10,"Saturday, September 13, 2008",,,,,,,,,,,,,,,northern kingfish,,,,
11,"Saturday, September 13, 2008",,,,,,,,,,,,,,,northern pipefish,,,,
12,"Saturday, September 13, 2008",,,,,,,,,,,,,,,striped searobin,,,,
13,"Saturday, September 13, 2008",,,,,,,,,,,,,,,Atlantic silverside,,,,
14,"Saturday, September 13, 2008",,,,,,,,,,,,,,,anchovy,,,,
15,"Saturday, September 13, 2008",,,,,,,,,,,,,,,blue crab,,,,
16,"Saturday, September 13, 2008",,,,,,,,,,,,,,,lady crab,,,,
17,"Saturday, September 13, 2008",,,,,,,,,,,,,,,winter flounder,,,,
18,"Saturday, September 13, 2008",,,,,,,,,,,,,,,comb jelly,,,,
19,"Saturday, September 13, 2008",,,,,,,,,,,,,,,lion's mane jellyfish,,,,
3,"Saturday, June 20, 2009",,,,,,,,,,,,,,,bay anchovy,,,,
4,"Saturday, June 20, 2009",,,,,,,,,,,,,,,northern pipefish,,,,
5,"Saturday, June 20, 2009",,,,,,,,,,,,,,,striped bass,,,,
6,"Saturday, June 20, 2009",,,,,,,,,,,,,,,shore shrimp,,,,
7,"Saturday, June 20, 2009",,,,,,,,,,,,,,,sand shrimp,,,,
8,"Saturday, June 20, 2009",,,,,,,,,,,,,,,sea squirts,,,,
9,"Saturday, June 20, 2009",,,,,,,,,,,,,,,blue crab,,,,
10,"Saturday, June 20, 2009",,,,,,,,,,,,,,,comb jelly,,,,
11,"Saturday, June 20, 2009",,,,,,,,,,,,,,,hydroids,,,,
12,"Saturday, June 20, 2009",,,,,,,,,,,,,,,"hermit crab,",,,,
13,"Saturday, June 20, 2009",,,,,,,,,,,,,,,snails,,,,
14,"Saturday, June 20, 2009",,,,,,,,,,,,,,,Two hemigrapsis molts were found on the beach.,,,,
18,"Wednesday, September 23, 2009",,,,,,,,,,,,,,,Lion's mane Jellyfish (Cyanea capillata),,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Striped Bass,8,2,"up to 2.5""",NaN
125,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Atlantic Menhaden,1,NaN,"1""",NaN
126,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Atlantic Silverside,16,8,up to adult size,NaN
127,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Silver Perch,6,6,"up to 2""",NaN
128,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Winter Flounder,1,NaN,"1""",NaN
129,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Herring SPP (pre metamorph),10,NaN,could be atlantic menhaden,NaN
130,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Grass Shrimp,2,NaN,NaN,NaN
131,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Sand Shrimp,1,NaN,NaN,NaN
132,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Mud Crab,3,NaN,NaN,NaN
133,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Hermit Crab,1,NaN,NaN,NaN
134,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Asian Shore Crab,4,NaN,NaN,NaN
135,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Blue Crab,2,NaN,NaN,NaN
136,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Mud Snail,5,NaN,NaN,NaN
137,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Oyster Drill,2,NaN,NaN,NaN
138,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Comb Jelly,7,NaN,could be more,NaN
139,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Moon Jelly,1,NaN,NaN,NaN
140,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,YOY Silverside,6,NaN,Released during event,NaN
141,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Spotted Whiff,1,NaN,NaN,NaN
142,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Striped Bass,1,NaN,NaN,NaN
143,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Blue Crab,5,NaN,NaN,NaN
144,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Lady Crab,1,NaN,NaN,NaN
145,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Asian Shore Crab,12,NaN,NaN,NaN
146,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Silverside,1,NaN,adult,NaN
147,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Grubby,1,NaN,NaN,NaN
148,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Comb Jelly,TMTC,NaN,NaN,NaN
149,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Shore Shrimp,2,NaN,NaN,NaN
150,10/7/17,Start: 3:00 PM End: 4:30 PM,84.5 F,72 F,Low Tide 4:42 PM,Out,6,NaN,20 ppt,0 JTU,11,2,"Eliza, Elizabeth",10,,Comb Jelly,TMTC,1,NaN,NaN
151,10/7/17,Start: 3:00 PM End: 4:30 PM,84.5 F,72 F,Low Tide 4:42 PM,Out,6,NaN,20 ppt,0 JTU,11,2,"Eliza, Elizabeth",10,,Asian Shore Crab,14,1,Caught on rock island,NaN
152,10/7/17,Start: 3:00 PM End: 4:30 PM,84.5 F,72 F,Low Tide 4:42 PM,Out,6,NaN,20 ppt,0 JTU,11,2,"Eliza, Elizabeth",10,,Oyster Drill,4,1,NaN,NaN
153,10/7/17,Start: 3:00 PM End: 4:30 PM,84.5 F,72 F,Low Tide 4:42 PM,Out,6,NaN,20 ppt,0 JTU,11,2,"Eliza, Elizabeth",10,,Mud Snails,9,1,NaN,NaN

In [405]:
combined_df.to_csv('deleteme.csv')