In [56]:
import pandas as pd

In [57]:
fish_df = pd.read_csv("Created CSVs/Cleaned_For_Analysis_All_Data.csv")

In [58]:
#fish_df = pd.read_csv('Created CSVs/Name_Corrected_All_Seins.csv')

In [59]:
fish_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1193 entries, 0 to 1192
Data columns (total 35 columns):
Unnamed: 0                                                             1193 non-null int64
Date                                                                   1193 non-null object
Time                                                                   747 non-null object
Weather & Air Temp:                                                    743 non-null object
Water Temp:                                                            687 non-null object
Corrected Water Temp:                                                  544 non-null float64
Water Temp Probe                                                       128 non-null float64
pH                                                                     620 non-null object
Corrected pH                                                           446 non-null float64
pH Probe                                                               152 non-null float64
DO                                                                     617 non-null object
Corrected DO                                                           462 non-null float64
DO Probe                                                               152 non-null object
Turbidity                                                              234 non-null object
Turbidity Probe (NTU)                                                  13 non-null object
Salinity                                                               660 non-null object
Corrected Salinity                                                     561 non-null float64
Salinity Probe                                                         152 non-null float64
Tide is moving                                                         405 non-null object
Tide Times                                                             362 non-null object
# Hauls                                                                420 non-null object
Corrected # Hauls                                                      296 non-null float64
Common Name                                                            1193 non-null object
Corrected Common Name                                                  1193 non-null object
Grouped Corrected Common Name                                          1193 non-null object
Quantity                                                               1035 non-null object
Corrected Quantity                                                     1193 non-null int64
Scientific Name                                                        142 non-null object
Instructors/ Seine Staff:                                              579 non-null object
# student seiners (CLASSES ONLY)                                       295 non-null object
# of visitors (Public Seine ONLY)                                      393 non-null object
# Brought to Ed Center                                                 322 non-null object
Other info (Gender, Length, Dead/Alive, other physical description)    372 non-null object
NOTES FROM SEINEING SEASON:                                            4 non-null object
NOTES FROM SEINE:                                                      12 non-null object
dtypes: float64(8), int64(2), object(25)
memory usage: 326.3+ KB

In [60]:
fish_df = fish_df[["Date","Corrected Common Name", "Grouped Corrected Common Name", "Corrected Quantity"]]

In [61]:
#fish_df = fish_df.fillna(1)

In [62]:
fish_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1193 entries, 0 to 1192
Data columns (total 4 columns):
Date                             1193 non-null object
Corrected Common Name            1193 non-null object
Grouped Corrected Common Name    1193 non-null object
Corrected Quantity               1193 non-null int64
dtypes: int64(1), object(3)
memory usage: 37.4+ KB

In [63]:
fish_df.tail()

,Date,Corrected Common Name,Grouped Corrected Common Name,Corrected Quantity
1188,2019-10-22,winter flounder,flatfish,1
1189,2019-10-22,striped anchovy,striped anchovy,11
1190,2019-10-22,atlantic silverside,atlantic silverside,584
1191,2019-10-22,northern pipefish,northern pipefish,1
1192,2019-10-22,comb jelly leidyi,comb jelly,21

In [64]:
# I want a count of each species in each year

In [65]:
grouped_names = list(set(fish_df["Grouped Corrected Common Name"]))

In [66]:
ungrouped_names = list(set(fish_df["Corrected Common Name"]))

In [67]:
# def is_number(s):
#     try:
#         float(s)
#         return True
#     except ValueError:
#         return False

In [68]:
#num_caught_list = []
#for num in list(fish_df['Number Caught']):
#    if type(num) ==  int:
#        num_caught_list.append(num)
#    elif is_number(num):
#        num_caught_list.append(int(float(num)))
#    else:
#        number = ''
#        started = False
#        for char in num:
#            if char.isdigit():
#                number += char
#                started = True
#            else:
#                if char == '~':
#                    print started
#                if started:
#                    break
#        if len(number):
#            num_caught_list.append(int(number))
#        else:
#            if num in ['Numerous', 'TMTC', 'Too Many To Count']:
#                num_caught_list.append(30)
#            else:
#                num_caught_list.append(1)

In [69]:
#fish_df['Number Caught'] = num_caught_list

# Create Combined Species Count

In [70]:
fish_names = set(list(fish_df['Grouped Corrected Common Name']))

In [71]:
fish_df['Date'] = pd.to_datetime(fish_df['Date'])

In [72]:
catch_by_year = fish_df[['Date', 'Grouped Corrected Common Name', 'Corrected Quantity']].groupby(fish_df['Date'].map(lambda x: x.year))

In [73]:
#fish_df[['Date', 'Grouped Corrected Common Name', 'Corrected Quantity']].groupby([fish_df['Date'].map(lambda x: x.year),'Grouped Corrected Common Name']).sum()

In [74]:
catch_by_year

### For each year we'll make an amount caught and make a dictionary of the year,

In [75]:
year_fish_count = {}
#cat =catch_by_year.get_group(2010).groupby('Species').sum()
#cat.index

for group in catch_by_year:
    year_fish_count[group[0]] = []
    fish_caught = catch_by_year.get_group(group[0]).groupby('Grouped Corrected Common Name').sum()
    for name in sorted(list(fish_names)):
        if name in list(fish_caught.index):
            year_fish_count[group[0]].append(int(fish_caught.loc[name]))
        else:
            year_fish_count[group[0]].append(0)

In [76]:
fish_check_list = pd.DataFrame(data = sorted(list(fish_names)), columns = ['Grouped Corrected Common Name'] )

In [77]:
years = range(2008,2020)

### Adding fish to each year

In [78]:
for year in years:
    fish_check_list[year] =  year_fish_count[year]

### Add summary column and row

In [79]:
fish_check_list
fish_check_list['Total Caught'] = fish_check_list[[2008, 2009, 2010, 2011,2012,2013,2014,2015,2016,2017, 2018,2019]].sum(axis=1)

In [80]:
total_by_year_list = ['Total Caught Per Year']

for year in fish_check_list.columns.values:
    if type(year) is int:
        total_by_year_list.append(sum(list(fish_check_list[year])))
total_by_year_list.append(sum(list(fish_check_list['Total Caught'])))
print (total_by_year_list)
fish_check_list.loc[fish_check_list.shape[0]] = total_by_year_list

['Total Caught Per Year', 17, 16, 123, 1345, 664, 687, 213, 1381, 1699, 921, 994, 3084, 11144]

In [81]:
fish_check_list

,Grouped Corrected Common Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total Caught
0,american eel,0,0,0,0,2,3,0,0,1,1,0,2,9
1,american shad,0,0,0,0,0,0,0,0,0,1,0,0,1
2,amphipod,0,0,3,2,0,0,0,4,40,0,0,0,49
3,anemone,0,0,2,0,0,0,0,0,0,0,0,0,2
4,asian shore crab,0,0,4,0,8,13,12,43,50,40,30,0,200
5,atlantic menhaden,0,0,0,0,0,0,1,5,70,3,53,112,244
6,atlantic silverside,1,1,13,255,180,74,42,1030,250,37,477,2118,4478
7,atlantic tomcod,0,0,1,7,34,0,2,0,3,1,10,44,102
8,bay anchovy,1,1,0,150,23,1,0,0,16,1,4,68,265
9,black sea bass,0,0,0,0,0,1,0,0,21,1,0,0,23
10,blue crab,1,1,10,32,12,4,4,7,16,22,16,15,140
11,bluefish,0,0,6,2,3,37,1,5,0,1,11,28,94
12,bluespotted cornetfish,0,0,0,0,0,0,0,1,0,0,0,0,1
13,box crab,0,0,0,0,0,0,0,4,0,0,0,0,4
14,clam,0,0,0,0,0,0,0,0,1,8,1,11,21
15,comb jelly,1,1,14,393,170,505,86,58,887,347,123,37,2622
16,cunner,0,0,0,0,1,0,0,1,6,2,0,1,11
17,flatfish,1,0,9,7,8,1,7,10,7,9,6,4,69
18,green crab,0,1,1,7,8,0,1,0,10,0,2,0,30
19,grubby,0,0,0,0,0,0,1,0,0,0,0,0,1
20,hermit crab,1,1,2,2,3,1,1,8,1,1,38,23,82
21,herring,0,0,0,66,10,1,2,13,0,143,4,10,249
22,horseshoe crab,0,0,0,0,0,0,0,0,0,0,2,7,9
23,hydrozoa,0,1,0,1,0,0,0,0,0,0,0,0,2
24,isopod,0,0,0,1,0,0,0,1,0,0,0,2,4
25,jellyfish,1,1,9,87,1,26,2,4,3,22,20,27,203
26,lady crab,1,0,1,0,0,0,0,4,3,2,0,0,11
27,mole crab,0,0,0,0,0,0,0,0,1,0,0,0,1
28,mud crab,0,0,0,0,1,2,0,0,4,4,0,0,11
29,mullet fish,0,0,0,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,pollock,0,0,0,0,0,0,0,0,0,0,1,0,1
41,polychaete worm,0,0,2,1,1,0,0,1,3,2,1,3,14
42,porgy,0,0,0,0,3,0,3,40,13,0,6,3,68
43,puffer,0,0,4,0,1,0,0,0,0,0,0,2,7
44,sculpin,0,0,0,0,0,0,0,0,0,1,0,0,1
45,sea robin,1,0,1,0,0,0,0,0,3,0,0,0,5
46,sea snail,0,1,2,73,22,2,0,9,113,57,59,244,582
47,seaboard goby,0,0,0,0,0,0,0,0,1,0,0,0,1
48,sennet,0,0,1,0,0,0,0,0,0,0,0,0,1
49,shrimp,3,2,16,129,58,10,9,24,31,74,75,129,560
50,silver perch,0,0,0,0,1,0,0,0,1,6,4,60,72
51,skilletfish,0,0,0,1,1,0,0,0,0,0,4,9,15
52,spider crab,0,0,0,1,0,0,0,0,2,0,0,0,3
53,sponge,0,0,1,0,0,0,0,1,1,0,0,0,3
54,spot,0,0,0,0,0,0,0,0,0,0,0,3,3
55,spotted hake,0,0,0,0,6,0,0,0,0,0,0,0,6
56,spotted whiff,0,0,0,0,0,0,0,0,0,1,0,0,1
57,striped anchovy,0,0,0,0,0,0,0,0,0,0,0,14,14
58,striped bass,1,1,7,24,3,2,35,64,16,43,15,8,219
59,striped burrfish,0,0,0,0,0,0,0,0,0,0,1,0,1
60,tautog,0,0,0,0,0,0,0,4,1,7,5,12,29
61,tube worm,0,0,0,1,0,0,0,0,0,0,0,0,1
62,tunicates,1,1,0,76,89,2,0,20,64,32,0,0,285
63,unidentified fish,0,0,0,0,0,0,0,0,1,0,0,2,3
64,unidentified shrimp,0,0,0,0,0,0,0,0,0,0,0,44,44
65,western mosquito fish,0,0,0,0,0,0,0,0,2,0,0,0,2
66,white mullet,0,0,0,0,2,0,0,0,0,0,0,0,2
67,white perch,0,0,0,1,0,0,0,4,0,0,1,3,9
68,wrasel sea bass,0,0,0,0,3,0,0,0,0,0,0,0,3
69,Total Caught Per Year,17,16,123,1345,664,687,213,1381,1699,921,994,3084,11144

In [82]:
#fish_check_list[['Grouped Corrected Common Name', 'Total Caught']].sort_values('Total Caught', ascending = False)

In [83]:
fish_check_list['Total Seasons'] =  (fish_check_list[[2008,2009,2010,2011,2012,2013,2014,2015,2016,2017, 2018]] > 0).sum(1)
fish_check_list['' ] = ''

In [84]:
fish_check_list = pd.concat([fish_check_list,fish_check_list[['Grouped Corrected Common Name', 'Total Caught']].sort_values('Total Caught', ascending = False).reset_index()], axis = 1)

In [85]:
fish_check_list  = fish_check_list.drop('index', axis=1)

In [86]:
fish_check_list.to_csv('Created CSVs/Combined_Species_Count_By_Year_2019.csv', index = False)

# Create  Uncombined Species Count

In [87]:
fish_names = set(list(fish_df['Corrected Common Name']))

In [88]:
fish_df['Date'] = pd.to_datetime(fish_df['Date'])

In [89]:
catch_by_year = fish_df[['Date', 'Corrected Common Name', 'Corrected Quantity']].groupby(fish_df['Date'].map(lambda x: x.year))

In [90]:
year_fish_count = {}
#cat =catch_by_year.get_group(2010).groupby('Species').sum()
#cat.index

for group in catch_by_year:
    year_fish_count[group[0]] = []
    fish_caught = catch_by_year.get_group(group[0]).groupby('Corrected Common Name').sum()
    for name in sorted(list(fish_names)):
        if name in list(fish_caught.index):
            year_fish_count[group[0]].append(int(fish_caught.loc[name]))
        else:
            year_fish_count[group[0]].append(0)

In [91]:
fish_check_list2 = pd.DataFrame(data = sorted(list(fish_names)), columns = ['Corrected Common Name'] )

In [92]:
years = range(2008,2020)

In [93]:
for year in years:
    fish_check_list2[year] =  year_fish_count[year]

In [94]:
fish_check_list2
fish_check_list2['Total Caught'] = fish_check_list2[[2008, 2009, 2010, 2011,2012,2013,2014,2015,2016,2017, 2018,2019]].sum(axis=1)

In [95]:
total_by_year_list = ['Total Caught Per Year']

for year in fish_check_list2.columns.values:
    if type(year) is int:
        total_by_year_list.append(sum(list(fish_check_list2[year])))
total_by_year_list.append(sum(list(fish_check_list2['Total Caught'])))
print (total_by_year_list)
fish_check_list2.loc[fish_check_list2.shape[0]] = total_by_year_list

['Total Caught Per Year', 17, 16, 123, 1345, 664, 687, 213, 1381, 1699, 921, 994, 3084, 11144]

In [96]:
fish_check_list2['Total Seasons'] =  (fish_check_list2[[2008,2009,2010,2011,2012,2013,2014,2015,2016,2017, 2018]] > 0).sum(1)
fish_check_list2['' ] = ''

In [97]:
fish_check_list2 = pd.concat([fish_check_list2,fish_check_list2[['Corrected Common Name', 'Total Caught']].sort_values('Total Caught', ascending = False).reset_index()], axis = 1)

In [98]:
fish_check_list2  = fish_check_list2.drop('index', axis=1)

In [99]:
fish_check_list2.to_csv('Created CSVs/Overlap_Species_Count_By_Year_2019.csv', index = False)

# Checking differences from past years

In [100]:
old_fish_list =  pd.read_csv('Created CSVs/Combined_Species_Count_By_Year2017.csv')

In [101]:
old_list = list(old_fish_list["Species"])

In [102]:
new_list = list(fish_check_list["Grouped Corrected Common Name"].iloc[:,0])

In [103]:
#fish_check_list["Grouped Corrected Common Name"].iloc[:,0]

In [104]:
for item in new_list:
    if item not in old_list:
        print (item)

clam
horseshoe crab
mullet fish
needlefish
periwinkle snail
pollock
sculpin
skilletfish
spot
striped anchovy
striped burrfish
unidentified shrimp

In [105]:
#new creatures: horseshoe crab, mullet fish, burrfish, pollock
# clam should be clams
# bass should be striped bass?
# pinfish is a porgy
## sculpin, not a searobin?
# scup is  a porgy
# shore crab should be asian shore or green?
# skilletfish should be skillet fish
# tomcod is atlantic tomcod
# periwinkle to sea snail

In [106]:
old_fish_list2 =  pd.read_csv('Created CSVs/Non_Combined_Species_Count_By_Year2017.csv')

In [107]:
old_list2 = list(old_fish_list2["Species"])

In [108]:
new_list2 = list(fish_check_list2["Corrected Common Name"].iloc[:,0])

In [109]:
for item in new_list2:
    if item not in old_list2:
        print (item)

clam
comb jelly beroe
comb jelly leidyi
grass shrimp shore shrimp
horseshoe crab
hydromedusa
hydromedusamoon jelly
larval fish
long clawed hermit crab
mullet fish
needlefish
northern seahorse
periwinkle
periwinkle snail
pin fish
pollock
polychaete worm
sculpin
skilletfish
spot
striped anchovy
striped burrfish
undetermined jelly

In [110]:
#new creatures: horseshoe crab, mullet fish, burrfish, pollock, long clawed hermit crab?, periwinkle?
#### shore crab should be asian shore
### sculpin, not a searobin?
### pinfish is a porgy


# change seahorse to northern seahorse
# clam should be clams
# bass should be striped bass?
### pinfish is a porgy
### sculpin, not a searobin?
# scup is  a porgy
#### shore crab should be asian shore or green?
# skilletfish should be skillet fish
# tomcod is atlantic tomcod
# periwinkle to sea snail