In [1]:
import pandas as pd

In [2]:
fish_df = pd.read_csv("Created CSVs/Cleaned_For_Analysis_All_Data.csv")

In [3]:
#fish_df = pd.read_csv('Created CSVs/Name_Corrected_All_Seins.csv')

In [4]:
fish_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1170 entries, 0 to 1169
Data columns (total 35 columns):
Unnamed: 0                                                             1170 non-null int64
Date                                                                   1170 non-null object
Time                                                                   724 non-null object
Weather & Air Temp:                                                    720 non-null object
Water Temp:                                                            703 non-null object
Corrected Water Temp:                                                  560 non-null float64
Water Temp Probe                                                       37 non-null float64
pH                                                                     622 non-null object
Corrected pH                                                           448 non-null float64
pH Probe                                                               116 non-null float64
DO                                                                     628 non-null object
Corrected DO                                                           473 non-null float64
DO Probe                                                               116 non-null float64
Turbidity                                                              334 non-null object
Turbidity Probe                                                        9 non-null float64
Salinity                                                               650 non-null object
Corrected Salinity                                                     551 non-null float64
Salinity Probe                                                         116 non-null float64
Tide is moving                                                         382 non-null object
Tide Times                                                             339 non-null object
# Hauls                                                                418 non-null object
Corrected # Hauls                                                      294 non-null float64
Common Name                                                            1170 non-null object
Corrected Common Name                                                  1170 non-null object
Grouped Corrected Common Name                                          1170 non-null object
Quantity                                                               1012 non-null object
Corrected Quantity                                                     1170 non-null int64
Scientific Name                                                        142 non-null object
Instructors/ Seine Staff:                                              568 non-null object
# student seiners (CLASSES ONLY)                                       291 non-null object
# of visitors (Public Seine ONLY)                                      392 non-null object
# Brought to Ed Center                                                 315 non-null object
Other info (Gender, Length, Dead/Alive, other physical description)    312 non-null object
NOTES FROM SEINEING SEASON:                                            4 non-null object
NOTES FROM SEINE:                                                      12 non-null object
dtypes: float64(10), int64(2), object(23)
memory usage: 320.0+ KB

In [5]:
fish_df = fish_df[["Date","Corrected Common Name", "Grouped Corrected Common Name", "Corrected Quantity"]]

In [6]:
#fish_df = fish_df.fillna(1)

In [7]:
fish_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1170 entries, 0 to 1169
Data columns (total 4 columns):
Date                             1170 non-null object
Corrected Common Name            1170 non-null object
Grouped Corrected Common Name    1170 non-null object
Corrected Quantity               1170 non-null int64
dtypes: int64(1), object(3)
memory usage: 36.6+ KB

In [8]:
fish_df.tail()

,Date,Corrected Common Name,Grouped Corrected Common Name,Corrected Quantity
1165,2019-09-07,porgy,porgy,2
1166,2019-09-07,undetermined jelly,jellyfish,1
1167,2019-09-07,horseshoe crab,horseshoe crab,1
1168,2019-09-07,atlantic menhaden,atlantic menhaden,1
1169,2019-09-07,clam,clam,1

In [9]:
# I want a count of each species in each year

In [10]:
grouped_names = list(set(fish_df["Grouped Corrected Common Name"]))

In [11]:
ungrouped_names = list(set(fish_df["Corrected Common Name"]))

In [12]:
# def is_number(s):
#     try:
#         float(s)
#         return True
#     except ValueError:
#         return False

In [13]:
#num_caught_list = []
#for num in list(fish_df['Number Caught']):
#    if type(num) ==  int:
#        num_caught_list.append(num)
#    elif is_number(num):
#        num_caught_list.append(int(float(num)))
#    else:
#        number = ''
#        started = False
#        for char in num:
#            if char.isdigit():
#                number += char
#                started = True
#            else:
#                if char == '~':
#                    print started
#                if started:
#                    break
#        if len(number):
#            num_caught_list.append(int(number))
#        else:
#            if num in ['Numerous', 'TMTC', 'Too Many To Count']:
#                num_caught_list.append(30)
#            else:
#                num_caught_list.append(1)

In [14]:
#fish_df['Number Caught'] = num_caught_list

# Create Combined Species Count

In [15]:
fish_names = set(list(fish_df['Grouped Corrected Common Name']))

In [16]:
fish_df['Date'] = pd.to_datetime(fish_df['Date'])

In [17]:
catch_by_year = fish_df[['Date', 'Grouped Corrected Common Name', 'Corrected Quantity']].groupby(fish_df['Date'].map(lambda x: x.year))

In [18]:
#fish_df[['Date', 'Grouped Corrected Common Name', 'Corrected Quantity']].groupby([fish_df['Date'].map(lambda x: x.year),'Grouped Corrected Common Name']).sum()

In [19]:
catch_by_year

### For each year we'll make an amount caught and make a dictionary of the year,

In [20]:
year_fish_count = {}
#cat =catch_by_year.get_group(2010).groupby('Species').sum()
#cat.index

for group in catch_by_year:
    year_fish_count[group[0]] = []
    fish_caught = catch_by_year.get_group(group[0]).groupby('Grouped Corrected Common Name').sum()
    for name in sorted(list(fish_names)):
        if name in list(fish_caught.index):
            year_fish_count[group[0]].append(int(fish_caught.loc[name]))
        else:
            year_fish_count[group[0]].append(0)

In [21]:
fish_check_list = pd.DataFrame(data = sorted(list(fish_names)), columns = ['Grouped Corrected Common Name'] )

In [22]:
years = range(2008,2020)

### Adding fish to each year

In [23]:
for year in years:
    fish_check_list[year] =  year_fish_count[year]

### Add summary column and row

In [24]:
fish_check_list
fish_check_list['Total Caught'] = fish_check_list[[2008, 2009, 2010, 2011,2012,2013,2014,2015,2016,2017, 2018,2019]].sum(axis=1)

In [26]:
total_by_year_list = ['Total Caught Per Year']

for year in fish_check_list.columns.values:
    if type(year) is int:
        total_by_year_list.append(sum(list(fish_check_list[year])))
total_by_year_list.append(sum(list(fish_check_list['Total Caught'])))
print (total_by_year_list)
fish_check_list.loc[fish_check_list.shape[0]] = total_by_year_list

['Total Caught Per Year', 17, 16, 123, 1345, 664, 687, 213, 1381, 1699, 921, 994, 2311, 10371]

In [27]:
fish_check_list

,Grouped Corrected Common Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total Caught
0,american eel,0,0,0,0,2,3,0,0,1,1,0,2,9
1,american shad,0,0,0,0,0,0,0,0,0,1,0,0,1
2,amphipod,0,0,3,2,0,0,0,4,40,0,0,0,49
3,anemone,0,0,2,0,0,0,0,0,0,0,0,0,2
4,asian shore crab,0,0,4,0,8,13,12,43,50,40,30,0,200
5,atlantic menhaden,0,0,0,0,0,0,1,5,70,3,53,104,236
6,atlantic silverside,1,1,13,255,180,74,42,1030,250,37,477,1435,3795
7,atlantic tomcod,0,0,1,7,34,0,2,0,3,1,10,44,102
8,bay anchovy,1,1,0,150,23,1,0,0,16,1,4,68,265
9,black sea bass,0,0,0,0,0,1,0,0,21,1,0,0,23
10,blue crab,1,1,10,32,12,4,4,7,16,22,16,14,139
11,bluefish,0,0,6,2,3,37,1,5,0,1,11,28,94
12,bluespotted cornetfish,0,0,0,0,0,0,0,1,0,0,0,0,1
13,box crab,0,0,0,0,0,0,0,4,0,0,0,0,4
14,clam,0,0,0,0,0,0,0,0,1,8,1,11,21
15,comb jelly,1,1,14,393,170,505,86,58,887,347,123,5,2590
16,cunner,0,0,0,0,1,0,0,1,6,2,0,1,11
17,flatfish,1,0,9,7,8,1,7,10,7,9,6,3,68
18,green crab,0,1,1,7,8,0,1,0,10,0,2,0,30
19,grubby,0,0,0,0,0,0,1,0,0,0,0,0,1
20,hermit crab,1,1,2,2,3,1,1,8,1,1,38,12,71
21,herring,0,0,0,66,10,1,2,13,0,143,4,10,249
22,horseshoe crab,0,0,0,0,0,0,0,0,0,0,2,7,9
23,hydrozoa,0,1,3,5,0,0,0,4,0,0,0,0,13
24,isopod,0,0,0,1,0,0,0,1,0,0,0,2,4
25,jellyfish,1,1,6,83,1,26,2,0,3,22,20,22,187
26,lady crab,1,0,1,0,0,0,0,4,3,2,0,0,11
27,mole crab,0,0,0,0,0,0,0,0,1,0,0,0,1
28,mud crab,0,0,0,0,1,2,0,0,4,4,0,0,11
29,mullet fish,0,0,0,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,pollock,0,0,0,0,0,0,0,0,0,0,1,0,1
40,polychaete worm,0,0,2,1,1,0,0,1,3,2,1,3,14
41,porgy,0,0,0,0,3,0,3,40,13,0,6,2,67
42,puffer,0,0,4,0,1,0,0,0,0,0,0,2,7
43,sculpin,0,0,0,0,0,0,0,0,0,1,0,0,1
44,sea robin,1,0,1,0,0,0,0,0,3,0,0,0,5
45,sea snail,0,1,2,73,22,2,0,9,113,57,59,239,577
46,seaboard goby,0,0,0,0,0,0,0,0,1,0,0,0,1
47,sennet,0,0,1,0,0,0,0,0,0,0,0,0,1
48,shrimp,3,2,16,129,58,10,9,24,31,74,75,128,559
49,silver perch,0,0,0,0,1,0,0,0,1,6,4,60,72
50,skilletfish,0,0,0,1,1,0,0,0,0,0,4,8,14
51,spider crab,0,0,0,1,0,0,0,0,2,0,0,0,3
52,sponge,0,0,1,0,0,0,0,1,1,0,0,0,3
53,spot,0,0,0,0,0,0,0,0,0,0,0,3,3
54,spotted hake,0,0,0,0,6,0,0,0,0,0,0,0,6
55,spotted whiff,0,0,0,0,0,0,0,0,0,1,0,0,1
56,striped anchovy,0,0,0,0,0,0,0,0,0,0,0,3,3
57,striped bass,1,1,7,24,3,2,35,64,16,43,15,8,219
58,striped burrfish,0,0,0,0,0,0,0,0,0,0,1,0,1
59,tautog,0,0,0,0,0,0,0,4,1,7,5,9,26
60,tube worm,0,0,0,1,0,0,0,0,0,0,0,0,1
61,tunicates,1,1,0,76,89,2,0,20,64,32,0,0,285
62,unidentified fish,0,0,0,0,0,0,0,0,1,0,0,0,1
63,unidentified shrimp,0,0,0,0,0,0,0,0,0,0,0,44,44
64,western mosquito fish,0,0,0,0,0,0,0,0,2,0,0,0,2
65,white mullet,0,0,0,0,2,0,0,0,0,0,0,0,2
66,white perch,0,0,0,1,0,0,0,4,0,0,1,1,7
67,wrasel sea bass,0,0,0,0,3,0,0,0,0,0,0,0,3
68,Total Caught Per Year,17,16,123,1345,664,687,213,1381,1699,921,994,2311,10371

In [28]:
#fish_check_list[['Grouped Corrected Common Name', 'Total Caught']].sort_values('Total Caught', ascending = False)

In [29]:
fish_check_list['Total Seasons'] =  (fish_check_list[[2008,2009,2010,2011,2012,2013,2014,2015,2016,2017, 2018]] > 0).sum(1)
fish_check_list['' ] = ''

In [30]:
fish_check_list = pd.concat([fish_check_list,fish_check_list[['Grouped Corrected Common Name', 'Total Caught']].sort_values('Total Caught', ascending = False).reset_index()], axis = 1)

In [31]:
fish_check_list  = fish_check_list.drop('index', axis=1)

In [32]:
fish_check_list.to_csv('Created CSVs/Combined_Species_Count_By_Year_2019.csv', index = False)

# Create  Uncombined Species Count

In [33]:
fish_names = set(list(fish_df['Corrected Common Name']))

In [34]:
fish_df['Date'] = pd.to_datetime(fish_df['Date'])

In [35]:
catch_by_year = fish_df[['Date', 'Corrected Common Name', 'Corrected Quantity']].groupby(fish_df['Date'].map(lambda x: x.year))

In [36]:
year_fish_count = {}
#cat =catch_by_year.get_group(2010).groupby('Species').sum()
#cat.index

for group in catch_by_year:
    year_fish_count[group[0]] = []
    fish_caught = catch_by_year.get_group(group[0]).groupby('Corrected Common Name').sum()
    for name in sorted(list(fish_names)):
        if name in list(fish_caught.index):
            year_fish_count[group[0]].append(int(fish_caught.loc[name]))
        else:
            year_fish_count[group[0]].append(0)

In [37]:
fish_check_list2 = pd.DataFrame(data = sorted(list(fish_names)), columns = ['Corrected Common Name'] )

In [38]:
years = range(2008,2020)

In [39]:
for year in years:
    fish_check_list2[year] =  year_fish_count[year]

In [40]:
fish_check_list2
fish_check_list2['Total Caught'] = fish_check_list2[[2008, 2009, 2010, 2011,2012,2013,2014,2015,2016,2017, 2018,2019]].sum(axis=1)

In [42]:
total_by_year_list = ['Total Caught Per Year']

for year in fish_check_list2.columns.values:
    if type(year) is int:
        total_by_year_list.append(sum(list(fish_check_list2[year])))
total_by_year_list.append(sum(list(fish_check_list2['Total Caught'])))
print (total_by_year_list)
fish_check_list2.loc[fish_check_list2.shape[0]] = total_by_year_list

['Total Caught Per Year', 17, 16, 123, 1345, 664, 687, 213, 1381, 1699, 921, 994, 2311, 10371]

In [43]:
fish_check_list2['Total Seasons'] =  (fish_check_list2[[2008,2009,2010,2011,2012,2013,2014,2015,2016,2017, 2018]] > 0).sum(1)
fish_check_list2['' ] = ''

In [44]:
fish_check_list2 = pd.concat([fish_check_list2,fish_check_list2[['Corrected Common Name', 'Total Caught']].sort_values('Total Caught', ascending = False).reset_index()], axis = 1)

In [45]:
fish_check_list2  = fish_check_list2.drop('index', axis=1)

In [46]:
fish_check_list2.to_csv('Created CSVs/Species_Count_By_Year_2019.csv', index = False)

# Checking differences from past years

In [47]:
old_fish_list =  pd.read_csv('Created CSVs/Combined_Species_Count_By_Year2017.csv')

In [48]:
old_list = list(old_fish_list["Species"])

In [49]:
new_list = list(fish_check_list["Grouped Corrected Common Name"].iloc[:,0])

In [50]:
#fish_check_list["Grouped Corrected Common Name"].iloc[:,0]

In [52]:
for item in new_list:
    if item not in old_list:
        print (item)

clam
horseshoe crab
mullet fish
needlefish
pollock
sculpin
skilletfish
spot
striped anchovy
striped burrfish
unidentified shrimp

In [ ]:
#new creatures: horseshoe crab, mullet fish, burrfish, pollock
# clam should be clams
# bass should be striped bass?
# pinfish is a porgy
## sculpin, not a searobin?
# scup is  a porgy
# shore crab should be asian shore or green?
# skilletfish should be skillet fish
# tomcod is atlantic tomcod
# periwinkle to sea snail

In [53]:
old_fish_list2 =  pd.read_csv('Created CSVs/Non_Combined_Species_Count_By_Year2017.csv')

In [54]:
old_list2 = list(old_fish_list2["Species"])

In [55]:
new_list2 = list(fish_check_list2["Corrected Common Name"].iloc[:,0])

In [57]:
for item in new_list2:
    if item not in old_list2:
        print (item)

clam
grass shrimp shore shrimp
horseshoe crab
long clawed hermit crab
mullet fish
needlefish
northern seahorse
periwinkle
pin fish
pollock
polychaete worm
sculpin
skilletfish
spot
striped anchovy
striped burrfish
undetermined jelly

In [ ]:
#new creatures: horseshoe crab, mullet fish, burrfish, pollock, long clawed hermit crab?, periwinkle?
#### shore crab should be asian shore
### sculpin, not a searobin?
### pinfish is a porgy


# change seahorse to northern seahorse
# clam should be clams
# bass should be striped bass?
### pinfish is a porgy
### sculpin, not a searobin?
# scup is  a porgy
#### shore crab should be asian shore or green?
# skilletfish should be skillet fish
# tomcod is atlantic tomcod
# periwinkle to sea snail