In [248]:
import pandas as pd

In [249]:
fish_df = pd.read_csv("Created CSVs/Cleaned_For_Analysis_All_Data.csv")

In [250]:
#fish_df = pd.read_csv('Created CSVs/Name_Corrected_All_Seins.csv')

In [251]:
fish_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 30 columns):
Unnamed: 0                                                             1022 non-null int64
Date                                                                   1022 non-null object
Time                                                                   576 non-null object
Weather & Air Temp:                                                    587 non-null object
Water Temp:                                                            454 non-null object
Corrected Water Temp:                                                  311 non-null float64
pH                                                                     537 non-null object
Corrected pH                                                           363 non-null float64
DO                                                                     543 non-null object
Corrected DO                                                           388 non-null float64
Turbidity                                                              234 non-null object
Salinity                                                               555 non-null object
Corrected Salinity                                                     456 non-null float64
Tide is moving                                                         234 non-null object
Tide Times                                                             202 non-null object
# Hauls                                                                405 non-null object
Corrected # Hauls                                                      281 non-null float64
Common Name                                                            1022 non-null object
Corrected Common Name                                                  1022 non-null object
Grouped Corrected Common Name                                          1022 non-null object
Quantity                                                               865 non-null object
Corrected Quantity                                                     1022 non-null int64
Scientific Name                                                        142 non-null object
Instructors/ Seine Staff:                                              543 non-null object
# student seiners (CLASSES ONLY)                                       191 non-null object
# of visitors (Public Seine ONLY)                                      393 non-null object
# Brought to Ed Center                                                 201 non-null object
Other info (Gender, Length, Dead/Alive, other physical description)    277 non-null object
NOTES FROM SEINEING SEASON:                                            4 non-null object
Battery Park Water Temp                                                0 non-null float64
dtypes: float64(6), int64(2), object(22)
memory usage: 239.6+ KB

In [252]:
fish_df = fish_df[["Date","Corrected Common Name", "Grouped Corrected Common Name", "Corrected Quantity"]]

In [253]:
#fish_df = fish_df.fillna(1)

In [254]:
fish_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 4 columns):
Date                             1022 non-null object
Corrected Common Name            1022 non-null object
Grouped Corrected Common Name    1022 non-null object
Corrected Quantity               1022 non-null int64
dtypes: int64(1), object(3)
memory usage: 32.0+ KB

In [255]:
fish_df.tail()

,Date,Corrected Common Name,Grouped Corrected Common Name,Corrected Quantity
1017,2018-10-06,mud snail,sea snail,2
1018,2018-10-18,striped bass,striped bass,8
1019,2018-10-18,atlantic silverside,atlantic silverside,13
1020,2018-10-18,unidentified flatfish,flatfish,1
1021,2018-10-18,unidentified herring,herring,2

In [256]:
# I want a count of each species in each year

In [257]:
grouped_names = list(set(fish_df["Grouped Corrected Common Name"]))

In [258]:
ungrouped_names = list(set(fish_df["Corrected Common Name"]))

In [259]:
# def is_number(s):
#     try:
#         float(s)
#         return True
#     except ValueError:
#         return False

In [260]:
#num_caught_list = []
#for num in list(fish_df['Number Caught']):
#    if type(num) ==  int:
#        num_caught_list.append(num)
#    elif is_number(num):
#        num_caught_list.append(int(float(num)))
#    else:
#        number = ''
#        started = False
#        for char in num:
#            if char.isdigit():
#                number += char
#                started = True
#            else:
#                if char == '~':
#                    print started
#                if started:
#                    break
#        if len(number):
#            num_caught_list.append(int(number))
#        else:
#            if num in ['Numerous', 'TMTC', 'Too Many To Count']:
#                num_caught_list.append(30)
#            else:
#                num_caught_list.append(1)

In [261]:
#fish_df['Number Caught'] = num_caught_list

# Create Combined Species Count

In [262]:
fish_names = set(list(fish_df['Grouped Corrected Common Name']))

In [263]:
fish_df['Date'] = pd.to_datetime(fish_df['Date'])

In [264]:
catch_by_year = fish_df[['Date', 'Grouped Corrected Common Name', 'Corrected Quantity']].groupby(fish_df['Date'].map(lambda x: x.year))

In [265]:
catch_by_year

In [266]:
year_fish_count = {}
#cat =catch_by_year.get_group(2010).groupby('Species').sum()
#cat.index

for group in catch_by_year:
    year_fish_count[group[0]] = []
    fish_caught = catch_by_year.get_group(group[0]).groupby('Grouped Corrected Common Name').sum()
    for name in sorted(list(fish_names)):
        if name in list(fish_caught.index):
            year_fish_count[group[0]].append(int(fish_caught.loc[name]))
        else:
            year_fish_count[group[0]].append(0)

In [267]:
#year_fish_count

In [268]:
fish_check_list = pd.DataFrame(data = sorted(list(fish_names)), columns = ['Grouped Corrected Common Name'] )

In [269]:
#fish_check_list

In [270]:
years = range(2008,2019)

In [271]:
for year in years:
    fish_check_list[year] =  year_fish_count[year]

In [272]:
fish_check_list
fish_check_list['Total Caught'] = fish_check_list[[2008, 2009, 2010, 2011,2012,2013,2014,2015,2016,2017, 2018]].sum(axis=1)

In [273]:
total_by_year_list = ['Total Caught Per Year']

for year in fish_check_list.columns.values:
    if type(year) is int:
        total_by_year_list.append(sum(list(fish_check_list[year])))
total_by_year_list.append(sum(list(fish_check_list['Total Caught'])))
print total_by_year_list
fish_check_list.loc[fish_check_list.shape[0]] = total_by_year_list

['Total Caught Per Year', 17, 16, 123, 1345, 664, 687, 213, 1381, 1699, 921, 983, 8049]

In [274]:
#fish_check_list[['Grouped Corrected Common Name', 'Total Caught']].sort_values('Total Caught', ascending = False)

In [275]:
fish_check_list['Total Seasons'] =  (fish_check_list[[2008,2009,2010,2011,2012,2013,2014,2015,2016,2017, 2018]] > 0).sum(1)
fish_check_list['' ] = ''

In [276]:
fish_check_list = pd.concat([fish_check_list,fish_check_list[['Grouped Corrected Common Name', 'Total Caught']].sort_values('Total Caught', ascending = False).reset_index()], axis = 1)

In [277]:
fish_check_list  = fish_check_list.drop('index', axis=1)

In [278]:
fish_check_list.to_csv('Created CSVs/Combined_Species_Count_By_Year_2018.csv', index = False)

# Create  Uncombined Species Count

In [279]:
fish_names = set(list(fish_df['Corrected Common Name']))

In [280]:
fish_df['Date'] = pd.to_datetime(fish_df['Date'])

In [281]:
catch_by_year = fish_df[['Date', 'Corrected Common Name', 'Corrected Quantity']].groupby(fish_df['Date'].map(lambda x: x.year))

In [282]:
year_fish_count = {}
#cat =catch_by_year.get_group(2010).groupby('Species').sum()
#cat.index

for group in catch_by_year:
    year_fish_count[group[0]] = []
    fish_caught = catch_by_year.get_group(group[0]).groupby('Corrected Common Name').sum()
    for name in sorted(list(fish_names)):
        if name in list(fish_caught.index):
            year_fish_count[group[0]].append(int(fish_caught.loc[name]))
        else:
            year_fish_count[group[0]].append(0)

In [283]:
fish_check_list2 = pd.DataFrame(data = sorted(list(fish_names)), columns = ['Corrected Common Name'] )

In [284]:
years = range(2008,2019)

In [285]:
for year in years:
    fish_check_list2[year] =  year_fish_count[year]

In [286]:
fish_check_list2
fish_check_list2['Total Caught'] = fish_check_list2[[2008, 2009, 2010, 2011,2012,2013,2014,2015,2016,2017, 2018]].sum(axis=1)

In [287]:
total_by_year_list = ['Total Caught Per Year']

for year in fish_check_list2.columns.values:
    if type(year) is int:
        total_by_year_list.append(sum(list(fish_check_list2[year])))
total_by_year_list.append(sum(list(fish_check_list2['Total Caught'])))
print total_by_year_list
fish_check_list2.loc[fish_check_list2.shape[0]] = total_by_year_list

['Total Caught Per Year', 17, 16, 123, 1345, 664, 687, 213, 1381, 1699, 921, 983, 8049]

In [288]:
fish_check_list2['Total Seasons'] =  (fish_check_list2[[2008,2009,2010,2011,2012,2013,2014,2015,2016,2017, 2018]] > 0).sum(1)
fish_check_list2['' ] = ''

In [289]:
fish_check_list2 = pd.concat([fish_check_list2,fish_check_list2[['Corrected Common Name', 'Total Caught']].sort_values('Total Caught', ascending = False).reset_index()], axis = 1)

In [290]:
fish_check_list2  = fish_check_list2.drop('index', axis=1)

In [291]:
fish_check_list2.to_csv('Created CSVs/Species_Count_By_Year_2018.csv', index = False)

# Checking differences from past years

In [292]:
old_fish_list =  pd.read_csv('Created CSVs/Combined_Species_Count_By_Year2017.csv')

In [293]:
old_list = list(old_fish_list["Species"])

In [294]:
new_list = list(fish_check_list["Grouped Corrected Common Name"].iloc[:,0])

In [295]:
#fish_check_list["Grouped Corrected Common Name"].iloc[:,0]

In [296]:
for item in new_list:
    if item not in old_list:
        print item

clam
horseshoe crab
mullet fish
pollock
sculpin
skilletfish
striped burrfish

In [297]:
#new creatures: horseshoe crab, mullet fish, burrfish, pollock
# clam should be clams
# bass should be striped bass?
# pinfish is a porgy
## sculpin, not a searobin?
# scup is  a porgy
# shore crab should be asian shore or green?
# skilletfish should be skillet fish
# tomcod is atlantic tomcod
# periwinkle to sea snail

In [298]:
old_fish_list2 =  pd.read_csv('Created CSVs/Non_Combined_Species_Count_By_Year2017.csv')

In [299]:
old_list2 = list(old_fish_list2["Species"])

In [300]:
new_list2 = list(fish_check_list2["Corrected Common Name"].iloc[:,0])

In [301]:
for item in new_list2:
    if item not in old_list2:
        print item

clam
horseshoe crab
long clawed hermit crab
mullet fish
northern seahorse
periwinkle
pin fish
pollock
sculpin
skilletfish
striped burrfish

In [302]:
#new creatures: horseshoe crab, mullet fish, burrfish, pollock, long clawed hermit crab?, periwinkle?
#### shore crab should be asian shore
### sculpin, not a searobin?
### pinfish is a porgy


# change seahorse to northern seahorse
# clam should be clams
# bass should be striped bass?
### pinfish is a porgy
### sculpin, not a searobin?
# scup is  a porgy
#### shore crab should be asian shore or green?
# skilletfish should be skillet fish
# tomcod is atlantic tomcod
# periwinkle to sea snail