In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('Created CSVs/all_seins_all_data_standard_dates.csv').drop('Unnamed: 0', axis=1)

In [9]:
df = df[['Date', '# Hauls', 'Common Name', 'Quantity']]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897 entries, 0 to 896
Data columns (total 4 columns):
Date           897 non-null object
# Hauls        297 non-null object
Common Name    897 non-null object
Quantity       731 non-null object
dtypes: object(4)
memory usage: 28.1+ KB

In [13]:
df = df.dropna()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 293 entries, 590 to 896
Data columns (total 4 columns):
Date           293 non-null object
# Hauls        293 non-null object
Common Name    293 non-null object
Quantity       293 non-null object
dtypes: object(4)
memory usage: 11.4+ KB

In [21]:
df['# Hauls']

In [19]:
df.groupby('Date').sum()

,# Hauls,Common Name,Quantity
Date,,,
2016-05-26,~7,Comb Jelly,11
2016-05-31,101010101010101010,pipefishAltanic Silversidemud snailwhelk snail...,141132~20~6~50
2016-06-01,????????????,SilversideAtlantic TomcodpipefishAsian Shore C...,2115122512111
2016-06-04,ManyManyManyManyManyManyManyManyManyManyManyMa...,Silversidecomb jellyAtlantic TomcodStriped Bas...,7280111257124 clusters18112
2016-06-14,888,Atlantic TomcodComb JellyAsian Shore Crab,1754
2016-06-15,999999,SilversideStriped BasspipefishGlass ShrimpComb...,11212001
2016-07-01,555,Lady CrabAsian Shore CrabComb jelly,1110
2016-07-13,666,Comb jellyBlue CrabAtlantic Menhaden,6128
2016-07-16,1515151515151515,Shore ShrimpSand ShrimpHermit CrabSummer Floun...,11111111
2016-07-28,19191919191919,SilversideSea BassComb JellyBlue CrabLady Crab...,61451121
2016-07-29,131313131313131313,Blue CrabMud CrabAsian Shore CrabGreen crabSil...,21112210+120+
2016-08-12,~15~15~15~15~15~15~15~15~15~15,SilversidePorgyWinter FlounderGreen CrabShore ...,141113211150
2016-08-13,20202020202020202020202020202020,SilversideShore ShrimpMud SnailMusselCunnerSea...,11561111111112510250
2016-09-18,???????????????????,Black Sea BassCunnerPorgyAtlantic SilversideSI...,21371611Too Many To CountDid Not Count122111To...
2016-09-19,???????????????????????????????????,Striped BassNorthern Sea RobinBay AnchovyAtlan...,11122132432Too Many To Count23163111Too Many T...
2016-09-25,15+15+15+15+15+15+15+15+15+15+,Mud SnailCunnerComb JellyBay AnchovySilverside...,41Too Many To Count11022111
2017-06-03,between 10-14 (two nets going at once)between ...,Comb JellyAtlantic MenhadenYOY Blueback Herrin...,TMTC1141123112unknown
2017-06-09,unknownunknownunknownunknownunknownunknownunkn...,YOY Blueback Herring *Comb JellyStriped BassBa...,382011216112
2017-06-10,at least 10at least 10at least 10at least 10at...,Blueback Herring *PipefishBlue CrabAsian Shore...,5123276721TMTCTMTC1
2017-06-18,1515151515151515,Comb JellyBlueback Herringmud snailLady Crabgl...,20 +23211211
2017-06-25,181818181818,sand shrimpwinter floundercomb jellymud crabBl...,2525111
2017-07-06,12+12+12+12+12+12+12+12+,Comb jelliesOyster toad fishTautogYOY herringM...,TMTC1143211
2017-07-15,11111111111111111111,AlewifeBlue CrabComb JellyShore ShrimpMoon Jel...,51TMTC22151 colony15
2017-07-19,unknownunknownunknownunknownunknownunknownunkn...,Blue crabSilversideAsian shore crabStripped Ba...,541918 +150+213112
2017-07-22,unknownunknownunknownunknownunknownunknownunkn...,Blue crabAsian shore crabStripped BassYOY Herr...,21181221
2017-08-02,1212121212,Blue CrabStriped BassSilversideComb JellyMoon ...,192TMTC12
2017-08-05,171717171717171717171717171717,tautogCunner (YOY)winter flounderblueback herr...,4143411123173TMTC438
2017-08-20,2020202020202020202020202020202020,TautogStriped BassAtlantic MenhadenAtlantic Si...,1811661102131425271
2017-10-07,10101010,Comb JellyAsian Shore CrabOyster DrillMud Snails,TMTC1449