In [25]:
import pandas as pd
import numpy as np
from datetime import datetime

In [26]:
#google sheets datasets
csv_2008 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=737788186&format=csv'
csv_2009 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1188626592&format=csv'
csv_2010 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1492092969&format=csv'
csv_2011 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1154911519&format=csv'
csv_2012 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1815364461&format=csv'
csv_2013 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1417342758&format=csv'
csv_2014 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1605738199&format=csv'
csv_2015 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=0&format=csv'
csv_2016 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1068275557&format=csv'
csv_2017 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=126889157&format=csv'

#csv datasets
#csv_2008 = 'Sein_Data/Seining Data 2008-2017 - 2008 Catch.csv'
#csv_2009 = 'Sein_Data/Seining Data 2008-2017 - 2009 Catch.csv'
#csv_2010 = 'Sein_Data/Seining Data 2008-2017 - 2010 Catch.csv'
#csv_2011 = 'Sein_Data/Seining Data 2008-2017 - 2011 Catch.csv'
#csv_2012 = 'Sein_Data/Seining Data 2008-2017 - 2012 Catch.csv'
#csv_2013 = 'Sein_Data/Seining Data 2008-2017 - 2013 Catch.csv'
#csv_2014 = 'Sein_Data/Seining Data 2008-2017 - 2014 Catch.csv'
#csv_2015 = 'Sein_Data/Seining Data 2008-2017 - 2015 Catch.csv'
#csv_2016 = 'Sein_Data/Seining Data 2008-2017 - 2016 Catch.csv'
#csv_2017 = 'Sein_Data/Seining Data 2008-2017 - 2017 Catch.csv'

df_2008 =  pd.read_csv(csv_2013)
sheet = '1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g'
df_2012 = pd.read_csv('https://docs.google.com/spreadsheets/d/' + 
                   sheet +
                   '/export?gid=1815364461&format=csv'
                  )
df_2008.head()

,Brooklyn Bridge Park Conservancy Seining Catch list 2013,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Date,Time,Weather:,Air Temp:,Instructors:,Common Name,Quantity
1,6/4/2013,NaN,NaN,NaN,NaN,Blueback herring,1
2,NaN,NaN,NaN,NaN,NaN,Bay anchovy,1
3,NaN,NaN,NaN,NaN,NaN,Summer flounder,1
4,NaN,NaN,NaN,NaN,NaN,glass shrimp,1

In [27]:
def reformat_recent(df):
    df = df[['Date', 'Common Name', 'Quantity']]
    curr_date = df.loc[1,'Date']
    for i, date in df.iterrows():
        if pd.isnull(df.loc[i, 'Date']):
            df.loc[i, 'Date'] = curr_date
        else:
            df.loc[i, 'Date'] = df.loc[i, 'Date'].split(" ", 1)[0]
            try:
                curr_date = datetime.strptime(df.loc[i, 'Date'], '%m/%d/%Y' )
            except:
                curr_date = datetime.strptime(df.loc[i, 'Date'], '%m/%d/%y' )
            df.loc[i, 'Date'] = curr_date
    df.rename(columns={"Common Name": "Species", "Quantity": "Number Caught"}, inplace=True)
    return df

In [28]:
#df_2017_extra = pd.read_csv('Sein_Data/Seining Data 2008-2017 - 2017 Catch.csv')

In [29]:
#df_17 =reformat_recent(df_2017_extra)

In [30]:
def reformat_2012():

    df_2012 = pd.read_csv(csv_2012)
    columns = df_2012.columns.values
    #Find columns with 2 // as with dates 03/30/15
    date_columns = [date for date in columns if date.count('/') == 2 ]
    df_list = []
    
    # for every date make a separate dataframe
    for date_col_name in date_columns:
        #get all species names and all values for that day
        abridged_df = df_2012[['Name of Species', date_col_name]].head(50)
        #make column of dates
        try:
            #print date_col_name
            abridged_df['Date'] =  datetime.strptime(date_col_name, '%m/%d/%Y' )
        #except:
        #    abridged_df['Date'] =  datetime.strptime(date_col_name, '%m/%d/%y' )
        except:
            try:
                abridged_df['Date'] =  datetime.strptime(date_col_name, '%m/%d/`%y' )
            except:
                abridged_df['Date'] =  datetime.strptime(date_col_name, '%m/%d/%y' )
        #remove all rows where nothing was caught
        abridged_df = abridged_df.dropna()
        abridged_df.rename(columns={date_col_name: 'Number Caught', 'Name of Species': 'Species'}, inplace=True)
        df_list.append(abridged_df)
    #combine all the dataframes into one big one
    sein_df_2012 = pd.concat(df_list)
    return sein_df_2012

In [31]:
def reformat_2011():
    df_2011 = pd.read_csv(csv_2011)            
    #set proper column indexes and remove junk rows
    df_2011.columns = df_2011.iloc[1]
    df_2011.reindex(df_2011.index.drop(1))
    df_2011 = df_2011.drop([0,1,36])
    #renaming columns to substitute for blank values '######' with approximations
    df_2011.columns = ['Name of Species', '5/10/2011', '5/14/2011', '5/20/2011', '5/28/2011',
           'Total Number May', '6/11/2011', '6/14/2011', '6/26/2011',
           'Total Number June', '7/10/2011', '7/11/2011', '7/12/2011',
           '7/13/2011', 'Total Number July', '8/02/2011', '8/9/2011',
           '8/10/2011', 'Total Number August', '9/10/2011', '9/20/2011', '9/26/2011',
           'Total Number Sept', 'Total Number October']
    #remove columns that are just sums of past columns
    selected_columns = [col for col in df_2011 if "Total" not in col]
    df_2011 = df_2011[selected_columns]
    df_2011.head()
    df_list_2011 = []
    for col in df_2011.columns.values:
        if col == 'Name of Species':
            continue
        abridged_df = df_2011[['Name of Species', col]]
        abridged_df['Date'] = datetime.strptime(col, '%m/%d/%Y' )
        abridged_df = abridged_df.dropna()
        abridged_df.rename(columns={col: 'Number Caught', 'Name of Species': 'Species'}, inplace=True)
        df_list_2011.append(abridged_df)

    sein_df_2011 = pd.concat(df_list_2011)
    return sein_df_2011

In [32]:
def reformat_2010():
    df_2010 = pd.read_csv(csv_2010)
    df_2010 = df_2010.drop([0])
    curr_date = df_2010.loc[1]
    for i, date in df_2010.iterrows():
        if pd.isnull(df_2010.loc[i, 'Unnamed: 0']):
            df_2010.loc[i, 'Unnamed: 0'] = curr_date
        else:
            try:
                curr_date = datetime.strptime(df_2010.loc[i, 'Unnamed: 0'], '%A, %B %d, %Y' )
            except:
                date_string = df_2010.loc[i, 'Unnamed: 0'] + ", 2010"
                curr_date = datetime.strptime(date_string, '%A %B %d, %Y' )
            df_2010.loc[i, 'Unnamed: 0'] = curr_date
    df_2010 = df_2010[['Unnamed: 0', 'Seining catch 2010']]
    df_2010 = df_2010.dropna()
    df_2010 = df_2010.drop([1])
    #rename columns
    df_2010.rename(columns={"Unnamed: 0": "Date", "Seining catch 2010": "Species"}, inplace=True)
    df_2010['Number Caught'] = np.NaN
    #datetime_object = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')
    return df_2010

In [33]:
def reformat_2009(): 
    df_2009 = pd.read_csv(csv_2009)
    df_2009 = df_2009.drop([0,1,16])
    curr_date = df_2009.loc[2]


    for i, date in df_2009.iterrows():
        if pd.isnull(df_2009.loc[i, 'Unnamed: 0']):
            df_2009.loc[i, 'Unnamed: 0'] = curr_date
        else:
            try:
                curr_date = datetime.strptime(df_2009.loc[i, 'Unnamed: 0'], '%A, %B %d, %Y' )
            except:
                date_string = df_2009.loc[i, 'Unnamed: 0'] + ", 2009"
                curr_date = datetime.strptime(date_string, '%A %B %d, %Y' )
            df_2009.loc[i, 'Unnamed: 0'] = curr_date

    df_2009 = df_2009[['Unnamed: 0', 'Seining catch 2009']]
    df_2009 = df_2009.dropna()
    #rename columns
    df_2009.rename(columns={"Unnamed: 0": "Date", "Seining catch 2009": "Species"}, inplace=True)
    df_2009['Number Caught'] = np.NaN
    #datetime_object = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')
    return df_2009

In [34]:
def reformat_2008():
    df_2008 = pd.read_csv(csv_2008)
    df_2008 = df_2008.drop([0,1])
    curr_date = df_2008.loc[2]

    for i, date in df_2008.iterrows():
            if pd.isnull(df_2008.loc[i, 'Unnamed: 0']):
                df_2008.loc[i, 'Unnamed: 0'] = curr_date
            else:
                try:
                    curr_date = datetime.strptime(df_2008.loc[i, 'Unnamed: 0'], '%A, %B %d, %Y' )
                except:
                    date_string = df_2008.loc[i, 'Unnamed: 0'] + ", 2008"
                    curr_date = datetime.strptime(date_string, '%A %B %d, %Y' )
                df_2008.loc[i, 'Unnamed: 0'] = curr_date

    df_2008 = df_2008.drop([2])

    df_2008 = df_2008[['Unnamed: 0', 'Seining catch 2008']]
    df_2008 = df_2008.dropna()
    #rename columns
    df_2008.rename(columns={"Unnamed: 0": "Date", "Seining catch 2008": "Species"}, inplace=True)
    df_2008['Number Caught'] = np.NaN
    return df_2008

In [35]:
sein_df_2008 = reformat_2008()

In [36]:
sein_df_2009 = reformat_2009()

In [37]:
sein_df_2010 = reformat_2010()

In [38]:
sein_df_2011 = reformat_2011()

/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [39]:
sein_df_2012 = reformat_2012()

In [40]:
df_2013 = pd.read_csv(csv_2013)

df_2013.columns = df_2013.iloc[0]
df_2013 = df_2013.drop([0])

sein_df_2013 = reformat_recent(df_2013)

/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [41]:
df_2014 = pd.read_csv(csv_2014)
sein_df_2014 = reformat_recent(df_2014)

/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [42]:
sein_df_2015 = reformat_recent(pd.read_csv(csv_2015))

/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [43]:
sein_df_2016 = reformat_recent(pd.read_csv(csv_2016))

/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [44]:
sein_df_2017 = reformat_recent(pd.read_csv(csv_2017))

/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [45]:
all_seins = pd.concat([sein_df_2008,sein_df_2009,sein_df_2010,sein_df_2011,sein_df_2012, sein_df_2013,sein_df_2014, sein_df_2015, sein_df_2016,sein_df_2017])

In [46]:
all_seins = all_seins.dropna(subset=["Species"])

In [47]:
all_seins

,Date,Number Caught,Species
3,2008-09-13 00:00:00,NaN,sea squirt
4,2008-09-13 00:00:00,NaN,shore shrimp
5,2008-09-13 00:00:00,NaN,mantis shrimp
6,2008-09-13 00:00:00,NaN,sand shrimp
7,2008-09-13 00:00:00,NaN,hermit crab
8,2008-09-13 00:00:00,NaN,oyster toadfish
9,2008-09-13 00:00:00,NaN,striped bass
10,2008-09-13 00:00:00,NaN,northern kingfish
11,2008-09-13 00:00:00,NaN,northern pipefish
12,2008-09-13 00:00:00,NaN,striped searobin
13,2008-09-13 00:00:00,NaN,Atlantic silverside
14,2008-09-13 00:00:00,NaN,anchovy
15,2008-09-13 00:00:00,NaN,blue crab
16,2008-09-13 00:00:00,NaN,lady crab
17,2008-09-13 00:00:00,NaN,winter flounder
18,2008-09-13 00:00:00,NaN,comb jelly
19,2008-09-13 00:00:00,NaN,lion's mane jellyfish
2,2009-06-20 00:00:00,NaN,Species caught
3,2009-06-20 00:00:00,NaN,bay anchovy
4,2009-06-20 00:00:00,NaN,northern pipefish
5,2009-06-20 00:00:00,NaN,striped bass
6,2009-06-20 00:00:00,NaN,shore shrimp
7,2009-06-20 00:00:00,NaN,sand shrimp
8,2009-06-20 00:00:00,NaN,sea squirts
9,2009-06-20 00:00:00,NaN,blue crab
10,2009-06-20 00:00:00,NaN,comb jelly
11,2009-06-20 00:00:00,NaN,hydroids
12,2009-06-20 00:00:00,NaN,"hermit crab,"
13,2009-06-20 00:00:00,NaN,snails
14,2009-06-20 00:00:00,NaN,Two hemigrapsis molts were found on the beach.
...,...,...,...
124,2017-08-20 00:00:00,8,Striped Bass
125,2017-08-20 00:00:00,1,Atlantic Menhaden
126,2017-08-20 00:00:00,16,Atlantic Silverside
127,2017-08-20 00:00:00,6,Silver Perch
128,2017-08-20 00:00:00,1,Winter Flounder
129,2017-08-20 00:00:00,10,Herring SPP (pre metamorph)
130,2017-08-20 00:00:00,2,Grass Shrimp
131,2017-08-20 00:00:00,1,Sand Shrimp
132,2017-08-20 00:00:00,3,Mud Crab
133,2017-08-20 00:00:00,1,Hermit Crab
134,2017-08-20 00:00:00,4,Asian Shore Crab
135,2017-08-20 00:00:00,2,Blue Crab
136,2017-08-20 00:00:00,5,Mud Snail
137,2017-08-20 00:00:00,2,Oyster Drill
138,2017-08-20 00:00:00,7,Comb Jelly
139,2017-08-20 00:00:00,1,Moon Jelly
140,2017-09-17 00:00:00,6,YOY Silverside
141,2017-09-17 00:00:00,1,Spotted Whiff
142,2017-09-17 00:00:00,1,Striped Bass
143,2017-09-17 00:00:00,5,Blue Crab
144,2017-09-17 00:00:00,1,Lady Crab
145,2017-09-17 00:00:00,12,Asian Shore Crab
146,2017-09-17 00:00:00,1,Silverside
147,2017-09-17 00:00:00,1,Grubby
148,2017-09-17 00:00:00,TMTC,Comb Jelly
149,2017-09-17 00:00:00,2,Shore Shrimp
150,2017-10-07 00:00:00,TMTC,Comb Jelly
151,2017-10-07 00:00:00,14,Asian Shore Crab
152,2017-10-07 00:00:00,4,Oyster Drill
153,2017-10-07 00:00:00,9,Mud Snails

In [48]:
all_seins.to_csv('Created CSVs/all_seins.csv')