Okay I want a tfidf so we need term frequency per year, the amount of species in that year, the total number of years, and the number of years that species showed up in, tf made, working on idf

In [18]:
import pandas as pd

In [19]:
df =pd.read_csv('../Created CSVs/Combined_Species_Count_By_Year_2019.csv')

In [20]:
df.tail(2)

,Grouped Corrected Common Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total Caught,Total Seasons,Unnamed: 15,Grouped Corrected Common Name.1,Total Caught.1
67,wrasel sea bass,0,0,0,0,3,0,0,0,0,0,0,0,3,1,NaN,northern stargazer,1
68,Total Caught Per Year,17,16,123,1345,664,687,213,1381,1699,921,994,2311,10371,11,NaN,grubby,1

In [21]:
total = df.tail(1)

In [38]:
total['2011'].values[0]

1345

In [16]:
df.drop(df.tail(1).index,inplace=True)

In [17]:
df.tail(1)

,Grouped Corrected Common Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total Caught,Total Seasons,Unnamed: 15,Grouped Corrected Common Name.1,Total Caught.1
67,wrasel sea bass,0,0,0,0,3,0,0,0,0,0,0,0,3,1,NaN,northern stargazer,1

In [64]:

#df['2008']/total['2011'].values[0]

In [55]:
years =df.keys().values[1:13]

In [65]:
for year in years:
    df['tf'+year]= df[year]/total[year].values[0]

In [66]:
df

,Grouped Corrected Common Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,...,tf2010,tf2011,tf2012,tf2013,tf2014,tf2015,tf2016,tf2017,tf2018,tf2019
0,american eel,0,0,0,0,2,3,0,0,1,...,0.000000,0.000000,0.003012,0.004367,0.000000,0.000000,0.000589,0.001086,0.000000,0.000865
1,american shad,0,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001086,0.000000,0.000000
2,amphipod,0,0,3,2,0,0,0,4,40,...,0.024390,0.001487,0.000000,0.000000,0.000000,0.002896,0.023543,0.000000,0.000000,0.000000
3,anemone,0,0,2,0,0,0,0,0,0,...,0.016260,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,asian shore crab,0,0,4,0,8,13,12,43,50,...,0.032520,0.000000,0.012048,0.018923,0.056338,0.031137,0.029429,0.043431,0.030181,0.000000
5,atlantic menhaden,0,0,0,0,0,0,1,5,70,...,0.000000,0.000000,0.000000,0.000000,0.004695,0.003621,0.041201,0.003257,0.053320,0.045002
6,atlantic silverside,1,1,13,255,180,74,42,1030,250,...,0.105691,0.189591,0.271084,0.107715,0.197183,0.745836,0.147145,0.040174,0.479879,0.620943
7,atlantic tomcod,0,0,1,7,34,0,2,0,3,...,0.008130,0.005204,0.051205,0.000000,0.009390,0.000000,0.001766,0.001086,0.010060,0.019039
8,bay anchovy,1,1,0,150,23,1,0,0,16,...,0.000000,0.111524,0.034639,0.001456,0.000000,0.000000,0.009417,0.001086,0.004024,0.029424
9,black sea bass,0,0,0,0,0,1,0,0,21,...,0.000000,0.000000,0.000000,0.001456,0.000000,0.000000,0.012360,0.001086,0.000000,0.000000
10,blue crab,1,1,10,32,12,4,4,7,16,...,0.081301,0.023792,0.018072,0.005822,0.018779,0.005069,0.009417,0.023887,0.016097,0.006058
11,bluefish,0,0,6,2,3,37,1,5,0,...,0.048780,0.001487,0.004518,0.053857,0.004695,0.003621,0.000000,0.001086,0.011066,0.012116
12,bluespotted cornetfish,0,0,0,0,0,0,0,1,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000724,0.000000,0.000000,0.000000,0.000000
13,box crab,0,0,0,0,0,0,0,4,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.002896,0.000000,0.000000,0.000000,0.000000
14,clam,0,0,0,0,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000589,0.008686,0.001006,0.004760
15,comb jelly,1,1,14,393,170,505,86,58,887,...,0.113821,0.292193,0.256024,0.735080,0.403756,0.041999,0.522072,0.376764,0.123742,0.002164
16,cunner,0,0,0,0,1,0,0,1,6,...,0.000000,0.000000,0.001506,0.000000,0.000000,0.000724,0.003531,0.002172,0.000000,0.000433
17,flatfish,1,0,9,7,8,1,7,10,7,...,0.073171,0.005204,0.012048,0.001456,0.032864,0.007241,0.004120,0.009772,0.006036,0.001298
18,green crab,0,1,1,7,8,0,1,0,10,...,0.008130,0.005204,0.012048,0.000000,0.004695,0.000000,0.005886,0.000000,0.002012,0.000000
19,grubby,0,0,0,0,0,0,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.004695,0.000000,0.000000,0.000000,0.000000,0.000000
20,hermit crab,1,1,2,2,3,1,1,8,1,...,0.016260,0.001487,0.004518,0.001456,0.004695,0.005793,0.000589,0.001086,0.038229,0.005193
21,herring,0,0,0,66,10,1,2,13,0,...,0.000000,0.049071,0.015060,0.001456,0.009390,0.009413,0.000000,0.155266,0.004024,0.004327
22,horseshoe crab,0,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002012,0.003029
23,hydrozoa,0,1,3,5,0,0,0,4,0,...,0.024390,0.003717,0.000000,0.000000,0.000000,0.002896,0.000000,0.000000,0.000000,0.000000
24,isopod,0,0,0,1,0,0,0,1,0,...,0.000000,0.000743,0.000000,0.000000,0.000000,0.000724,0.000000,0.000000,0.000000,0.000865
25,jellyfish,1,1,6,83,1,26,2,0,3,...,0.048780,0.061710,0.001506,0.037846,0.009390,0.000000,0.001766,0.023887,0.020121,0.009520
26,lady crab,1,0,1,0,0,0,0,4,3,...,0.008130,0.000000,0.000000,0.000000,0.000000,0.002896,0.001766,0.002172,0.000000,0.000000
27,mole crab,0,0,0,0,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000589,0.000000,0.000000,0.000000
28,mud crab,0,0,0,0,1,2,0,0,4,...,0.000000,0.000000,0.001506,0.002911,0.000000,0.000000,0.002354,0.004343,0.000000,0.000000
29,mullet fish,0,0,0,0,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000589,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,pollock,0,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001006,0.000000
40,polychaete worm,0,0,2,1,1,0,0,1,3,...,0.016260,0.000743,0.001506,0.000000,0.000000,0.000724,0.001766,0.002172,0.001006,0.001298
41,porgy,0,0,0,0,3,0,3,40,13,...,0.000000,0.000000,0.004518,0.000000,0.014085,0.028965,0.007652,0.000000,0.006036,0.000865
42,puffer,0,0,4,0,1,0,0,0,0,...,0.032520,0.000000,0.001506,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000865
43,sculpin,0,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001086,0.000000,0.000000
44,sea robin,1,0,1,0,0,0,0,0,3,...,0.008130,0.000000,0.000000,0.000000,0.000000,0.000000,0.001766,0.000000,0.000000,0.000000
45,sea snail,0,1,2,73,22,2,0,9,113,...,0.016260,0.054275,0.033133,0.002911,0.000000,0.006517,0.066510,0.061889,0.059356,0.103418
46,seaboard goby,0,0,0,0,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000589,0.000000,0.000000,0.000000
47,sennet,0,0,1,0,0,0,0,0,0,...,0.008130,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
48,shrimp,3,2,16,129,58,10,9,24,31,...,0.130081,0.095911,0.087349,0.014556,0.042254,0.017379,0.018246,0.080347,0.075453,0.055387
49,silver perch,0,0,0,0,1,0,0,0,1,...,0.000000,0.000000,0.001506,0.000000,0.000000,0.000000,0.000589,0.006515,0.004024,0.025963
50,skilletfish,0,0,0,1,1,0,0,0,0,...,0.000000,0.000743,0.001506,0.000000,0.000000,0.000000,0.000000,0.000000,0.004024,0.003462
51,spider crab,0,0,0,1,0,0,0,0,2,...,0.000000,0.000743,0.000000,0.000000,0.000000,0.000000,0.001177,0.000000,0.000000,0.000000
52,sponge,0,0,1,0,0,0,0,1,1,...,0.008130,0.000000,0.000000,0.000000,0.000000,0.000724,0.000589,0.000000,0.000000,0.000000
53,spot,0,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001298
54,spotted hake,0,0,0,0,6,0,0,0,0,...,0.000000,0.000000,0.009036,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
55,spotted whiff,0,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001086,0.000000,0.000000
56,striped anchovy,0,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001298
57,striped bass,1,1,7,24,3,2,35,64,16,...,0.056911,0.017844,0.004518,0.002911,0.164319,0.046343,0.009417,0.046688,0.015091,0.003462
58,striped burrfish,0,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001006,0.000000
59,tautog,0,0,0,0,0,0,0,4,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.002896,0.000589,0.007600,0.005030,0.003894
60,tube worm,0,0,0,1,0,0,0,0,0,...,0.000000,0.000743,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
61,tunicates,1,1,0,76,89,2,0,20,64,...,0.000000,0.056506,0.134036,0.002911,0.000000,0.014482,0.037669,0.034745,0.000000,0.000000
62,unidentified fish,0,0,0,0,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000589,0.000000,0.000000,0.000000
63,unidentified shrimp,0,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.019039
64,western mosquito fish,0,0,0,0,0,0,0,0,2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001177,0.000000,0.000000,0.000000
65,white mullet,0,0,0,0,2,0,0,0,0,...,0.000000,0.000000,0.003012,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
66,white perch,0,0,0,1,0,0,0,4,0,...,0.000000,0.000743,0.000000,0.000000,0.000000,0.002896,0.000000,0.000000,0.001006,0.000433
67,wrasel sea bass,0,0,0,0,3,0,0,0,0,...,0.000000,0.000000,0.004518,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
68,Total Caught Per Year,17,16,123,1345,664,687,213,1381,1699,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [61]:
year_tf = {}
for col in years:
    for row in df[col]:
        year_tf[col] =

0
0
0
0
0
0
1
0
1
0
1
0
0
0
0
1
0
1
0
0
1
0
0
0
0
1
1
0
0
0
0
0
0
1
1
0
0
0
1
0
0
0
0
0
1
0
0
0
3
0
0
0
0
0
0
0
0
1
0
0
0
1
0
0
0
0
0
0
17
0
0
0
0
0
0
1
0
1
0
1
0
0
0
0
1
0
0
1
0
1
0
0
1
0
1
0
0
0
0
0
0
0
0
2
1
0
0
0
0
0
0
0
0
0
1
0
0
2
0
0
0
0
0
0
0
0
1
0
0
0
1
0
0
0
0
0
0
16
0
0
3
2
4
0
13
1
0
0
10
6
0
0
0
14
0
9
1
0
2
0
0
3
0
6
1
0
0
0
1
0
0
1
10
0
0
0
2
0
2
0
4
0
1
2
0
1
16
0
0
0
1
0
0
0
0
7
0
0
0
0
0
0
0
0
0
0
123
0
0
2
0
0
0
255
7
150
0
32
2
0
0
0
393
0
7
7
0
2
66
0
5
1
83
0
0
0
0
0
1
0
1
5
0
0
17
2
0
1
0
0
0
0
73
0
0
129
0
1
1
0
0
0
0
0
24
0
0
1
76
0
0
0
0
1
0
1345
2
0
0
0
8
0
180
34
23
0
12
3
0
0
0
170
1
8
8
0
3
10
0
0
0
1
0
0
1
0
2
0
0
0
5
0
1
0
2
0
1
3
1
0
0
22
0
0
58
1
1
0
0
0
6
0
0
3
0
0
0
89
0
0
0
2
0
3
664
3
0
0
0
13
0
74
0
1
1
4
37
0
0
0
505
0
1
0
0
1
1
0
0
0
26
0
0
2
0
0
0
0
0
1
0
0
0
1
0
0
0
0
0
0
2
0
0
10
0
0
0
0
0
0
0
0
2
0
0
0
2
0
0
0
0
0
0
687
0
0
0
0
12
1
42
2
0
0
4
1
0
0
0
86
0
7
1
1
1
2
0
0
0
2
0
0
0
0
0
0
0
1
1
1
0
0
1
0
0
3
0
0
0
0
0
0
9
0
0
0
0
0
0
0
0
35
0
0
0
0
0
0
0
0
0
0
213
0
0
4
0
43
5
1030
0
0
0
7
5
1
4
0
58
1
10
0
0
8
13
0
4
1
0
4
0
0
0
9
0
0
0
6
1
0
0
0
0
1
40
0
0
0
9
0
0
24
0
0
0
1
0
0
0
0
64
0
4
0
20
0
0
0
0
4
0
1381
1
0
40
0
50
70
250
3
16
21
16
0
0
0
1
887
6
7
10
0
1
0
0
0
0
3
3
1
4
1
13
1
0
3
7
0
0
30
2
0
3
13
0
0
3
113
1
0
31
1
0
2
1
0
0
0
0
16
0
1
0
64
1
0
2
0
0
0
1699
1
1
0
0
40
3
37
1
1
1
22
1
0
0
8
347
2
9
0
0
1
143
0
0
0
22
2
0
4
0
3
0
0
1
4
0
0
43
1
0
2
0
0
1
0
57
0
0
74
6
0
0
0
0
0
1
0
43
0
7
0
32
0
0
0
0
0
0
921
0
0
0
0
30
53
477
10
4
0
16
11
0
0
1
123
0
6
2
0
38
4
2
0
0
20
0
0
0
0
12
0
0
0
13
0
0
0
0
1
1
6
0
0
0
59
0
0
75
4
4
0
0
0
0
0
0
15
1
5
0
0
0
0
0
0
1
0
994
2
0
0
0
0
104
1435
44
68
0
14
28
0
0
11
5
1
3
0
0
12
10
7
0
2
22
0
0
0
0
17
0
4
0
10
0
0
0
2
0
3
2
2
0
0
239
0
0
128
60
8
0
0
3
0
0
3
8
0
9
0
0
0
44
0
0
1
0
2311

In [26]:
tfnum2011 = df[['Grouped Corrected Common Name','2011']]

In [39]:
tfls = []
for i,row in tfnum2011.iterrows():
   tfls.append(row['2011']/total['2011'].values[0])

In [41]:
tfnum2011['tf'] = tfls

C:\Users\shad\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   Grouped Corrected Common Name  2011        tf
0                   american eel     0  0.000000
1                  american shad     0  0.000000
2                       amphipod     2  0.001487
3                        anemone     0  0.000000
4               asian shore crab     0  0.000000
5              atlantic menhaden     0  0.000000
6            atlantic silverside   255  0.189591
7                atlantic tomcod     7  0.005204
8                    bay anchovy   150  0.111524
9                 black sea bass     0  0.000000
10                     blue crab    32  0.023792
11                      bluefish     2  0.001487
12        bluespotted cornetfish     0  0.000000
13                      box crab     0  0.000000
14                          clam     0  0.000000
15                    comb jelly   393  0.292193
16                        cunner     0  0.000000
17                      flatfish     7  0.005204
18                    green crab     7  0.005204
19                        grubby     0  0.000000
20                   hermit crab     2  0.001487
21                       herring    66  0.049071
22                horseshoe crab     0  0.000000
23                      hydrozoa     5  0.003717
24                        isopod     1  0.000743
25                     jellyfish    83  0.061710
26                     lady crab     0  0.000000
27                     mole crab     0  0.000000
28                      mud crab     0  0.000000
29                   mullet fish     0  0.000000
..                           ...   ...       ...
39                       pollock     0  0.000000
40               polychaete worm     1  0.000743
41                         porgy     0  0.000000
42                        puffer     0  0.000000
43                       sculpin     0  0.000000
44                     sea robin     0  0.000000
45                     sea snail    73  0.054275
46                 seaboard goby     0  0.000000
47                        sennet     0  0.000000
48                        shrimp   129  0.095911
49                  silver perch     0  0.000000
50                   skilletfish     1  0.000743
51                   spider crab     1  0.000743
52                        sponge     0  0.000000
53                          spot     0  0.000000
54                  spotted hake     0  0.000000
55                 spotted whiff     0  0.000000
56               striped anchovy     0  0.000000
57                  striped bass    24  0.017844
58              striped burrfish     0  0.000000
59                        tautog     0  0.000000
60                     tube worm     1  0.000743
61                     tunicates    76  0.056506
62             unidentified fish     0  0.000000
63           unidentified shrimp     0  0.000000
64         western mosquito fish     0  0.000000
65                  white mullet     0  0.000000
66                   white perch     1  0.000743
67               wrasel sea bass     0  0.000000
68         Total Caught Per Year  1345  1.000000

[69 rows x 3 columns]