In [109]:
import pandas as pd

In [110]:
julaugdf = pd.read_excel('ERFA_Data_Z9_JulyAug2019_PJP.xlsx', sheet_name='Fish (Pooled)')

In [111]:
mayjundf = pd.read_excel('ERFA_Data_Z9_MayJune2019_PJP.xlsx', sheet_name='Fish (Pooled)')

In [112]:
db = pd.concat([mayjundf,julaugdf])

In [113]:
db = db[db.Method == 'Event - Seining']

In [114]:
db["Date"] = pd.to_datetime(db.Date)

In [115]:
db["Weather & Air Temp (F)"] = ""

In [116]:
db['# of student seiners (CLASSES ONLY)'] = ""

In [117]:
db["# of visitors (Public Seine ONLY)"] = ""

In [118]:
db['Instructors/ Seine Staff:'] = ""

In [119]:
db['# Hauls'] = ""

In [120]:
db2 = db[['Date', 'Time (Range)','Weather & Air Temp (F)','H2O Temp. (°C/°F)', 'High Tide', 'DO (ppm)','pH','Salinity (ppt)','Turbidity (NTU)',
   '# of student seiners (CLASSES ONLY)',"# of visitors (Public Seine ONLY)",'Instructors/ Seine Staff:',
   "# Hauls", 'Common Name (or Taxon) - POOLED DATA ','Quantity','Kept/Released','Comments']]

In [121]:
dupsummed = db2[db2[['Date','Common Name (or Taxon) - POOLED DATA ']].duplicated(keep=False)].groupby(['Date','Common Name (or Taxon) - POOLED DATA ']).sum().reset_index()

In [122]:
dupsummed

,Date,Common Name (or Taxon) - POOLED DATA,pH,Turbidity (NTU),Quantity
0,2019-07-11,spot (Lafayette) (n),23.10,93.0,3
1,2019-07-13,"menhaden, Atlantic (n)",15.68,75.6,3
2,2019-08-10,Blue Crab,0.00,0.0,5
3,2019-08-10,"pipefish, northern (n)",0.00,0.0,5

In [137]:
db22 = db2[~db2[['Date','Common Name (or Taxon) - POOLED DATA ']].duplicated()]

In [138]:
for i, x in dupsummed.iterrows():
    mask = (db22.Date == x.Date) & (db22['Common Name (or Taxon) - POOLED DATA '] == x['Common Name (or Taxon) - POOLED DATA '])
    db22.loc[mask,"Quantity"] = int(x.Quantity)

In [139]:
db22[db22['Common Name (or Taxon) - POOLED DATA '] == 'Blue Crab']

,Date,Time (Range),Weather & Air Temp (F),H2O Temp. (°C/°F),High Tide,DO (ppm),pH,Salinity (ppt),Turbidity (NTU),# of student seiners (CLASSES ONLY),# of visitors (Public Seine ONLY),Instructors/ Seine Staff:,# Hauls,Common Name (or Taxon) - POOLED DATA,Quantity,Kept/Released,Comments
21,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,Blue Crab,3,Released,Length is Carapace Width
16,2019-07-11,10:00am-1:00pm,,79.3°F,4:49am,7.73,7.70,21.68,31.0,,,,,Blue Crab,3,Released,all less than 1 inch (carapace?)
43,2019-07-25,10:00am-11:45am,,80.6°F,2:54am,7,7.00,26,NaN,,,,,Blue Crab,1,Released,NaN
66,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,Blue Crab,5,Released,Great Hudson River Fish Count
79,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.5,,,,,Blue Crab,1,Released,school group
93,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,Blue Crab,1,Released,Public seine; carapace length