In [1]:
import pandas as pd

In [2]:
df =pd.read_csv('../Created CSVs/Cleaned_For_Analysis_All_Data.csv')

In [3]:
df.columns

Index([u'Unnamed: 0', u'Date', u'Time', u'Weather & Air Temp:', u'Water Temp:',
       u'Corrected Water Temp:', u'pH', u'Corrected pH', u'DO',
       u'Corrected DO', u'Turbidity', u'Salinity', u'Corrected Salinity',
       u'Tide is moving', u'Tide Times', u'# Hauls', u'Corrected # Hauls',
       u'Common Name', u'Corrected Common Name',
       u'Grouped Corrected Common Name', u'Quantity', u'Corrected Quantity',
       u'Scientific Name', u'Instructors/ Seine Staff:',
       u'# student seiners (CLASSES ONLY)',
       u'# of visitors (Public Seine ONLY)', u'# Brought to Ed Center',
       u'Other info (Gender, Length, Dead/Alive, other physical description)',
       u'NOTES FROM SEINEING SEASON:', u'Battery Park Water Temp'],
      dtype='object')

In [4]:
df = df[['Date', 'Battery Park Water Temp', 'Grouped Corrected Common Name', 'Corrected Quantity']]

In [5]:
df['Date'] = pd.to_datetime(df['Date'])

In [6]:
df['Month'] = df['Date'].dt.month

In [7]:
df.groupby("Date").mean().info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 130 entries, 2008-09-13 to 2018-10-18
Data columns (total 3 columns):
Battery Park Water Temp    108 non-null float64
Corrected Quantity         130 non-null float64
Month                      130 non-null float64
dtypes: float64(3)
memory usage: 4.1 KB

In [8]:
#daily_df = pd.read_csv('../Created CSVs/Cleaned_For_Analysis_Compressed_By_Day.csv')

In [9]:
#daily_df.tail()

In [10]:
fish_count = {}
for val in list(set(df["Grouped Corrected Common Name"])):
    fish_count[val] = 0

In [11]:
temp_max = df['Battery Park Water Temp'].max()

In [12]:
temp_min = df['Battery Park Water Temp'].min()

In [13]:
#temp_intrvl = (temp_max - temp_min)/10

In [14]:
temp_max - temp_min

26.099999999999994

In [44]:
df_cold = df[df["Battery Park Water Temp"]<= temp_min + 5]

In [16]:
df_cool = df[(df["Battery Park Water Temp"]<= temp_min + 10) & (df["Battery Park Water Temp"]> temp_min + 5)]

In [17]:
df_tepid = df[(df["Battery Park Water Temp"]<= temp_min + 15) & (df["Battery Park Water Temp"]> temp_min + 10)]

In [18]:
df_warm = df[(df["Battery Park Water Temp"]<= temp_min + 20) & (df["Battery Park Water Temp"]> temp_min + 15)]

In [19]:
df_hot = df[(df["Battery Park Water Temp"]<= temp_min + 25) & (df["Battery Park Water Temp"]> temp_min + 20)]

In [20]:
df_hot_tub = df[(df["Battery Park Water Temp"]<= temp_min + 30) & (df["Battery Park Water Temp"]> temp_min + 25)]

In [21]:
df_cold.size, df_cool.size, df_tepid.size, df_warm.size, df_hot.size,df_hot_tub.size

(115, 100, 765, 1215, 1665, 245)

In [71]:
cold = df_cold.groupby("Grouped Corrected Common Name", as_index=False).sum()[["Corrected Quantity","Grouped Corrected Common Name"]]

In [73]:
cold['Percentile'] =  cold["Corrected Quantity"]/ cold["Corrected Quantity"].sum()

In [77]:
seine_count = df_cold.groupby("Grouped Corrected Common Name").count()['Corrected Quantity']

In [80]:
cold['Per Seine'] = cold['Corrected Quantity']/list(seine_count)

In [81]:
cold

    Corrected Quantity Grouped Corrected Common Name  Percentile  Per Seine
0                    2                      amphipod    0.011905        2.0
1                   11              asian shore crab    0.065476        5.5
2                   33           atlantic silverside    0.196429       16.5
3                    1               atlantic tomcod    0.005952        1.0
4                    3                   bay anchovy    0.017857        3.0
5                    9                     blue crab    0.053571        9.0
6                   12                    comb jelly    0.071429        4.0
7                    2                      flatfish    0.011905        2.0
8                    1                   hermit crab    0.005952        1.0
9                    6                       herring    0.035714        6.0
10                   1                        isopod    0.005952        1.0
11                   4                     jellyfish    0.023810        2.0
12                   2             northern pipefish    0.011905        2.0
13                   1               polychaete worm    0.005952        1.0
14                   3                     sea snail    0.017857        3.0
15                  73                        shrimp    0.434524       36.5
16                   4                  striped bass    0.023810        4.0

In [75]:
seine_count = df_cold.groupby("Grouped Corrected Common Name").count()['Corrected Quantity']

In [76]:
seine_count

Grouped Corrected Common Name
amphipod               1
asian shore crab       2
atlantic silverside    2
atlantic tomcod        1
bay anchovy            1
blue crab              1
comb jelly             3
flatfish               1
hermit crab            1
herring                1
isopod                 1
jellyfish              2
northern pipefish      1
polychaete worm        1
sea snail              1
shrimp                 2
striped bass           1
Name: Corrected Quantity, dtype: int64

In [49]:
cold

Grouped Corrected Common Name
amphipod                2
asian shore crab       11
atlantic silverside    33
atlantic tomcod         1
bay anchovy             3
blue crab               9
comb jelly             12
flatfish                2
hermit crab             1
herring                 6
isopod                  1
jellyfish               4
northern pipefish       2
polychaete worm         1
sea snail               3
shrimp                 73
striped bass            4
Name: Corrected Quantity, dtype: int64