In [91]:
import pandas as pd
pd.set_option('display.max_rows', 500)

### Combine june,may,july, aug, datasets, take only the seining data, add columns, and make dataframe of only the columns we want

In [92]:
julaugdf = pd.read_excel('ERFA_Data_Z9_JulyAug2019_PJP.xlsx', sheet_name='Fish (Pooled)')

In [124]:
julaugdf.Date.unique()

array(['2019-07-11T00:00:00.000000000', '2019-07-13T00:00:00.000000000',
       '2019-07-15T00:00:00.000000000', '2019-07-12T00:00:00.000000000',
       '2019-07-25T00:00:00.000000000', '2019-08-07T00:00:00.000000000',
       '2019-08-10T00:00:00.000000000', '2019-08-14T00:00:00.000000000',
       '2019-08-31T00:00:00.000000000'], dtype='datetime64[ns]')

In [126]:
julaugdf[julaugdf['Date'] == '2019-08-07T00:00:00.000000000']

,Common Name (or Taxon) - POOLED DATA,Scientific Name,Fish/Invert,Zone,Site,Date,Time (Range),High Tide,Method,Quantity,...,Turbidity - Method,Turbidity - Tool,pH,pH - Time,pH - Method,pH - Tool,Microbe Load,Microbe - Time,Microbe - Method,Microbe - Tool
46,"silverside, Atlantic (n)",Menidia menidia,Fish,Z9,Brooklyn Bridge Park - Pier 4,2019-08-07,10:15-10:50am,3:01pm,Event - Seining,114,...,probe,NaN,8.4,10:15am,probe,NaN,NaN,NaN,NaN,NaN
47,bluefish (n),Pomatomus saltatrix,Fish,Z9,Brooklyn Bridge Park - Pier 4,2019-08-07,10:15-10:50am,3:01pm,Event - Seining,5,...,probe,NaN,8.4,10:15am,probe,NaN,NaN,NaN,NaN,NaN
48,"menhaden, Atlantic (n)",Brevoortia tyrannus,Fish,Z9,Brooklyn Bridge Park - Pier 4,2019-08-07,10:15-10:50am,3:01pm,Event - Seining,2,...,probe,NaN,8.4,10:15am,probe,NaN,NaN,NaN,NaN,NaN
49,"herring, Atlantic (n)",Clupea harengus,Fish,Z9,Brooklyn Bridge Park - Pier 4,2019-08-07,10:15-10:50am,3:01pm,Event - Seining,1,...,probe,NaN,8.4,10:15am,probe,NaN,NaN,NaN,NaN,NaN
50,"Hermit Crab, Long-wristed",Pagurus longicarpus,Invertebrate,Z9,Brooklyn Bridge Park - Pier 4,2019-08-07,10:15-10:50am,3:01pm,Event - Seining,1,...,probe,NaN,8.4,10:15am,probe,NaN,NaN,NaN,NaN,NaN
51,"Mudsnail, Eastern",Tritia obsoleta,Invertebrate,Z9,Brooklyn Bridge Park - Pier 4,2019-08-07,10:15-10:50am,3:01pm,Event - Seining,2,...,probe,NaN,8.4,10:15am,probe,NaN,NaN,NaN,NaN,NaN
52,Soft-shell Clam (Steamer Clam),Mya arenaria,Invertebrate,Z9,Brooklyn Bridge Park - Pier 4,2019-08-07,10:15-10:50am,3:01pm,Event - Seining,2,...,probe,NaN,8.4,10:15am,probe,NaN,NaN,NaN,NaN,NaN
53,"Mussel, Ribbed",Geukensia demissa,Invertebrate,Z9,Brooklyn Bridge Park - Pier 4,2019-08-07,10:15-10:50am,3:01pm,Event - Seining,2,...,probe,NaN,8.4,10:15am,probe,NaN,NaN,NaN,NaN,NaN
54,Comb Jelly,NaN,Invertebrate,Z9,Brooklyn Bridge Park - Pier 4,2019-08-07,10:15-10:50am,3:01pm,Event - Seining,4,...,probe,NaN,8.4,10:15am,probe,NaN,NaN,NaN,NaN,NaN

In [93]:
mayjundf = pd.read_excel('ERFA_Data_Z9_MayJune2019_PJP.xlsx', sheet_name='Fish (Pooled)')

In [94]:
db = pd.concat([mayjundf,julaugdf])

In [95]:
db = db[db.Method == 'Event - Seining']

In [96]:
db["Date"] = pd.to_datetime(db.Date)

In [97]:
db["Weather & Air Temp (F)"] = ""

In [98]:
db['# of student seiners (CLASSES ONLY)'] = ""

In [99]:
db["# of visitors (Public Seine ONLY)"] = ""

In [100]:
db['Instructors/ Seine Staff:'] = ""

In [101]:
db['# Hauls'] = ""

In [102]:
db['Tide is moving'] = ""

In [103]:
db['Tide Times'] = ""

In [104]:
db2 = db[['Date', 'Time (Range)','Weather & Air Temp (F)','H2O Temp. (°C/°F)', 'Tide Times','Tide is moving', 'DO (ppm)','pH','Salinity (ppt)','Turbidity (NTU)',
   '# of student seiners (CLASSES ONLY)',"# of visitors (Public Seine ONLY)",'Instructors/ Seine Staff:',
   "# Hauls", 'Common Name (or Taxon) - POOLED DATA ','Quantity','Kept/Released','Comments']]

### Set a Kept column to be equal to quantity when we keep it. Also filling all NAs with empty strings for the groupby

In [105]:
db2['Kept'] = db2['Quantity']

C:\Users\shad\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [106]:
mask = db2['Kept/Released'] == "Released"
db2.loc[mask, 'Kept'] = 0

In [109]:
db2 = db2.fillna("")

### grouping to combine same species and summing their counts. Cleaning temp, and getting hauls

In [110]:
grouped_csv  =db2.groupby(['Date', 'Time (Range)','Weather & Air Temp (F)','H2O Temp. (°C/°F)', 'Tide Times','Tide is moving', 'DO (ppm)','pH','Salinity (ppt)','Turbidity (NTU)',
   '# of student seiners (CLASSES ONLY)',"# of visitors (Public Seine ONLY)",'Instructors/ Seine Staff:',
   "# Hauls", 'Common Name (or Taxon) - POOLED DATA ']).sum().reset_index()

In [114]:
grouped_csv['H2O Temp. (°C/°F)'] = grouped_csv['H2O Temp. (°C/°F)'].str.extract('(\d+)')

In [115]:
haul_julaugdf = pd.read_excel('ERFA_Data_Z9_JulyAug2019_PJP.xlsx', sheet_name='Seining')

In [116]:
haul_mayjundf = pd.read_excel('ERFA_Data_Z9_MayJune2019_PJP.xlsx', sheet_name='Seining')

In [117]:
haul_df = pd.concat([haul_julaugdf,haul_mayjundf])

In [118]:
for i, x in haul_df.iterrows():
    mask = grouped_csv['Date'] == x.Date
    column = "# Hauls"
    grouped_csv.loc[mask, column] = x['# Hauls']

In [119]:
grouped_csv.to_csv('grouped_seining_data.csv')

In [121]:
grouped_csv['Date'].unique()

array(['2019-05-30T00:00:00.000000000', '2019-06-01T00:00:00.000000000',
       '2019-06-12T00:00:00.000000000', '2019-06-22T00:00:00.000000000',
       '2019-06-26T00:00:00.000000000', '2019-07-11T00:00:00.000000000',
       '2019-07-13T00:00:00.000000000', '2019-07-25T00:00:00.000000000',
       '2019-08-07T00:00:00.000000000', '2019-08-10T00:00:00.000000000',
       '2019-08-14T00:00:00.000000000', '2019-08-31T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [122]:
grouped_csv[grouped_csv['Date'] == '2019-06-26T00:00:00.000000000']

,Date,Time (Range),Weather & Air Temp (F),H2O Temp. (°C/°F),Tide Times,Tide is moving,DO (ppm),pH,Salinity (ppt),Turbidity (NTU),# of student seiners (CLASSES ONLY),# of visitors (Public Seine ONLY),Instructors/ Seine Staff:,# Hauls,Common Name (or Taxon) - POOLED DATA,Quantity,Kept
42,2019-06-26,2:12pm-n/a,,73,,,8.3,8.05,12.5,10.6546,,,,"7, 4",Clam Worm (Sandworm),1,0
43,2019-06-26,2:12pm-n/a,,73,,,8.3,8.05,12.5,10.6546,,,,"7, 4","Hermit Crab, Long-wristed",1,0
44,2019-06-26,2:12pm-n/a,,73,,,8.3,8.05,12.5,10.6546,,,,"7, 4","Horseshoe Crab, Atlantic",2,0
45,2019-06-26,2:12pm-n/a,,73,,,8.3,8.05,12.5,10.6546,,,,"7, 4",Moon Jelly,3,0
46,2019-06-26,2:12pm-n/a,,73,,,8.3,8.05,12.5,10.6546,,,,"7, 4","Mudsnail, Eastern",9,0
47,2019-06-26,2:12pm-n/a,,73,,,8.3,8.05,12.5,10.6546,,,,"7, 4","bass, striped (n)",2,0
48,2019-06-26,2:12pm-n/a,,73,,,8.3,8.05,12.5,10.6546,,,,"7, 4",bluefish (n),4,0
49,2019-06-26,2:12pm-n/a,,73,,,8.3,8.05,12.5,10.6546,,,,"7, 4","silverside, Atlantic (n)",8,0