In [151]:
import pandas as pd

In [152]:
julaugdf = pd.read_excel('ERFA_Data_Z9_JulyAug2019_PJP.xlsx', sheet_name='Fish (Pooled)')

In [153]:
mayjundf = pd.read_excel('ERFA_Data_Z9_MayJune2019_PJP.xlsx', sheet_name='Fish (Pooled)')

In [154]:
db = pd.concat([mayjundf,julaugdf])

In [155]:
db = db[db.Method == 'Event - Seining']

In [157]:
db["Date"] = pd.to_datetime(db.Date)

In [158]:
db["Weather & Air Temp (F)"] = ""

In [159]:
db['# of student seiners (CLASSES ONLY)'] = ""

In [160]:
db["# of visitors (Public Seine ONLY)"] = ""

In [161]:
db['Instructors/ Seine Staff:'] = ""

In [162]:
db['# Hauls'] = ""

In [163]:
db2 = db[['Date', 'Time (Range)','Weather & Air Temp (F)','H2O Temp. (°C/°F)', 'High Tide', 'DO (ppm)','pH','Salinity (ppt)','Turbidity (NTU)',
   '# of student seiners (CLASSES ONLY)',"# of visitors (Public Seine ONLY)",'Instructors/ Seine Staff:',
   "# Hauls", 'Common Name (or Taxon) - POOLED DATA ','Quantity','Kept/Released','Comments']]

In [164]:
dupsummed = db2[db2[['Date','Common Name (or Taxon) - POOLED DATA ']].duplicated(keep=False)].groupby(['Date','Common Name (or Taxon) - POOLED DATA ']).sum().reset_index()

In [165]:
db22 = db2[~db2[['Date','Common Name (or Taxon) - POOLED DATA ']].duplicated()]

In [166]:
for i, x in dupsummed.iterrows():
    mask = (db22.Date == x.Date) & (db22['Common Name (or Taxon) - POOLED DATA '] == x['Common Name (or Taxon) - POOLED DATA '])
    db22.loc[mask,"Quantity"] = int(x.Quantity)

C:\Users\shad\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [167]:
db22

,Date,Time (Range),Weather & Air Temp (F),H2O Temp. (°C/°F),High Tide,DO (ppm),pH,Salinity (ppt),Turbidity (NTU),# of student seiners (CLASSES ONLY),# of visitors (Public Seine ONLY),Instructors/ Seine Staff:,# Hauls,Common Name (or Taxon) - POOLED DATA,Quantity,Kept/Released,Comments
0,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,"bass, striped (n)",5,Kept,NaN
1,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,"silverside, Atlantic (n)",4,Released,NaN
2,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,"anchovy, bay (n)",50,Released,NaN
3,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,"tomcod, Atlantic (n)",5,Kept,NaN
4,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,alewife (n),1,Released,NaN
5,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,tautog (blackfish) (n),1,Released,NaN
6,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,skilletfish (n),1,Released,NaN
7,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,Sand Shrimp,15,Released,NaN
8,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,Grass Shrimp (Shore Shrimp),10,Released,NaN
9,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,"Periwinkle, Common",3,Released,NaN
10,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,Soft-shell Clam (Steamer Clam),3,Released,NaN
11,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,"Mussel, Ribbed",3,Released,NaN
12,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,"Mudsnail, Eastern",117,Released,NaN
13,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,bluefish (n),1,Released,NaN
14,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,tautog (blackfish) (n),1,Released,NaN
15,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,alewife (n),1,Released,NaN
16,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,"menhaden, Atlantic (n)",6,Released,NaN
17,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,"tomcod, Atlantic (n)",11,Released,NaN
18,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,"pipefish, northern (n)",1,Released,NaN
19,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,Sand Shrimp,13,Released,Length is Body Length
20,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,Grass Shrimp (Shore Shrimp),44,Released,Length is Body Length
21,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,Blue Crab,3,Released,Length is Carapace Width
22,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,"Mussel, Ribbed",2,Released,NaN
23,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,Soft-shell Clam (Steamer Clam),1,Released,NaN
24,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,"Periwinkle, Common",6,Released,NaN
25,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,"Mudsnail, Eastern",44,Released,NaN
26,2019-06-12,4:15pm-5:20pm,,66°F,5:53pm,8,7.70,16.7,21.000000,,,,,"silverside, Atlantic (n)",5,Released,St. Francis after school
27,2019-06-12,4:15pm-5:20pm,,66°F,5:53pm,8,7.70,16.7,21.000000,,,,,"menhaden, Atlantic (n)",3,Released,St. Francis after school
28,2019-06-12,4:15pm-5:20pm,,66°F,5:53pm,8,7.70,16.7,21.000000,,,,,Grass Shrimp (Shore Shrimp),1,Released,St. Francis after school
30,2019-06-22,6:00pm-7:30pm,,70°F,1:31pm,6-7,7.95,13.81,9.506059,,,,,"silverside, Atlantic (n)",22,Released,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,"perch, silver (n)",8,Released,Great Hudson River Fish Count
63,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,"anchovy, bay (n)",12,Released,Great Hudson River Fish Count
64,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,"menhaden, Atlantic (n)",1,Released,Great Hudson River Fish Count
65,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,"needlefish, Atlantic (n)",1,Released,Great Hudson River Fish Count; observed only
66,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,Blue Crab,5,Released,Great Hudson River Fish Count
71,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,Grass Shrimp (Shore Shrimp),3,Released,Great Hudson River Fish Count
72,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,"Mudsnail, Eastern",3,Released,Great Hudson River Fish Count
73,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,"Hermit Crab, Long-wristed",1,Released,Great Hudson River Fish Count
74,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,"anchovy, bay (n)",6,Released,school group
75,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,bluefish (n),5,Released,school group
76,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,"needlefish, Atlantic (n)",2,Released,school group
77,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,"silverside, Atlantic (n)",167,Released,school group
78,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,"Mudsnail, Eastern",7,Released,school group
79,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,Blue Crab,1,Released,school group
80,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,"Mussel, Ribbed",1,Released,school group
81,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,Moon Jelly,18,Released,school group
82,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,Comb Jelly,1,Released,school group
83,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"anchovy, striped (n)",3,Released,Public seine
84,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"menhaden, Atlantic (n)",91,Released,Public seine
85,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"silverside, Atlantic (n)",232,Released,Public seine
86,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"eel, American (n)",1,Released,Public seine
87,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"flounder, winter (n)",1,Released,Public seine
88,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"perch, silver (n)",51,Released,Public seine
89,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,tautog (blackfish) (n),1,Released,Public seine
90,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"pipefish, northern (n)",1,Released,Public seine
91,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,skilletfish (n),2,Released,Public seine
92,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"Horseshoe Crab, Atlantic",3,Released,"Public seine, body length?"
93,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,Blue Crab,1,Released,Public seine; carapace length
94,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"cunner (bergall, chogy) (n)",1,Released,Public seine
95,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,Grass Shrimp (Shore Shrimp),4,Released,Public seine

In [168]:
db22['H2O Temp. (°C/°F)']

,Date,Time (Range),Weather & Air Temp (F),H2O Temp. (°C/°F),High Tide,DO (ppm),pH,Salinity (ppt),Turbidity (NTU),# of student seiners (CLASSES ONLY),# of visitors (Public Seine ONLY),Instructors/ Seine Staff:,# Hauls,Common Name (or Taxon) - POOLED DATA,Quantity,Kept/Released,Comments
0,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,"bass, striped (n)",5,Kept,NaN
1,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,"silverside, Atlantic (n)",4,Released,NaN
2,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,"anchovy, bay (n)",50,Released,NaN
3,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,"tomcod, Atlantic (n)",5,Kept,NaN
4,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,alewife (n),1,Released,NaN
5,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,tautog (blackfish) (n),1,Released,NaN
6,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,skilletfish (n),1,Released,NaN
7,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,Sand Shrimp,15,Released,NaN
8,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,Grass Shrimp (Shore Shrimp),10,Released,NaN
9,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,"Periwinkle, Common",3,Released,NaN
10,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,Soft-shell Clam (Steamer Clam),3,Released,NaN
11,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,"Mussel, Ribbed",3,Released,NaN
12,2019-05-30,9:30am-1:00pm,,66°F,7:08am,9.57,7.90,17.47,48.100000,,,,,"Mudsnail, Eastern",117,Released,NaN
13,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,bluefish (n),1,Released,NaN
14,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,tautog (blackfish) (n),1,Released,NaN
15,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,alewife (n),1,Released,NaN
16,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,"menhaden, Atlantic (n)",6,Released,NaN
17,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,"tomcod, Atlantic (n)",11,Released,NaN
18,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,"pipefish, northern (n)",1,Released,NaN
19,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,Sand Shrimp,13,Released,Length is Body Length
20,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,Grass Shrimp (Shore Shrimp),44,Released,Length is Body Length
21,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,Blue Crab,3,Released,Length is Carapace Width
22,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,"Mussel, Ribbed",2,Released,NaN
23,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,Soft-shell Clam (Steamer Clam),1,Released,NaN
24,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,"Periwinkle, Common",6,Released,NaN
25,2019-06-01,11:30am-1:00pm,,64°F,7:57am,7-8,9.80,20,NaN,,,,,"Mudsnail, Eastern",44,Released,NaN
26,2019-06-12,4:15pm-5:20pm,,66°F,5:53pm,8,7.70,16.7,21.000000,,,,,"silverside, Atlantic (n)",5,Released,St. Francis after school
27,2019-06-12,4:15pm-5:20pm,,66°F,5:53pm,8,7.70,16.7,21.000000,,,,,"menhaden, Atlantic (n)",3,Released,St. Francis after school
28,2019-06-12,4:15pm-5:20pm,,66°F,5:53pm,8,7.70,16.7,21.000000,,,,,Grass Shrimp (Shore Shrimp),1,Released,St. Francis after school
30,2019-06-22,6:00pm-7:30pm,,70°F,1:31pm,6-7,7.95,13.81,9.506059,,,,,"silverside, Atlantic (n)",22,Released,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,"perch, silver (n)",8,Released,Great Hudson River Fish Count
63,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,"anchovy, bay (n)",12,Released,Great Hudson River Fish Count
64,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,"menhaden, Atlantic (n)",1,Released,Great Hudson River Fish Count
65,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,"needlefish, Atlantic (n)",1,Released,Great Hudson River Fish Count; observed only
66,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,Blue Crab,5,Released,Great Hudson River Fish Count
71,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,Grass Shrimp (Shore Shrimp),3,Released,Great Hudson River Fish Count
72,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,"Mudsnail, Eastern",3,Released,Great Hudson River Fish Count
73,2019-08-10,11:00am-1:00pm,,77°F,5:23am,7-8,NaN,24,NaN,,,,,"Hermit Crab, Long-wristed",1,Released,Great Hudson River Fish Count
74,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,"anchovy, bay (n)",6,Released,school group
75,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,bluefish (n),5,Released,school group
76,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,"needlefish, Atlantic (n)",2,Released,school group
77,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,"silverside, Atlantic (n)",167,Released,school group
78,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,"Mudsnail, Eastern",7,Released,school group
79,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,Blue Crab,1,Released,school group
80,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,"Mussel, Ribbed",1,Released,school group
81,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,Moon Jelly,18,Released,school group
82,2019-08-14,10:00-11:20am,,75.5°F,8:48am,5.18,8.07,23.32,7.500000,,,,,Comb Jelly,1,Released,school group
83,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"anchovy, striped (n)",3,Released,Public seine
84,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"menhaden, Atlantic (n)",91,Released,Public seine
85,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"silverside, Atlantic (n)",232,Released,Public seine
86,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"eel, American (n)",1,Released,Public seine
87,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"flounder, winter (n)",1,Released,Public seine
88,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"perch, silver (n)",51,Released,Public seine
89,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,tautog (blackfish) (n),1,Released,Public seine
90,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"pipefish, northern (n)",1,Released,Public seine
91,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,skilletfish (n),2,Released,Public seine
92,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"Horseshoe Crab, Atlantic",3,Released,"Public seine, body length?"
93,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,Blue Crab,1,Released,Public seine; carapace length
94,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,"cunner (bergall, chogy) (n)",1,Released,Public seine
95,2019-08-31,4:10-6:00pm,,75°F,9:49am,6.5,8.20,22.6,NaN,,,,,Grass Shrimp (Shore Shrimp),4,Released,Public seine

In [141]:
haul_julaugdf = pd.read_excel('ERFA_Data_Z9_JulyAug2019_PJP.xlsx', sheet_name='Seining')

In [142]:
haul_mayjundf = pd.read_excel('ERFA_Data_Z9_MayJune2019_PJP.xlsx', sheet_name='Seining')

In [145]:
haul_df = pd.concat([haul_julaugdf,haul_mayjundf])

In [148]:
for i, x in haul_df.iterrows():
    mask = db22['Date'] == x.Date
    column = "# Hauls"
    db22.loc[mask, column] = x['# Hauls']

C:\Users\shad\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [150]:
db22.to_csv('google_sheets_format_sein_2019.csv')

In [143]:
haul_julaugdf

,Event Type,Event Host,Date,Start Time,End Time,# Registered,# Attendees,# Seiners,# Nets,Net Size (ft),# Hauls,Comments
0,Event- Seining (HS Program),Brooklyn Bridge Park,7/11/19,10:00am,1:00pm,Pending,24,3.0,2.0,"20ft, 20ft",17,NaN
1,Seining,Brooklyn Bridge Park,7/13/19,10:30am,12:30pm,Pending,NaN,6.0,2.0,"20ft(green), 20ft(white)","4, 7",NaN
2,Seining - AMNH,Brooklyn Bridge Park,7/25/19,10:00am,11:45am,Pending,26,8.0,2.0,"20ft, 20ft",17,NaN
3,Seining,Brooklyn Bridge Park,8/7/19,10:15am,10:50am,Pending,none (school cancelled),4.0,1.0,20ft (green),4,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Pending,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Need to confirm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN