In [2]:
import pandas as pd

In [4]:
julaugdf = pd.read_excel('ERFA_Data_Z9_JulyAug2019_PJP.xlsx', sheet_name='Fish (Pooled)')

In [5]:
mayjundf = pd.read_excel('ERFA_Data_Z9_MayJune2019_PJP.xlsx', sheet_name='Fish (Pooled)')

In [8]:
db = pd.concat([mayjundf,julaugdf])

In [9]:
db[db.duplicated()]

,Common Name (or Taxon) - POOLED DATA,Scientific Name,Fish/Invert,Zone,Site,Date,Time (Range),High Tide,Method,Quantity,...,Turbidity - Method,Turbidity - Tool,pH,pH - Time,pH - Method,pH - Tool,Microbe Load,Microbe - Time,Microbe - Method,Microbe - Tool
70,Blue Crab,Callinectes sapidus,Invertebrate,Z9,Brooklyn Bridge Park - Pier 4,2019-08-10 00:00:00,11:00am-1:00pm,5:23am,Event - Seining,1,...,Secchi Tube (120cm),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN