In [1]:
import pandas as pd
import dateutil.parser
import re
import numpy as np

In [2]:
df = pd.read_csv('../Created CSVs/all_seins_all_data_standard_dates.csv')

In [3]:
df['Date'] =  [dateutil.parser.parse(date) for date in list(df['Date'])]

In [4]:
def fix_ph(pH_li):
    pH_list  = []
    pH_li = pH_li.fillna('')
    pH_lists  = [re.findall('\d+\.*', x ) for x in pH_li]

    for pH in pH_lists:
        if len(pH) == 0:
            pH_list.append(np.NaN)
        elif len(pH) ==  1:
            pH_list.append(pH[0])
            #print pH[0]
        elif pH[0][-1] == '.':
            pH_list.append(pH[0]+pH[1])
            #print pH[0]+pH[1]
        else:
            pH_list.append(pH[0])
            #print 'bad',pH[1], pH
    #pHCompare['pH'] = pH_list
    return [float(x) for x in pH_list]

In [5]:
df['pH'] = fix_ph(df['pH'])

In [6]:
def fix_water_temp(h20_temp_list):
    water_temp_list = []
    h20_temp_list = h20_temp_list.fillna('')
    h20_temp_list  = [re.findall('\d+\.*', x ) for x in h20_temp_list]
    for temp in h20_temp_list:
        #print temp
        if len(temp) == 0:
            water_temp_list.append(np.NaN)
        elif len(temp) ==  1:
            if int(temp[0]) < 30:
                new_temp = int(temp[0]) * 9.0/5 + 32
                water_temp_list.append(str(new_temp))
            else:
                water_temp_list.append(temp[0])
            #print pH[0]
        elif temp[0][-1] == '.':
            water_temp_list.append(temp[0]+temp[1])
            #print pH[0]+pH[1]
        else:
            water_temp_list.append(temp[0])
    
    return [float(x) for x in water_temp_list]

In [7]:
df["Water Temp:"] = fix_water_temp(df['Water Temp:'])

In [8]:
def fix_salinity(sal_list):
    salinity = []
    for sal in sal_list:
        if sal != sal:
            salinity.append(sal)
        elif any(char.isdigit() for char in sal) == False:
            salinity.append(np.NAN)
        else:
            first_num  = re.search(r'\d+', sal).group()
            salinity.append(first_num)
    return [float(x) for x in salinity]

In [9]:
df['Salinity'] = fix_salinity(df['Salinity'])

In [10]:
def fix_DO(DO_list):
    cleaned_list = []
    DO_list = DO_list.fillna('')
    DO_list  = [re.findall('\d+\.*', x ) for x in DO_list]

    for DO in DO_list:
        if len(DO) == 0:
            cleaned_list.append(np.NaN)
        else:
            cleaned_list.append(int(DO[0]))
       
    return cleaned_list

In [11]:
df['DO'] = fix_DO(df['DO'])

In [14]:
df['Quantity'] = df['Quantity'].fillna(1)

In [18]:
def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        return False

In [16]:
def fix_quantity(quant_list):
    num_caught_list = []
    for num in list(quant_list):
        if type(num) ==  int:
            num_caught_list.append(num)
        elif is_number(num):
            num_caught_list.append(int(float(num)))
        else:
            number = ''
            started = False
            for char in num:
                if char.isdigit():
                    number += char
                    started = True
                else:
                    if char == '~':
                        print started
                    if started:
                        break
            if len(number):
                num_caught_list.append(int(number))
            else:
                if num in ['Numerous', 'TMTC', 'Too Many To Count']:
                    num_caught_list.append(30)
                else:
                    num_caught_list.append(1)
    return num_caught_list

In [19]:
df['Quantity'] = fix_quantity(df['Quantity'])

False
False
False

,Unnamed: 0,Date,Time,Weather & Air Temp:,Water Temp:,Tide Times,Tide is moving,DO,pH,Salinity,...,# student seiners (CLASSES ONLY),# of visitors (Public Seine ONLY),Instructors/ Seine Staff:,# Hauls,Scientific Name,Common Name,Quantity,# Brought to Ed Center,"Other info (Gender, Length, Dead/Alive, other physical description)",NOTES FROM SEINEING SEASON:
181,181,2011-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,anchovy,73,NaN,NaN,NaN
575,575,2015-09-25,10:00-1:00 PM,70 F Sunny,NaN,NaN,NaN,4.0,7.0,22.0,...,NaN,70,"Isa, Nim, Shellita, Beth, Andrew, Shawn, Chris...",NaN,Menidia Menidia,Atlantic Silverside,73,NaN,Alive,NaN