In [1]:
import pandas as pd
import dateutil.parser
import re
import numpy as np

In [2]:
df = pd.read_csv('../Created CSVs/all_seins_all_data_standard_dates.csv')

In [3]:
df['Date'] =  [dateutil.parser.parse(date) for date in list(df['Date'])]

In [4]:
def fix_ph(pH_li):
    pH_list  = []
    pH_li = pH_li.fillna('')
    pH_lists  = [re.findall('\d+\.*', x ) for x in pH_li]

    for pH in pH_lists:
        if len(pH) == 0:
            pH_list.append(np.NaN)
        elif len(pH) ==  1:
            pH_list.append(pH[0])
            #print pH[0]
        elif pH[0][-1] == '.':
            pH_list.append(pH[0]+pH[1])
            #print pH[0]+pH[1]
        else:
            pH_list.append(pH[0])
            #print 'bad',pH[1], pH
    #pHCompare['pH'] = pH_list
    return [float(x) for x in pH_list]

In [5]:
df['pH'] = fix_ph(df['pH'])

In [6]:
def fix_water_temp(h20_temp_list):
    water_temp_list = []
    h20_temp_list = h20_temp_list.fillna('')
    h20_temp_list  = [re.findall('\d+\.*', x ) for x in h20_temp_list]
    for temp in h20_temp_list:
        #print temp
        if len(temp) == 0:
            water_temp_list.append(np.NaN)
        elif len(temp) ==  1:
            if int(temp[0]) < 30:
                new_temp = int(temp[0]) * 9.0/5 + 32
                water_temp_list.append(str(new_temp))
            else:
                water_temp_list.append(temp[0])
            #print pH[0]
        elif temp[0][-1] == '.':
            water_temp_list.append(temp[0]+temp[1])
            #print pH[0]+pH[1]
        else:
            water_temp_list.append(temp[0])
    
    return [float(x) for x in water_temp_list]

In [7]:
df["Water Temp:"] = fix_water_temp(df['Water Temp:'])

In [8]:
def fix_salinity(sal_list):
    salinity = []
    for sal in sal_list:
        if sal != sal:
            salinity.append(sal)
        elif any(char.isdigit() for char in sal) == False:
            salinity.append(np.NAN)
        else:
            first_num  = re.search(r'\d+', sal).group()
            salinity.append(first_num)
    return [float(x) for x in salinity]

In [9]:
df['Salinity'] = fix_salinity(df['Salinity'])

In [10]:
def fix_DO(DO_list):
    cleaned_list = []
    DO_list = DO_list.fillna('')
    DO_list  = [re.findall('\d+\.*', x ) for x in DO_list]

    for DO in DO_list:
        if len(DO) == 0:
            cleaned_list.append(np.NaN)
        else:
            cleaned_list.append(int(DO[0]))
       
    return cleaned_list

In [11]:
df['DO'] = fix_DO(df['DO'])

In [18]:
def fix_tide_is_moving(tide_move_li):
    clean_li = []
    for val in tide_move_li:
        if val != val:
            clean_li.append(val)
        else:
            clean_li.append(val.upper())
    return clean_li

In [19]:
df['Tide is moving'] =  fix_tide_is_moving(df['Tide is moving'])

In [22]:
df.columns.values

array(['Unnamed: 0', 'Date', 'Time', 'Weather & Air Temp:', 'Water Temp:',
       'Tide Times', 'Tide is moving', 'DO', 'pH', 'Salinity', 'Turbidity',
       '# student seiners (CLASSES ONLY)',
       '# of visitors (Public Seine ONLY)', 'Instructors/ Seine Staff:',
       '# Hauls', 'Scientific Name', 'Common Name', 'Quantity',
       '# Brought to Ed Center',
       'Other info (Gender, Length, Dead/Alive, other physical description)',
       'NOTES FROM SEINEING SEASON:'], dtype=object)

In [32]:
def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        return False

In [35]:
def fix_quantity(quant_li):
    quant_li = quant_li.fillna(1)
    num_caught_list = []
    for num in list(quant_li):
        if type(num) ==  int:
            num_caught_list.append(num)
        elif is_number(num):
            num_caught_list.append(int(float(num)))
        else:
            number = ''
            started = False
            for char in num:
                if char.isdigit():
                    number += char
                    started = True
                else:
                    if char == '~':
                        print started
                    if started:
                        break
            if len(number):
                num_caught_list.append(int(number))
            else:
                if num in ['Numerous', 'TMTC', 'Too Many To Count']:
                    num_caught_list.append(30)
                else:
                    num_caught_list.append(1)
    return num_caught_list

In [39]:
df['Quantity'] = fix_quantity(df['Quantity'])

False
False
False

In [41]:
df[['Date', 'Common Name', 'Quantity']]

          Date                                     Common Name  Quantity
0   2008-09-13                                      sea squirt         1
1   2008-09-13                                    shore shrimp         1
2   2008-09-13                                   mantis shrimp         1
3   2008-09-13                                     sand shrimp         1
4   2008-09-13                                     hermit crab         1
5   2008-09-13                                 oyster toadfish         1
6   2008-09-13                                    striped bass         1
7   2008-09-13                               northern kingfish         1
8   2008-09-13                               northern pipefish         1
9   2008-09-13                                striped searobin         1
10  2008-09-13                             Atlantic silverside         1
11  2008-09-13                                         anchovy         1
12  2008-09-13                                       blue crab         1
13  2008-09-13                                       lady crab         1
14  2008-09-13                                 winter flounder         1
15  2008-09-13                                      comb jelly         1
16  2008-09-13                           lion's mane jellyfish         1
17  2009-06-20                                     bay anchovy         1
18  2009-06-20                               northern pipefish         1
19  2009-06-20                                    striped bass         1
20  2009-06-20                                    shore shrimp         1
21  2009-06-20                                     sand shrimp         1
22  2009-06-20                                     sea squirts         1
23  2009-06-20                                       blue crab         1
24  2009-06-20                                      comb jelly         1
25  2009-06-20                                        hydroids         1
26  2009-06-20                                    hermit crab,         1
27  2009-06-20                                          snails         1
28  2009-06-20  Two hemigrapsis molts were found on the beach.         1
29  2009-09-23        Lion's mane Jellyfish (Cyanea capillata)         1
..         ...                                             ...       ...
867 2017-08-20                                    Striped Bass         8
868 2017-08-20                               Atlantic Menhaden         1
869 2017-08-20                             Atlantic Silverside        16
870 2017-08-20                                    Silver Perch         6
871 2017-08-20                                 Winter Flounder         1
872 2017-08-20                     Herring SPP (pre metamorph)        10
873 2017-08-20                                    Grass Shrimp         2
874 2017-08-20                                     Sand Shrimp         1
875 2017-08-20                                        Mud Crab         3
876 2017-08-20                                     Hermit Crab         1
877 2017-08-20                                Asian Shore Crab         4
878 2017-08-20                                       Blue Crab         2
879 2017-08-20                                       Mud Snail         5
880 2017-08-20                                    Oyster Drill         2
881 2017-08-20                                      Comb Jelly         7
882 2017-08-20                                      Moon Jelly         1
883 2017-09-17                                  YOY Silverside         6
884 2017-09-17                                   Spotted Whiff         1
885 2017-09-17                                    Striped Bass         1
886 2017-09-17                                       Blue Crab         5
887 2017-09-17                                       Lady Crab         1
888 2017-09-17                                Asian Shore Crab        12
889 2017-09-17                                      Silverside         1
890 2017-09-17                                          Grubby         1
891 2017-09-17                                      Comb Jelly        30
892 2017-09-17                                    Shore Shrimp         2
893 2017-10-07                                      Comb Jelly        30
894 2017-10-07                                Asian Shore Crab        14
895 2017-10-07                                    Oyster Drill         4
896 2017-10-07                                      Mud Snails         9

[897 rows x 3 columns]