# Plan: Reformat to include Date, Time, Weathe & Air Temp, Water Temp, Tide Times, Tide is Moving, DO, PH, Salinity, Turbidity, # of Student Seiners, # of visitors, Instructors/ Seine Staff, Hauls, Common Name, Quantity,  # Brought to Ed Center, Other Info, Notes from seining season,

## Matching to the 2017 version. No other season has all of these columns.

In [156]:
import pandas as pd
import numpy as np
from datetime import datetime

In [157]:
def reformat_recent(df):
    init_list = df.columns.values[:14]
    curr_vals = df.loc[0][:14]
    for i, row in df.iterrows():
        if pd.isnull(df.loc[i,'Date']):
            df.loc[i] = list(curr_vals) + list(df.loc[i][14:])
        else:
            curr_vals = df.loc[i][:14]
    return df

In [158]:
csv_2008 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=737788186&format=csv'
csv_2009 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1188626592&format=csv'
csv_2010 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1492092969&format=csv'
csv_2011 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1154911519&format=csv'
csv_2012 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1815364461&format=csv'
csv_2013 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1417342758&format=csv'
csv_2014 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1605738199&format=csv'
csv_2015 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=0&format=csv'
csv_2016 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=1068275557&format=csv'
csv_2017 = 'https://docs.google.com/spreadsheets/d/1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g/export?gid=126889157&format=csv'

In [159]:
combined_df = reformat_recent(pd.read_csv(csv_2017))

combined_df['Scientific Name'] = ''

In [160]:
combined_df =  combined_df[list(combined_df.columns.values[:14])+list(combined_df.columns.values[-1:]) + list(combined_df.columns.values[14:-1])]

In [161]:
df_2016 =  pd.read_csv(csv_2016)

df_2016['Tide Times'] = ''
df_2016['Tide is moving'] = ''
df_2016['Turbidity'] = ''
df_2016['NOTES FROM SEINEING SEASON:'] = ""

df_2016.rename(columns={"Weather (exact air temp):": 'Weather & Air Temp:', "# student seiners (12+)": '# student seiners (CLASSES ONLY)',"# of visitors (Public Seine)":'# of visitors (Public Seine ONLY)'}, inplace=True)

df_2016 = df_2016[combined_df.columns.values]

In [162]:
df_2016 = reformat_recent(df_2016)

In [163]:
combined_df = pd.concat([df_2016,combined_df], axis=0)

In [164]:
combined_df

,Date,Time,Weather & Air Temp:,Water Temp:,Tide Times,Tide is moving,DO,pH,Salinity,Turbidity,# student seiners (CLASSES ONLY),# of visitors (Public Seine ONLY),Instructors/ Seine Staff:,# Hauls,Scientific Name,Common Name,Quantity,# Brought to Ed Center,"Other info (Gender, Length, Dead/Alive, other physical description)",NOTES FROM SEINEING SEASON:
0,5/26/2016,4:30-5:30 PM,86 F,70 F,,,6,did not do,35 ppt,,"~ 18, St. Francis",NaN,Christina,~7,Ctenophora,Comb Jelly,11,11,died because of bubbler,
1,5/31/2016,10:00 AM- 12:00PM,"75 F, breezy",70 F,,,4,7,35 ppt,,NaN,NaN,"Christina, Sigrun, Isa, Eliza, 1 volunteer, 3 ...",10,NaN,pipefish,1,NaN,~10 cm,
2,5/31/2016,10:00 AM- 12:00PM,"75 F, breezy",70 F,,,4,7,35 ppt,,NaN,NaN,"Christina, Sigrun, Isa, Eliza, 1 volunteer, 3 ...",10,NaN,Altanic Silverside,4,4,eaten quickly by tank fish,
3,5/31/2016,10:00 AM- 12:00PM,"75 F, breezy",70 F,,,4,7,35 ppt,,NaN,NaN,"Christina, Sigrun, Isa, Eliza, 1 volunteer, 3 ...",10,NaN,mud snail,1,1,~2 cm,
4,5/31/2016,10:00 AM- 12:00PM,"75 F, breezy",70 F,,,4,7,35 ppt,,NaN,NaN,"Christina, Sigrun, Isa, Eliza, 1 volunteer, 3 ...",10,NaN,whelk snail,1,NaN,"~2 cm, may be different snail speices",
5,5/31/2016,10:00 AM- 12:00PM,"75 F, breezy",70 F,,,4,7,35 ppt,,NaN,NaN,"Christina, Sigrun, Isa, Eliza, 1 volunteer, 3 ...",10,NaN,ghost shrimp,3,3,NaN,
6,5/31/2016,10:00 AM- 12:00PM,"75 F, breezy",70 F,,,4,7,35 ppt,,NaN,NaN,"Christina, Sigrun, Isa, Eliza, 1 volunteer, 3 ...",10,NaN,Green crab,2,NaN,NaN,
7,5/31/2016,10:00 AM- 12:00PM,"75 F, breezy",70 F,,,4,7,35 ppt,,NaN,NaN,"Christina, Sigrun, Isa, Eliza, 1 volunteer, 3 ...",10,NaN,Asian Shore Crab,~20,4,most females pregnant,
8,5/31/2016,10:00 AM- 12:00PM,"75 F, breezy",70 F,,,4,7,35 ppt,,NaN,NaN,"Christina, Sigrun, Isa, Eliza, 1 volunteer, 3 ...",10,NaN,Mussels,~6,NaN,NaN,
9,5/31/2016,10:00 AM- 12:00PM,"75 F, breezy",70 F,,,4,7,35 ppt,,NaN,NaN,"Christina, Sigrun, Isa, Eliza, 1 volunteer, 3 ...",10,NaN,comb jelly,~50,11,NaN,
10,6/1/2016,10:00AM- 12:00PM,77 F,70 F,,,4,7,24 ppt,,NaN,NaN,"Christina, Eliza, Haley, Isa, BOP",?,NaN,Silverside,2,NaN,NaN,
11,6/1/2016,10:00AM- 12:00PM,77 F,70 F,,,4,7,24 ppt,,NaN,NaN,"Christina, Eliza, Haley, Isa, BOP",?,NaN,Atlantic Tomcod,1,NaN,NaN,
12,6/1/2016,10:00AM- 12:00PM,77 F,70 F,,,4,7,24 ppt,,NaN,NaN,"Christina, Eliza, Haley, Isa, BOP",?,NaN,pipefish,1,1,NaN,
13,6/1/2016,10:00AM- 12:00PM,77 F,70 F,,,4,7,24 ppt,,NaN,NaN,"Christina, Eliza, Haley, Isa, BOP",?,NaN,Asian Shore Crab,5,NaN,1 male (missing claw) 1 female (pregnant) 3 yo...,
14,6/1/2016,10:00AM- 12:00PM,77 F,70 F,,,4,7,24 ppt,,NaN,NaN,"Christina, Eliza, Haley, Isa, BOP",?,NaN,YOY crab (Blue Crab),1,NaN,NaN,
15,6/1/2016,10:00AM- 12:00PM,77 F,70 F,,,4,7,24 ppt,,NaN,NaN,"Christina, Eliza, Haley, Isa, BOP",?,NaN,Mussels,2,NaN,NaN,
16,6/1/2016,10:00AM- 12:00PM,77 F,70 F,,,4,7,24 ppt,,NaN,NaN,"Christina, Eliza, Haley, Isa, BOP",?,NaN,comb jelly,25,NaN,NaN,
17,6/1/2016,10:00AM- 12:00PM,77 F,70 F,,,4,7,24 ppt,,NaN,NaN,"Christina, Eliza, Haley, Isa, BOP",?,NaN,shrimp,1,NaN,NaN,
18,6/1/2016,10:00AM- 12:00PM,77 F,70 F,,,4,7,24 ppt,,NaN,NaN,"Christina, Eliza, Haley, Isa, BOP",?,NaN,mud snail,2,NaN,1 dead,
19,6/1/2016,10:00AM- 12:00PM,77 F,70 F,,,4,7,24 ppt,,NaN,NaN,"Christina, Eliza, Haley, Isa, BOP",?,NaN,oyster shell,1,NaN,dead,
20,6/1/2016,10:00AM- 12:00PM,77 F,70 F,,,4,7,24 ppt,,NaN,NaN,"Christina, Eliza, Haley, Isa, BOP",?,NaN,Slipper Snail Shell,1,NaN,dead,
21,6/1/2016,10:00AM- 12:00PM,77 F,70 F,,,4,7,24 ppt,,NaN,NaN,"Christina, Eliza, Haley, Isa, BOP",?,NaN,Sandworm,1,NaN,~ 2 inches,
22,6/4/16,2:00PM- 3:30PM,73 F,79 F,,,4,7,22 ppt,,NaN,105,"Isa, Christina, Krista, Ethan, Ryan, Sara, Laura",Many,NaN,Silverside,72,20,5 were dead,
23,6/4/16,2:00PM- 3:30PM,73 F,79 F,,,4,7,22 ppt,,NaN,105,"Isa, Christina, Krista, Ethan, Ryan, Sara, Laura",Many,NaN,comb jelly,80,NaN,NaN,
24,6/4/16,2:00PM- 3:30PM,73 F,79 F,,,4,7,22 ppt,,NaN,105,"Isa, Christina, Krista, Ethan, Ryan, Sara, Laura",Many,NaN,Atlantic Tomcod,1,1,NaN,
25,6/4/16,2:00PM- 3:30PM,73 F,79 F,,,4,7,22 ppt,,NaN,105,"Isa, Christina, Krista, Ethan, Ryan, Sara, Laura",Many,NaN,Striped Bass,11,2,NaN,
26,6/4/16,2:00PM- 3:30PM,73 F,79 F,,,4,7,22 ppt,,NaN,105,"Isa, Christina, Krista, Ethan, Ryan, Sara, Laura",Many,NaN,Green crab,2,1,NaN,
27,6/4/16,2:00PM- 3:30PM,73 F,79 F,,,4,7,22 ppt,,NaN,105,"Isa, Christina, Krista, Ethan, Ryan, Sara, Laura",Many,NaN,Slipper Shell,5,NaN,one dead,
28,6/4/16,2:00PM- 3:30PM,73 F,79 F,,,4,7,22 ppt,,NaN,105,"Isa, Christina, Krista, Ethan, Ryan, Sara, Laura",Many,NaN,Asian Shore Crab,7,NaN,NaN,
29,6/4/16,2:00PM- 3:30PM,73 F,79 F,,,4,7,22 ppt,,NaN,105,"Isa, Christina, Krista, Ethan, Ryan, Sara, Laura",Many,NaN,Sandworm,1,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Striped Bass,8,2,"up to 2.5""",NaN
125,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Atlantic Menhaden,1,NaN,"1""",NaN
126,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Atlantic Silverside,16,8,up to adult size,NaN
127,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Silver Perch,6,6,"up to 2""",NaN
128,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Winter Flounder,1,NaN,"1""",NaN
129,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Herring SPP (pre metamorph),10,NaN,could be atlantic menhaden,NaN
130,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Grass Shrimp,2,NaN,NaN,NaN
131,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Sand Shrimp,1,NaN,NaN,NaN
132,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Mud Crab,3,NaN,NaN,NaN
133,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Hermit Crab,1,NaN,NaN,NaN
134,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Asian Shore Crab,4,NaN,NaN,NaN
135,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Blue Crab,2,NaN,NaN,NaN
136,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Mud Snail,5,NaN,NaN,NaN
137,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Oyster Drill,2,NaN,NaN,NaN
138,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Comb Jelly,7,NaN,could be more,NaN
139,8/20/17,Start: 1:00 PM End: 2:30 PM,75 F Sunny,75 F,Low Tide: 2:00 PM,OUT,4,7.31,21,24,NaN,127,Peter Park,20,,Moon Jelly,1,NaN,NaN,NaN
140,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,YOY Silverside,6,NaN,Released during event,NaN
141,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Spotted Whiff,1,NaN,NaN,NaN
142,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Striped Bass,1,NaN,NaN,NaN
143,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Blue Crab,5,NaN,NaN,NaN
144,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Lady Crab,1,NaN,NaN,NaN
145,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Asian Shore Crab,12,NaN,NaN,NaN
146,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Silverside,1,NaN,adult,NaN
147,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Grubby,1,NaN,NaN,NaN
148,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Comb Jelly,TMTC,NaN,NaN,NaN
149,9/17/17,Start: 11:45 AM End: 1:30 PM,75 F Partly Cloudy,72 F,High Tide: 2:04 AM Low Tide 12:33 AM,Out,6,7.77,23,60,NaN,NaN,"Cynthia F, Isa Del Bello",NaN,,Shore Shrimp,2,NaN,NaN,NaN
150,10/7/17,Start: 3:00 PM End: 4:30 PM,84.5 F,72 F,Low Tide 4:42 PM,Out,6,NaN,20 ppt,0 JTU,11,2,"Eliza, Elizabeth",10,,Comb Jelly,TMTC,1,NaN,NaN
151,10/7/17,Start: 3:00 PM End: 4:30 PM,84.5 F,72 F,Low Tide 4:42 PM,Out,6,NaN,20 ppt,0 JTU,11,2,"Eliza, Elizabeth",10,,Asian Shore Crab,14,1,Caught on rock island,NaN
152,10/7/17,Start: 3:00 PM End: 4:30 PM,84.5 F,72 F,Low Tide 4:42 PM,Out,6,NaN,20 ppt,0 JTU,11,2,"Eliza, Elizabeth",10,,Oyster Drill,4,1,NaN,NaN
153,10/7/17,Start: 3:00 PM End: 4:30 PM,84.5 F,72 F,Low Tide 4:42 PM,Out,6,NaN,20 ppt,0 JTU,11,2,"Eliza, Elizabeth",10,,Mud Snails,9,1,NaN,NaN