In [80]:
import pandas as pd

In [81]:
df = pd.read_csv('Created CSVs/Cleaned_For_Analysis_All_Data.csv')

In [82]:
df.columns

Index([u'Unnamed: 0', u'Date', u'Time', u'Weather & Air Temp:', u'Water Temp:',
       u'Corrected Water Temp:', u'pH', u'Corrected pH', u'DO',
       u'Corrected DO', u'Turbidity', u'Salinity', u'Corrected Salinity',
       u'Tide is moving', u'Tide Times', u'# Hauls', u'Corrected # Hauls',
       u'Common Name', u'Corrected Common Name',
       u'Grouped Corrected Common Name', u'Quantity', u'Corrected Quantity',
       u'Scientific Name', u'Instructors/ Seine Staff:',
       u'# student seiners (CLASSES ONLY)',
       u'# of visitors (Public Seine ONLY)', u'# Brought to Ed Center',
       u'Other info (Gender, Length, Dead/Alive, other physical description)',
       u'NOTES FROM SEINEING SEASON:', u'Battery Park Water Temp'],
      dtype='object')

In [83]:
set(df[['Date','Tide is moving']].dropna()['Tide is moving'])

{'IN', 'OUT', 'OUT/IN', 'Out'}

In [84]:
plt_df  = df[['Date','Tide is moving']].dropna()

In [85]:
plt_df = plt_df[plt_df['Tide is moving'] != 'OUT/IN']

In [86]:
plt_df['Tide is moving'] = plt_df['Tide is moving'].replace('Out', 'OUT')

In [87]:
plt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134 entries, 776 to 917
Data columns (total 2 columns):
Date              134 non-null object
Tide is moving    134 non-null object
dtypes: object(2)
memory usage: 3.1+ KB

In [88]:
plt_df = plt_df.drop_duplicates()

In [89]:
plt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 776 to 914
Data columns (total 2 columns):
Date              13 non-null object
Tide is moving    13 non-null object
dtypes: object(2)
memory usage: 312.0+ bytes

In [90]:
set(plt_df['Tide is moving'])

{'IN', 'OUT'}

In [91]:
nojellydf = df[df['Corrected Common Name'] != "comb jelly"]

In [92]:
summed_df = nojellydf[['Date','Corrected Quantity']].groupby('Date', as_index = False).sum()

In [93]:
pltty_df  =pd.merge(plt_df, summed_df, on ='Date', how='left' )

In [94]:
pltty_df.groupby('Tide is moving').mean()

                Corrected Quantity
Tide is moving
IN                       40.000000
OUT                      41.909091

In [95]:
pltty_df.groupby('Tide is moving').count()

                Date  Corrected Quantity
Tide is moving
IN                 2                   2
OUT               11                  11

In [96]:
import scipy

In [97]:
scipy.stats.ttest_ind(list(pltty_df[pltty_df['Tide is moving']== 'IN']['Corrected Quantity']),list(pltty_df[pltty_df['Tide is moving']== 'OUT']['Corrected Quantity']))

Ttest_indResult(statistic=-0.085620259121480663, pvalue=0.93330683979538032)

# These are not signifigantly different