In [1]:
import pandas as pd

In [5]:
fish_df = pd.read_csv("Created CSVs/Cleaned_For_Analysis_All_Data.csv")

In [6]:
#fish_df = pd.read_csv('Created CSVs/Name_Corrected_All_Seins.csv')

In [7]:
fish_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 29 columns):
Unnamed: 0                                                             1022 non-null int64
Date                                                                   1022 non-null object
Time                                                                   576 non-null object
Weather & Air Temp:                                                    587 non-null object
Water Temp:                                                            454 non-null object
Corrected Water Temp:                                                  311 non-null float64
pH                                                                     537 non-null object
Corrected pH                                                           363 non-null float64
DO                                                                     543 non-null object
Corrected DO                                                           388 non-null float64
Turbidity                                                              234 non-null object
Salinity                                                               555 non-null object
Corrected Salinity                                                     456 non-null float64
Tide is moving                                                         234 non-null object
Tide Times                                                             202 non-null object
# Hauls                                                                405 non-null object
Corrected # Hauls                                                      281 non-null float64
Common Name                                                            1022 non-null object
Corrected Common Name                                                  1022 non-null object
Grouped Corrected Common Name                                          1022 non-null object
Quantity                                                               865 non-null object
Corrected Quantity                                                     1022 non-null int64
Scientific Name                                                        142 non-null object
Instructors/ Seine Staff:                                              543 non-null object
# student seiners (CLASSES ONLY)                                       191 non-null object
# of visitors (Public Seine ONLY)                                      393 non-null object
# Brought to Ed Center                                                 201 non-null object
Other info (Gender, Length, Dead/Alive, other physical description)    277 non-null object
NOTES FROM SEINEING SEASON:                                            4 non-null object
dtypes: float64(5), int64(2), object(22)
memory usage: 231.6+ KB

In [12]:
fish_df = fish_df[["Date","Corrected Common Name", "Grouped Corrected Common Name", "Corrected Quantity"]]

In [13]:
#fish_df = fish_df.fillna(1)

In [14]:
fish_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 4 columns):
Date                             1022 non-null object
Corrected Common Name            1022 non-null object
Grouped Corrected Common Name    1022 non-null object
Corrected Quantity               1022 non-null int64
dtypes: int64(1), object(3)
memory usage: 32.0+ KB

In [20]:
fish_df.tail()

,Date,Corrected Common Name,Grouped Corrected Common Name,Corrected Quantity
1017,2018-10-06,mud snail,sea snail,2
1018,2018-10-18,striped bass,striped bass,8
1019,2018-10-18,atlantic silverside,atlantic silverside,13
1020,2018-10-18,unidentified flatfish,flatfish,1
1021,2018-10-18,unidentified herring,herring,2

In [ ]:
# I want a count of each species in each year

In [18]:
grouped_names = list(set(fish_df["Grouped Corrected Common Name"]))

In [19]:
ungrouped_names = list(set(fish_df["Corrected Common Name"]))

In [21]:
def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        return False

In [22]:
num_caught_list = []
for num in list(fish_df['Number Caught']):
    if type(num) ==  int:
        num_caught_list.append(num)
    elif is_number(num):
        num_caught_list.append(int(float(num)))
    else:
        number = ''
        started = False
        for char in num:
            if char.isdigit():
                number += char
                started = True
            else:
                if char == '~':
                    print started
                if started:
                    break
        if len(number):
            num_caught_list.append(int(number))
        else:
            if num in ['Numerous', 'TMTC', 'Too Many To Count']:
                num_caught_list.append(30)
            else:
                num_caught_list.append(1)

KeyError: 'Number Caught'

In [9]:
len(num_caught_list)

892

In [10]:
fish_df['Number Caught'] = num_caught_list

In [11]:
fish_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 4 columns):
Unnamed: 0       892 non-null int64
Date             892 non-null object
Number Caught    892 non-null int64
Species          892 non-null object
dtypes: int64(2), object(2)
memory usage: 27.9+ KB

In [12]:
fish_df.head()

   Unnamed: 0                 Date  Number Caught      Species
0           0  2008-09-13 00:00:00              1    tunicates
1           1  2008-09-13 00:00:00              1       shrimp
2           2  2008-09-13 00:00:00              1       shrimp
3           3  2008-09-13 00:00:00              1       shrimp
4           4  2008-09-13 00:00:00              1  hermit crab

In [13]:
fish_names = set(list(fish_df['Species']))

In [14]:
fish_df['Date'] = pd.to_datetime(fish_df['Date'])

In [15]:
catch_by_year = fish_df[['Date', 'Species', 'Number Caught']].groupby(fish_df['Date'].map(lambda x: x.year))

In [16]:
year_fish_count = {}
cat =catch_by_year.get_group(2010).groupby('Species').sum()
cat.index

for group in catch_by_year:
    year_fish_count[group[0]] = []
    fish_caught = catch_by_year.get_group(group[0]).groupby('Species').sum()
    for name in sorted(list(fish_names)):
        if name in list(fish_caught.index):
            year_fish_count[group[0]].append(int(fish_caught.loc[name]))
        else:
            year_fish_count[group[0]].append(0)

In [17]:
#year_fish_count

In [18]:
fish_check_list = pd.DataFrame(data = sorted(list(fish_names)), columns = ['Species'] )

In [19]:
#fish_check_list

In [20]:
years = range(2008,2018)

In [21]:
for year in years:
    fish_check_list[year] =  year_fish_count[year]

In [22]:
fish_check_list
fish_check_list['Total Caught'] = fish_check_list[[2008, 2009, 2010, 2011,2012,2013,2014,2015,2016,2017]].sum(axis=1)

In [23]:
total_by_year_list = ['Total Caught Per Year']

for year in fish_check_list.columns.values:
    if type(year) is int:
        total_by_year_list.append(sum(list(fish_check_list[year])))
total_by_year_list.append(sum(list(fish_check_list['Total Caught'])))
print total_by_year_list
fish_check_list.loc[fish_check_list.shape[0]] = total_by_year_list

['Total Caught Per Year', 17, 16, 123, 1345, 664, 685, 175, 792, 1560, 914, 6291]

In [24]:
#fish_check_list[['Species', 'Total Caught']].sort_values('Total Caught', ascending = False)

In [25]:
fish_check_list['Total Seasons'] =  (fish_check_list[[2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]] > 0).sum(1)
fish_check_list['' ] = ''

In [26]:
fish_check_list = pd.concat([fish_check_list,fish_check_list[['Species', 'Total Caught']].sort_values('Total Caught', ascending = False).reset_index()], axis = 1)

In [27]:
fish_check_list  = fish_check_list.drop('index', axis=1)

In [29]:
fish_check_list.to_csv('Created CSVs/Combined_Species_Count_By_Year.csv', index = False)