In [62]:
import pandas as pd
import numpy as np

In [63]:
#fish_df =  pd.read_csv('Seining Data 2008-2017 - 2016 Catch.csv')
#fish2_df = pd.read_csv('fish_Catch_2.csv')

In [64]:
#fish2_df.head(25)

In [65]:
import unicodecsv
import math
import matplotlib.pyplot as plt
from datetime import datetime as dt
import numpy as np
import pandas as pd

def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)

In [66]:
csv_list = []
fish = read_csv('Seining Data 2008-2017 - 2016 Catch.csv')

In [67]:
fish[0]

{u'# Brought to Ed Center': u'11',
 u'# Hauls': u'~7',
 u'# of visitors (Public Seine)': u'N/A',
 u'# student seiners (12+)': u'~ 18, St. Francis',
 u'Common Name': u'Comb Jelly ',
 u'DO': u'6',
 u'Date': u'5/26/2016',
 u'Instructors/ Seine Staff:': u'Christina ',
 u'Other info (Gender, Length, Dead/Alive, other physical description)': u'died because of bubbler',
 u'Quantity': u'11',
 u'Salinity': u'35 ppt',
 u'Scientific Name': u'Ctenophora',
 u'Time': u'4:30-5:30 PM',
 u'Water Temp:': u'70 F',
 u'Weather (exact air temp):': u'86 F',
 u'pH': u'did not do'}

In [68]:
def parse_date(date):
    if date == '':
        return None
    else:
        try:
            return dt.strptime(date, '%m/%d/%Y')
        except:
            return dt.strptime(date, '%m/%d/%y')

In [69]:
for row in fish:
    try:
        if len(row['Date']) > 4:
            new_date = row['Date']
        row['Date'] = parse_date(new_date)
    except:
        print row['Date']

In [70]:
for row in fish:
    try:
        if len(row['# Hauls']) > 0:
            new_hauls = row['# Hauls']
        row['# Hauls'] =  new_hauls
    except:
        print row['# Hauls']

In [71]:
for row in fish:
    try: 
        if len(row['Time']) > 4:
            new_time = row['Time']
        row['Time'] = new_time
    except:
        print row['Time']

In [72]:
for row in fish:
    try:
        if len(row['Water Temp:']) > 0:
            new_temp = row['Water Temp:']
        row['Water Temp:'] = new_temp
    except:
        print row['Water Temp:']

In [73]:
for row in fish:
    try:
        if len(row['Weather (exact air temp):']) > 0:
            new_weather = row['Weather (exact air temp):']
        row['Weather (exact air temp):'] =  new_weather
    except:
        print row['Weather (exact air temp):']

In [74]:
#fish

In [75]:
#for row in fish:
#    fish_df =  pd.concat([fish_df, pd.DataFrame.from_dict(row, orient = 'index' )], axis = 0)

In [87]:
fish_df = pd.DataFrame.from_dict(fish[0], orient = 'index')

In [88]:
fish_df

                                                                          0
DO                                                                        6
Instructors/ Seine Staff:                                        Christina
# of visitors (Public Seine)                                            N/A
# Hauls                                                                  ~7
# Brought to Ed Center                                                   11
# student seiners (12+)                                   ~ 18, St. Francis
Water Temp:                                                            70 F
Salinity                                                             35 ppt
Scientific Name                                                  Ctenophora
Other info (Gender, Length, Dead/Alive, other p...  died because of bubbler
Time                                                           4:30-5:30 PM
Date                                                    2016-05-26 00:00:00
Weather (exact air temp):                                              86 F
pH                                                               did not do
Common Name                                                     Comb Jelly
Quantity                                                                 11