In [254]:
import pandas as pd
import numpy as np
from datetime import datetime

In [255]:
def reformat_recent(df):
    df = df[['Date', 'Common Name', 'Quantity']]
    curr_date = df.loc[1,'Date']
    for i, date in df.iterrows():
        if pd.isnull(df.loc[i, 'Date']):
            df.loc[i, 'Date'] = curr_date
        else:
            df.loc[i, 'Date'] = df.loc[i, 'Date'].split(" ", 1)[0]
            try:
                curr_date = datetime.strptime(df.loc[i, 'Date'], '%m/%d/%Y' )
            except:
                curr_date = datetime.strptime(df.loc[i, 'Date'], '%m/%d/%y' )
            df.loc[i, 'Date'] = curr_date
    df.rename(columns={"Common Name": "Species", "Quantity": "Number Caught"}, inplace=True)
    return df

In [273]:
df_2017_extra = pd.read_csv('Sein_Data/Seining Data 2008-2017 - 2017 Catch.csv')

In [274]:
df_17 =reformat_recent(df_2017_extra)

/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [275]:
df_17

                    Date                      Species Number Caught
0    2017-06-03 00:00:00                   Comb Jelly          TMTC
1    2017-06-03 00:00:00            Atlantic Menhaden             1
2    2017-06-03 00:00:00       YOY Blueback Herring *            14
3    2017-06-03 00:00:00          YOY American Shad *             1
4    2017-06-03 00:00:00             YOY Striped Bass             1
5    2017-06-03 00:00:00                 Shore Shrimp             2
6    2017-06-03 00:00:00                    Mud Snail             3
7    2017-06-03 00:00:00           Oyster Drill Snail             1
8    2017-06-03 00:00:00                YOY Blue Crab             1
9    2017-06-03 00:00:00            Asian Shore Crabs             2
10   2017-06-03 00:00:00                   Snail eggs       unknown
11   2017-06-09 00:00:00       YOY Blueback Herring *            38
12   2017-06-09 00:00:00                   Comb Jelly            20
13   2017-06-09 00:00:00                 Striped Bass             1
14   2017-06-09 00:00:00                  Bay Anchovy             1
15   2017-06-09 00:00:00                    Pipefish              2
16   2017-06-09 00:00:00                  Sand Shrimp            16
17   2017-06-09 00:00:00            Asian Shore Crabs             1
18   2017-06-09 00:00:00  Glass Shrimp (shore shrimp)             1
19   2017-06-09 00:00:00                    Mud Snail             2
20   2017-06-09 00:00:00                          NaN           NaN
21   2017-06-09 00:00:00                          NaN           NaN
22   2017-06-09 00:00:00                          NaN           NaN
23   2017-06-20 00:00:00           Blueback Herring *             5
24   2017-06-20 00:00:00                     Pipefish             1
25   2017-06-20 00:00:00                    Blue Crab            2?
26   2017-06-20 00:00:00             Asian Shore Crab             3
27   2017-06-20 00:00:00                  Sand Shrimp             2
28   2017-06-20 00:00:00                 Glass shrimp             7
29   2017-06-20 00:00:00                    mud snail             6
..                   ...                          ...           ...
151  2017-09-17 00:00:00                          NaN           NaN
152  2017-09-17 00:00:00                          NaN           NaN
153  2017-09-17 00:00:00                          NaN           NaN
154  2017-09-17 00:00:00                          NaN           NaN
155  2017-09-17 00:00:00                          NaN           NaN
156  2017-09-17 00:00:00                          NaN           NaN
157  2017-09-17 00:00:00                          NaN           NaN
158  2017-09-17 00:00:00                          NaN           NaN
159  2017-09-17 00:00:00                          NaN           NaN
160  2017-09-17 00:00:00                          NaN           NaN
161  2017-09-17 00:00:00                          NaN           NaN
162  2017-09-17 00:00:00                          NaN           NaN
163  2017-09-17 00:00:00                          NaN           NaN
164  2017-09-17 00:00:00                          NaN           NaN
165  2017-09-17 00:00:00                          NaN           NaN
166  2017-09-17 00:00:00                          NaN           NaN
167  2017-09-17 00:00:00                          NaN           NaN
168  2017-09-17 00:00:00                          NaN           NaN
169  2017-09-17 00:00:00                          NaN           NaN
170  2017-09-17 00:00:00                          NaN           NaN
171  2017-09-17 00:00:00                          NaN           NaN
172  2017-09-17 00:00:00                          NaN           NaN
173  2017-09-17 00:00:00                          NaN           NaN
174  2017-09-17 00:00:00                          NaN           NaN
175  2017-09-17 00:00:00                          NaN           NaN
176  2017-09-17 00:00:00                          NaN           NaN
177  2017-09-17 00:00:00                          NaN           NaN
178  2017-09-17 00:00:00                          NaN           NaN
179  2017-09-17 00:00:00                          NaN           NaN
180  2017-09-17 00:00:00                          NaN           NaN

[181 rows x 3 columns]

In [256]:
sheet_2012 = '1TH5vctylelJl_yHXJtiAnW48R4dEI-t_E-ObkWZ6-5g'
def reformat_2012(sheet):
    #Read sheet from google sheets
#    df_2012 = pd.read_csv('https://docs.google.com/spreadsheets/d/' + 
#                   sheet +
#                   '/export?gid=1815364461&format=csv'
#                  )

    df_2012 = pd.read_csv('Sein_Data/Seining Data 2008-2017 - 2012 Catch.csv')
    columns = df_2012.columns.values
    #Find columns with 2 // as with dates 03/30/15
    date_columns = [date for date in columns if date.count('/') == 2 ]
    df_list = []
    
    # for every date make a separate dataframe
    for date_col_name in date_columns:
        #get all species names and all values for that day
        abridged_df = df_2012[['Name of Species', date_col_name]].head(50)
        #make column of dates
        try:
            abridged_df['Date'] =  datetime.strptime(date_col_name, '%m/%d/%Y' )
        except:
            abridged_df['Date'] =  datetime.strptime(date_col_name, '%m/%d/`%y' )
        #remove all rows where nothing was caught
        abridged_df = abridged_df.dropna()
        abridged_df.rename(columns={date_col_name: 'Number Caught', 'Name of Species': 'Species'}, inplace=True)
        df_list.append(abridged_df)
    #combine all the dataframes into one big one
    sein_df_2012 = pd.concat(df_list)
    return sein_df_2012

In [257]:
def reformat_2011():
    df_2011 = pd.read_csv('Sein_Data/Seining Data 2008-2017 - 2011 Catch.csv')            
    #set proper column indexes and remove junk rows
    df_2011.columns = df_2011.iloc[1]
    df_2011.reindex(df_2011.index.drop(1))
    df_2011 = df_2011.drop([0,1,36])
    #renaming columns to substitute for blank values '######' with approximations
    df_2011.columns = ['Name of Species', '5/10/2011', '5/14/2011', '5/20/2011', '5/28/2011',
           'Total Number May', '6/11/2011', '6/14/2011', '6/26/2011',
           'Total Number June', '7/10/2011', '7/11/2011', '7/12/2011',
           '7/13/2011', 'Total Number July', '8/02/2011', '8/9/2011',
           '8/10/2011', 'Total Number August', '9/10/2011', '9/20/2011', '9/26/2011',
           'Total Number Sept', 'Total Number October']
    #remove columns that are just sums of past columns
    selected_columns = [col for col in df_2011 if "Total" not in col]
    df_2011 = df_2011[selected_columns]
    df_2011.head()
    df_list_2011 = []
    for col in df_2011.columns.values:
        if col == 'Name of Species':
            continue
        abridged_df = df_2011[['Name of Species', col]]
        abridged_df['Date'] = datetime.strptime(col, '%m/%d/%Y' )
        abridged_df = abridged_df.dropna()
        abridged_df.rename(columns={col: 'Number Caught', 'Name of Species': 'Species'}, inplace=True)
        df_list_2011.append(abridged_df)

    sein_df_2011 = pd.concat(df_list_2011)
    return sein_df_2011

In [258]:
def reformat_2010():
    df_2010 = pd.read_csv('Sein_Data/Seining Data 2008-2017 - 2010 Catch.csv')
    df_2010 = df_2010.drop([0])
    curr_date = df_2010.loc[1]
    for i, date in df_2010.iterrows():
        if pd.isnull(df_2010.loc[i, 'Unnamed: 0']):
            df_2010.loc[i, 'Unnamed: 0'] = curr_date
        else:
            try:
                curr_date = datetime.strptime(df_2010.loc[i, 'Unnamed: 0'], '%A, %B %d, %Y' )
            except:
                date_string = df_2010.loc[i, 'Unnamed: 0'] + ", 2010"
                curr_date = datetime.strptime(date_string, '%A %B %d, %Y' )
            df_2010.loc[i, 'Unnamed: 0'] = curr_date
    df_2010 = df_2010[['Unnamed: 0', 'Seining catch 2010']]
    df_2010 = df_2010.dropna()
    df_2010 = df_2010.drop([1])
    #rename columns
    df_2010.rename(columns={"Unnamed: 0": "Date", "Seining catch 2010": "Species"}, inplace=True)
    df_2010['Number Caught'] = np.NaN
    #datetime_object = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')
    return df_2010

In [259]:
def reformat_2009(): 
    df_2009 = pd.read_csv('Sein_Data/Seining Data 2008-2017 - 2009 Catch.csv')
    df_2009 = df_2009.drop([0,1,16])
    curr_date = df_2009.loc[2]


    for i, date in df_2009.iterrows():
        if pd.isnull(df_2009.loc[i, 'Unnamed: 0']):
            df_2009.loc[i, 'Unnamed: 0'] = curr_date
        else:
            try:
                curr_date = datetime.strptime(df_2009.loc[i, 'Unnamed: 0'], '%A, %B %d, %Y' )
            except:
                date_string = df_2009.loc[i, 'Unnamed: 0'] + ", 2009"
                curr_date = datetime.strptime(date_string, '%A %B %d, %Y' )
            df_2009.loc[i, 'Unnamed: 0'] = curr_date

    df_2009 = df_2009[['Unnamed: 0', 'Seining catch 2009']]
    df_2009 = df_2009.dropna()
    #rename columns
    df_2009.rename(columns={"Unnamed: 0": "Date", "Seining catch 2009": "Species"}, inplace=True)
    df_2009['Number Caught'] = np.NaN
    #datetime_object = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')
    return df_2009

In [260]:
def reformat_2008():
    df_2008 = pd.read_csv('Sein_Data/Seining Data 2008-2017 - 2008 Catch.csv')
    df_2008 = df_2008.drop([0,1])
    curr_date = df_2008.loc[2]

    for i, date in df_2008.iterrows():
            if pd.isnull(df_2008.loc[i, 'Unnamed: 0']):
                df_2008.loc[i, 'Unnamed: 0'] = curr_date
            else:
                try:
                    curr_date = datetime.strptime(df_2008.loc[i, 'Unnamed: 0'], '%A, %B %d, %Y' )
                except:
                    date_string = df_2008.loc[i, 'Unnamed: 0'] + ", 2008"
                    curr_date = datetime.strptime(date_string, '%A %B %d, %Y' )
                df_2008.loc[i, 'Unnamed: 0'] = curr_date

    df_2008 = df_2008.drop([2])

    df_2008 = df_2008[['Unnamed: 0', 'Seining catch 2008']]
    df_2008 = df_2008.dropna()
    #rename columns
    df_2008.rename(columns={"Unnamed: 0": "Date", "Seining catch 2008": "Species"}, inplace=True)
    df_2008['Number Caught'] = np.NaN
    return df_2008

In [261]:
sein_df_2008 = reformat_2008()

In [262]:
sein_df_2009 = reformat_2009()

In [263]:
sein_df_2010 = reformat_2010()

In [264]:
sein_df_2011 = reformat_2011()

/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [265]:
sein_df_2012 = reformat_2012(sheet_2012)

In [266]:
df_2013 = pd.read_csv('Sein_Data/Seining Data 2008-2017 - 2013 Catch.csv')

df_2013.columns = df_2013.iloc[0]
df_2013 = df_2013.drop([0])

sein_df_2013 = reformat_recent(df_2013)

/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/pandas/core/frame.py:2754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [267]:
df_2014 = pd.read_csv('Sein_Data/Seining Data 2008-2017 - 2014 Catch.csv')
sein_df_2014 = reformat_recent(df_2014)

/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [268]:
sein_df_2015 = reformat_recent(pd.read_csv('Sein_Data/Seining Data 2008-2017 - 2015 Catch.csv'))

/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [269]:
sein_df_2016 = reformat_recent(pd.read_csv('Sein_Data/Seining Data 2008-2017 - 2016 Catch.csv'))

/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [270]:
sein_df_2017 = reformat_recent(pd.read_csv('Sein_Data/Seining Data 2008-2017 - 2017 Catch.csv'))

/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/shad/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [271]:
all_seins = pd.concat([sein_df_2008,sein_df_2009,sein_df_2010,sein_df_2011,sein_df_2012, sein_df_2013,sein_df_2014, sein_df_2015, sein_df_2016,sein_df_2017])

In [276]:
all_seins = all_seins.dropna(subset=["Species"])

In [279]:
all_seins.to_csv('all_seins.csv')